{#
  GOV.UK header with school/organisation name and Sign out in the blue bar.
  Call govukServiceNavigation separately in the layout for section links.
#}
{% from "govuk/macros/logo.njk" import govukLogo %}

{% macro signedInHeader(params) %}
  {% set schoolName = params.schoolName | default("St John's C of E Primary School") %}
  {% set organisationName = params.organisationName %}
  {% set accountLabel = organisationName if organisationName else schoolName %}

  <div class="govuk-header govuk-header--full-width-border">
    <div class="govuk-header__container govuk-width-container app-header__container">
      <div class="govuk-header__logo">
        <a href="/" class="govuk-header__homepage-link">
          {{ govukLogo({
            classes: "govuk-header__logotype",
            ariaLabelText: "GOV.UK"
          }) | trim }}
        </a>
      </div>
      <div class="app-header__account">
        <span class="app-header__account-item">{{ accountLabel }}</span>
        <a class="govuk-link govuk-link--inverse app-header__account-item" href="#">Sign out</a>
      </div>
    </div>
  </div>
{% endmacro %}
