{% extends "layouts/admin.html" %}

{% set pageName="Select new contract period for John Smith" %}
{% set activeNav="teachers" %}

{% block beforeContent %}
{{ govukBackLink({
    text: "Back",
    href: "javascript:history.back()"
}) }}
{% endblock %}

{% block content %}
{% if errors and errors.contractPeriod %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
{{ govukErrorSummary({
  titleText: "There is a problem",
  errorList: [
    {
      text: errors.contractPeriod,
      href: "#contract-period"
    }
  ]
}) }}
{% endif %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <form method="post">
      {{govukRadios({
        name: "contract-period",
        errorMessage: { text: errors.contractPeriod } if errors and errors.contractPeriod else false,
        fieldset: {
          legend: {
            text: pageName,
            isPageHeading: true,
            classes: "govuk-fieldset__legend--l"
          }
        },
        items: [
          {
            value: "2022",
            text: "2022",
            checked: (data['contract-period'] or "2022") == "2022"
          },
          {
            value: "2023",
            text: "2023",
            checked: data['contract-period'] == "2023"
          },
          {
            value: "2024",
            text: "2024",
            checked: data['contract-period'] == "2024"
          },
          {
            value: "2025",
            text: "2025",
            checked: data['contract-period'] == "2025"
          }
        ]
      })}}

      <button class="govuk-button" data-module="govuk-button">Continue</button>
    </form>
  </div>
</div>
{% endblock %}
