{% extends "layouts/admin.html" %}

{% set pageName="Confirm schedule change for John Smith" %}
{% set activeNav="teachers" %}

{% block beforeContent %}
{{ govukBackLink({
    text: "Back",
    href: "javascript:history.back()"
}) }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">{{ pageName }}</h1>

    {{ govukSummaryList({
      rows: [
        {
          key: { text: "Existing schedule" },
          value: { text: "Standard, September" }
        },
        {
          key: { text: "New schedule" },
          value: { text: (data['schedule-type'] or "standard") | capitalize + ", " + (data['schedule-start'] or "september") | capitalize }
        }
      ]
    }) }}

    <form method="post" action="../teachers-details?section=training&scheduleChanged=1">
      <button class="govuk-button" data-module="govuk-button">Confirm</button>
    </form>

    <p><a href="../teachers-details?section=overview">Cancel and go back to John Smith</a></p>
  </div>
</div>
{% endblock %}
