{% extends "layouts/ects.html" %}

{% if data['fullName'] %}
{% set name = data['fullName'] %}
{% else %}
{% set name = 'John Smith' %}
{% endif %}

{% set pageName="Which appropriate body will be supporting " + name + "'s induction?" %}

{% block beforeContent %}
{{ govukBackLink({
text: "Back",
href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l">{{ pageName }}</h1>
        <form method="post">
            <p class='govuk-body'>Appropriate bodies are responsible for assuring the quality of the statutory induction of ECTs.</p>
            <p>We share the ECT's details with the appropriate body to check the ECT has been registered correctly.</p>

            {{ xGovukAutocomplete({
            id: "ab",
            name: "ab",
            allowEmpty: false,
            label: {
            text: "Enter appropriate body name"
            },
            items: [
            { text: "DRET Teaching School Hub" },
            { text: "Exchange Teaching School Hub" },
            { text: "Flying High Teaching School Hub" },
            { text: "L.E.A.D. Teaching School Hub Lincolnshire" },
            { text: "Leicester & Leicestershire TSH" },
            { text: "Leicestershire & Rutland TS Hub" },
            { text: "Potentia TSH" },
            { text: "Redhill Teaching Hub" },
            { text: "South Yorkshire Teaching Hub" },
            { text: "Spencer Teaching School Hub" },
            { text: "The Vantage Teaching School Hub North Humber" },
            { text: "Unity Teaching School Hub (Babergh, Colchester, Ipswich, Tendring)" },
            { text: "Cambridgeshire and Peterborough Teaching School Hub" },
            { text: "Chafford Hundred Teaching School Hub" },
            { text: "East London Teaching School Hub" },
            { text: "Inspiration Teaching School Hub" },
            { text: "London District East Teaching School Hub" },
            { text: "North East London Teaching School Hub" },
            { text: "Saffron Teaching School Hub" },
            { text: "The Julian Teaching School Hub" },
            { text: "Unity Teaching School Hub (West Suffolk, Mid Suffolk, East Suffolk South)" },
            { text: "Exceed Teaching School Hub" },
            { text: "Bright Futures Teaching School Hub - Manchester & Stockport" },
            { text: "Bright Futures Teaching School Hub - Salford & Trafford" },
            { text: "Calderdale and Kirklees Teaching School Hub" },
            { text: "Embrace Teaching School Hub (SW Lancashire)" },
            { text: "Exchange Teaching School Hub (Wakefield, North Yorkshire South)" },
            { text: "Generate Teaching Hub" },
            { text: "Inspire Learning Teaching School Hub NW" },
            { text: "Leeds Teaching School Hub" },
            { text: "Rainbow Teaching School Hub" },
            { text: "Star Teaching School Hub Bolton, Bury, Rochdale" },
            { text: "Star Teaching School Hub North West Lancashire" },
            { text: "Star Teaching School Hub Pennine Lancashire" },
            { text: "The East Manchester Teaching Hub" },
            { text: "NELTSH Teaching School Hub" },
            { text: "Northern Lights TSH: South Tyne & Wear" },
            { text: "One Cumbria Teaching School Hub" },
            { text: "Pathfinder Teaching School Hub" },
            { text: "Red Kite Teaching School Hub" },
            { text: "Tees Valley Teaching School Hub" },
            { text: "The Three Rivers Teaching School Hub" },
            { text: "Alban Teaching School Hub" },
            { text: "Astra Teaching School Hub, Buckinghamshire" },
            { text: "Central London Teaching School Hub" },
            { text: "Chiltern Teaching School Hub (Bedford, Central Bedfordshire, Milton Keynes)" },
            { text: "Chiltern Teaching School Hub (Luton, North Hertfordshire, Broxbourne, Stevenage, East Hertfordshire)" },
            { text: "North West London Teaching School Hub" },
            { text: "Northamptonshire Teaching School Hub" },
            { text: "Oxfordshire Teaching School Hub" },
            { text: "Teach West London" },
            { text: "TSH Berkshire" },
            { text: "GLF West Sussex Teaching School Hub" },
            { text: "Harris City Academy Crystal Palace Teaching School Hub" },
            { text: "HISP Teaching School Hub (Southampton, Test Valley, New Forest, Winchester)" },
            { text: "HISP Teaching School Hub (Havant, Gosport, Eastleigh, Fareham, Portsmouth, Isle of Wight)" },
            { text: "Kent Teaching School Hub (Thanet, Swale, Canterbury, Ashford, Folkestone and Hythe, Dover)" },
            { text: "Kent Teaching School Hub (Sevenoaks, Tunbridge Wells, Tonbridge and Malling, Maidstone)" },
            { text: "London South Teaching School Hub" },
            { text: "SFET Teaching School Hub" },
            { text: "STEP Ahead Teaching School Hub" },
            { text: "Thames Gateway Teaching School Hub" },
            { text: "Thames South Teaching School Hub" },
            { text: "Wandle Teaching School Hub" },
            { text: "Xavier Teaching School Hub" },
            { text: "Balcarras" },
            { text: "Colyton Teaching School Hub" },
            { text: "Five Counties Teaching School Hubs Alliance (South Glos/BANES)" },
            { text: "Five Counties Teaching School Hubs Alliance (Bristol/North Somerset)" },
            { text: "Five Counties Teaching School Hubs Alliance (Somerset)" },
            { text: "Kingsbridge Teaching School Hub" },
            { text: "Odyssey Teaching School Hub" },
            { text: "One Cornwall Teaching School Hub (East Cornwall)" },
            { text: "One Cornwall Teaching School Hub (West Cornwall)" },
            { text: "South Central Teaching School Hub" },
            { text: "Swindon and Wiltshire Teaching School Hub" },
            { text: "Star Teaching School Hub Birmingham South" },
            { text: "Arthur Terry Teaching School Hub - North Birmingham" },
            { text: "Cheshire Teaching School Hub" },
            { text: "Coventry and Central Warwickshire Teaching School Hub" },
            { text: "Haybridge Teaching School Hub" },
            { text: "John Taylor Teaching School Hub" },
            { text: "Manor Teaching School Hub" },
            { text: "Prince Henry’s Teaching School Hub" },
            { text: "STEP" },
            { text: "The Golden Thread Teaching School Hub" },
            { text: "Tudor Grange Teaching School Hub" }
            ]

            }) }}

            {{ govukDetails({
            summaryText: "What are the roles of an appropriate body, lead provider and delivery partner?",
            text: "
            <p>An appropriate body is responsible for assuring the quality of the statutory induction of ECTs.</p>
                <p>For provider-led training, the lead provider provides the online learning platform used for training ECTs and mentors, while the delivery partner delivers training events.
                </p>
                <p>These roles are sometimes undertaken by the same organisation, for example an appropriate body might be the same organisation as the delivery partner.
                </p>
                <p>For school-led training your school will still work with an appropriate body to quality assure the induction process. You might choose to design your own training programme or use materials created by different lead providers. </p>"
            |safe }) }}
            <button class="govuk-button">Continue</button>
        </form>
    </div>
</div>

{% endblock %}

{% block pageScripts %}
<!--<script>-->
<!--    document.addEventListener('DOMContentLoaded', function () {-->
<!--        var autocompleteInput = document.querySelector('#ab');-->
<!--        if (autocompleteInput) {-->
<!--            autocompleteInput.setAttribute('placeholder', 'Enter teaching school hub name');-->
<!--        }-->
<!--    });-->
<!--</script>-->
{% endblock %}