{% extends "layouts/ects.html" %}

{% if data['fullName'] %}
{% set name = data['fullName'] %}
{% else %}
{% set name = 'John Smith' %}
{% endif %}

{% set pageName="Which training programme will " + name + " follow?" %}

{% block beforeContent %}
{{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <form method="post">

      {% from "govuk/components/radios/macro.njk" import govukRadios %}

      {{ govukRadios({
        name: "programmeType",
        fieldset: {
          legend: {
            text: pageName,
            isPageHeading: true,
            classes: "govuk-fieldset__legend--l"
          }
        },
        items: [
          {
            value: "Provider-led",
            text: "Provider-led",
            hint: {
            text: "Your school will use Department for Education funded providers to design and deliver training based on the initial teacher training and early career framework."
            }
          },
          {
            value: "School-led",
            text: "School-led",
            hint: {
            text: "Your school will design and deliver your own training based on the initial teacher training and early career framework."
            }
          }
        ]
      }) }}

      <button class="govuk-button">Continue</button>
    </form>
  </div>
</div>

{% endblock %}
