{% extends "layouts/ects.html" %}

{% if data['mentor'] %}
{% set name = data['mentor'] %}
{% else %}
{% set name = 'Samuel Taylor' %}
{% endif %}

{% set pageName="You've registered " + name + " as a mentor" %}

{% block beforeContent %}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <div class="govuk-panel govuk-panel--confirmation">
            <h1 class="govuk-panel__title">
                {{ pageName }}
            </h1>
            <div class="govuk-panel__body">
                for<br><strong>John Smith</strong>
            </div>
        </div>
        <h2 class="govuk-heading-m">What happens next</h2>
        <p>{{name}} is now John Smith’s mentor, and this completes John Smith’s registration as an ECT at your school.</p>
        <p class="govuk-body"> They do not need to give us any more information.</p>
        <p><a href="#">Back to your ECTs</a></p>
    </div>
</div>

{% endblock %}