{% extends "layouts/ects.html" %}

{% set pageName="Save your ECT programme choices" %}

{% block beforeContent %}
{{ govukBackLink({
text: "Back",
href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l">{{ pageName }}</h1>
        <p class="govuk-body">You can save these programme choices as your school's default settings.
        </p>

        {% if data['deliveryPartner'] %}
        {% set dp = data['deliveryPartner'] %}
        {% else %}
        {% set dp = 'London District East TSH' %}
        {% endif %}

        {% if data['leadProvider'] %}
        {% set lp = data['leadProvider'] %}
        {% else %}
        {% set lp = 'Ambition Institute' %}
        {% endif %}


        {{ govukSummaryList({
        rows: [
        {
        key: {
        text: "Lead provider"
        },
        value: {
        text: lp
        }
        },
        {
        key: {
        text: "Delivery partner"
        },
        value: {
        html: dp
        }
        }
        ]
        }) }}

        {% from "govuk/components/inset-text/macro.njk" import govukInsetText %}

        <form method="post">
            {{ govukRadios({
            classes: "govuk-radios--inline",
            name: "saveAsDefault",
            hint: {
            text: "Saving these choices as your school's default settings will make adding future ECTs or mentors easier. It will not change the details of ECTs or mentors you've already added."
            },
            fieldset: {
            legend: {
            text: "Would you like to save these as your school's default choices?",
            isPageHeading: false,
            classes: "govuk-fieldset__legend--m"
            }
            },
            
            items: [
            {
            value: "yes",
            text: "Yes"
            },
            {
            value: "no",
            text: "No"
            }
            ]
            }) }}

            <button class="govuk-button">Continue</button>
        </form>
    </div>
</div>

{% endblock %}
