{% extends "layouts/ects.html" %}

{% set pageName="You cannot register John Smith" %}

{% block beforeContent %}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <form method="post">

            <h1 class="govuk-heading-l">{{ pageName }}</h1>
            <p>Our records show John Smith has already completed their induction and is not eligible for further ECT training.</p>

            <p><a href="../../school/find-ect">Register another ECT</a></p>
        </form>

    </div>
</div>

{% endblock %}
