{% extends "layouts/main.html" %}

{% block pageTitle %}
  Content page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

<!-- {% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
-->


{% endblock %}

{% set schoolName="Abbeymead Secondary School" %}


{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
       You cannot access the Register early career teacher service for {{ schoolName }}
      </h1>

      <p>This could be for different reasons.</p>

     
      <h2 class="govuk-heading-m">
        The school is closed or school details have changed
      </h2>
      <p>The school might have closed or changed, for example, has a new name, become an academy, or merged with another school. </p>

      <p>If the school has changed, sign in to your DfE Sign-in account and request access to:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>the new school</li>
          <li>the 'Register early career teacher' service for the new school</li>
        </ul>

      <h2 class="govuk-heading-m">
        The school is new
      </h2> 

      <p>We might not have set up the new school in our systems yet. Wait a few days and try to sign in again.</p>

      <p>If you continue to have problems, contact us at <a href="mailto:continuing-professional-development@digital.education.gov.uk">continuing-professional-development@digital.education.gov.uk</a>.</p>


      <h2 class="govuk-heading-m">
        The school does not have funding
      </h2>
      <p>The school has never had or has lost funding for the early career teacher entitlement (ECTE).</p>

     

    </div>
  </div>

        
{% endblock %}
