//
// For guidance on how to add CSS and SCSS see:
// https://prototype-kit.service.gov.uk/docs/adding-css-javascript-and-images
// 

// Add extra styles here
@import 'node_modules/dfe-frontend/packages/core/objects/grid';
@import 'node_modules/dfe-frontend/packages/core/objects/width-container';
@import 'node_modules/dfe-frontend/packages/core/settings/colours';
@import 'node_modules/dfe-frontend/packages/core/settings/spacing';
@import 'node_modules/dfe-frontend/packages/core/tools/grid';
@import 'node_modules/dfe-frontend/packages/core/tools/spacing';
@import 'node_modules/dfe-frontend/packages/core/vendor/sass-mq';
@import 'node_modules/dfe-frontend/packages/components/card/card';
@import "components/finder";
@import "components/finance";


.autocomplete__wrapper {
  li {
    margin-bottom: 0!important;
  }
}

.govuk-header__logo {
  margin: 0;
}

.govuk-header {
  line-height: 1.25;

  &__navigation {
    display: flex;

    @include govuk-media-query($from: tablet) {
      justify-content: flex-end;
    }
  }

  &__navigation-item {
    @include govuk-media-query($from: tablet) {
      margin: 0;
      padding-inline: 15px;
      border-left: 1px solid $govuk-border-colour
    }
  }
}