{% extends "layouts/ects.html" %}

{% if data['fullName'] %}
{% set name = data['fullName'] %}
{% else %}
{% set name = 'John Smith' %}
{% endif %}

{% set isWithdrawnLeadProviderFlow = data['withdrawnLeadProviderJourney'] %}

{# Check what type of change this is #}
{% if data['changeType'] == 'name' %}
  {% set isNameChange = true %}
  {% set isEmailChange = false %}
  {% set isLeadProviderChange = false %}
  {% set isAppropriateBodyChange = false %}
  {% set isWorkingPatternChange = false %}
  {% set isTrainingProgrammeChange = false %}
  {% set isMentorChange = false %}
  {% set currentValue = data['previousName'] or name %}
  {% set newValue = data['newName'] %}
  {% set changeField = "name" %}
  {% set changeLabel = "Name" %}
{% elif data['changeType'] == 'email' %}
  {% set isNameChange = false %}
  {% set isEmailChange = true %}
  {% set isLeadProviderChange = false %}
  {% set isAppropriateBodyChange = false %}
  {% set isWorkingPatternChange = false %}
  {% set isTrainingProgrammeChange = false %}
  {% set isMentorChange = false %}
  {% set currentValue = data['previousEmail'] or 'email@example.com' %}
  {% set newValue = data['newEmail'] %}
  {% set changeField = "email address" %}
  {% set changeLabel = "Email address" %}
{% elif data['changeType'] == 'appropriateBody' %}
  {% set isNameChange = false %}
  {% set isEmailChange = false %}
  {% set isLeadProviderChange = false %}
  {% set isAppropriateBodyChange = true %}
  {% set isWorkingPatternChange = false %}
  {% set isTrainingProgrammeChange = false %}
  {% set isMentorChange = false %}
  {% set currentValue = data['previousAppropriateBody'] or 'Alpha Teaching School Hub' %}
  {% set newValue = data['newAppropriateBody'] or 'Alpha Teaching School Hub' %}
  {% set changeField = "appropriate body" %}
  {% set changeLabel = "Appropriate body" %}
{% elif data['changeType'] == 'workingPattern' %}
  {% set isNameChange = false %}
  {% set isEmailChange = false %}
  {% set isLeadProviderChange = false %}
  {% set isAppropriateBodyChange = false %}
  {% set isWorkingPatternChange = true %}
  {% set isTrainingProgrammeChange = false %}
  {% set isMentorChange = false %}
  {% set currentValue = data['previousWorkingPattern'] or 'Full time' %}
  {% set newValue = data['newWorkingPattern'] or 'Full time' %}
  {% set changeField = "working pattern" %}
  {% set changeLabel = "Working pattern" %}
{% elif data['changeType'] == 'trainingProgramme' %}
  {% set isNameChange = false %}
  {% set isEmailChange = false %}
  {% set isLeadProviderChange = false %}
  {% set isAppropriateBodyChange = false %}
  {% set isWorkingPatternChange = false %}
  {% set isTrainingProgrammeChange = true %}
  {% set isMentorChange = false %}
  {% set currentValue = data['previousTrainingProgramme'] or 'Provider-led' %}
  {% set newValue = data['newTrainingProgramme'] or 'Provider-led' %}
  {% set changeField = "training programme" %}
  {% set changeLabel = "Training programme" %}
{% elif data['changeType'] == 'mentor' %}
  {% set isNameChange = false %}
  {% set isEmailChange = false %}
  {% set isLeadProviderChange = false %}
  {% set isAppropriateBodyChange = false %}
  {% set isWorkingPatternChange = false %}
  {% set isTrainingProgrammeChange = false %}
  {% set isMentorChange = true %}
  {% set currentValue = data['previousMentorName'] or 'Not assigned' %}
  {% set newValue = data['newMentorName'] or 'Unknown' %}
  {% set changeField = "mentor" %}
  {% set changeLabel = "Mentor" %}
{% else %}
  {% set isNameChange = false %}
  {% set isEmailChange = false %}
  {% set isLeadProviderChange = true %}
  {% set isAppropriateBodyChange = false %}
  {% set isWorkingPatternChange = false %}
  {% set isTrainingProgrammeChange = false %}
  {% set isMentorChange = false %}
  {% set currentValue = data['previousLeadProvider'] or 'Ambition Institute' %}
  {% set newValue = data['newLeadProvider'] or 'Ambition Institute' %}
  {% set changeField = "lead provider" %}
  {% set changeLabel = "Lead provider" %}
{% endif %}

{% block beforeContent %}
{{ govukBackLink({
text: "Back",
href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l">Check and confirm change</h1>

        {% set summaryRows = [
          {
            key: {
              text: "Early career teacher"
            },
            value: {
              text: name
            }
          }
        ] %}

        {% if isNameChange %}
          {% set summaryRows = summaryRows.concat([
            {
              key: {
                text: "New name"
              },
              value: {
                text: newValue
              }
            }
          ]) %}
        {% elif isEmailChange %}
          {% set summaryRows = summaryRows.concat([
            {
              key: {
                text: "Current email address"
              },
              value: {
                text: currentValue
              }
            },
            {
              key: {
                text: "New email address"
              },
              value: {
                text: newValue
              }
            }
          ]) %}
        {% elif isAppropriateBodyChange %}
          {% set summaryRows = summaryRows.concat([
            {
              key: {
                text: "Current appropriate body"
              },
              value: {
                text: currentValue
              }
            },
            {
              key: {
                text: "New appropriate body"
              },
              value: {
                text: newValue
              }
            }
          ]) %}
        {% elif isWorkingPatternChange %}
          {% set summaryRows = summaryRows.concat([
            {
              key: {
                text: "Current working pattern"
              },
              value: {
                text: currentValue
              }
            },
            {
              key: {
                text: "New working pattern"
              },
              value: {
                text: newValue
              }
            }
          ]) %}
        {% elif isTrainingProgrammeChange %}
          {% set summaryRows = summaryRows.concat([
            {
              key: {
                text: "Current training programme"
              },
              value: {
                text: currentValue
              }
            },
            {
              key: {
                text: "New training programme"
              },
              value: {
                text: newValue
              }
            }
          ]) %}
          
          {# If changing to Provider-led and we have a lead provider, show it #}
          {% if newValue == 'Provider-led' and data['newLeadProvider'] %}
            {% set summaryRows = summaryRows.concat([
              {
                key: {
                  text: "Lead provider"
                },
                value: {
                  text: data['newLeadProvider']
                }
              }
            ]) %}
          {% endif %}
        {% elif isMentorChange %}
          {% set summaryRows = summaryRows.concat([
            {
              key: {
                text: "Current mentor"
              },
              value: {
                text: currentValue
              }
            },
            {
              key: {
                text: "New mentor"
              },
              value: {
                text: newValue
              }
            }
          ]) %}
        {% else %}
          {% if isWithdrawnLeadProviderFlow %}
            {% set summaryRows = summaryRows.concat([
              {
                key: {
                  text: "New lead provider"
                },
                value: {
                  text: newValue
                }
              }
            ]) %}
          {% else %}
            {% set summaryRows = summaryRows.concat([
              {
                key: {
                  text: "Current lead provider"
                },
                value: {
                  text: currentValue
                }
              },
              {
                key: {
                  text: "New lead provider"
                },
                value: {
                  text: newValue
                }
              }
            ]) %}
          {% endif %}
        {% endif %}

        {{ govukSummaryList({
          classes: "govuk-!-margin-bottom-8",
          rows: summaryRows
        }) }}

        <form method="post" novalidate>
            <!-- Pass the ECT ID through the form -->
            {% if data['selectedEctId'] %}
            <input type="hidden" name="id" value="{{ data['selectedEctId'] }}">
            {% endif %}
    
            {{ govukButton({
              text: "Confirm change"
            }) }}
    
        </form>

        <p class="govuk-body">
            <a href="../../view-ect?ect={{ name | lower | replace(' ', '-') }}" class="govuk-link">Cancel and go back to {{ name }}'s details</a>
        </p>

    </div>
</div>

{% endblock %} 
