{% extends "layouts/mentors.html" %}

{% block head %}
{{ super() }} <!-- This includes the content from the base head block -->
{% include "./filters.njk" %}
{% endblock %}

{% set pageName="Mentors" %}

{% if data['schoolName'] %}
{% set schoolName = data['schoolName'] %}
{% else %}
{% set schoolName = 'Test Primary School' %}
{% endif %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <h1 class="govuk-caption-l">{{schoolName}}</h1>
        <h1 class="govuk-heading-l">{{pageName}}</h1>
        <p>To add a new mentor you need to <a href="ects">assign one to an ECT</a>.</p>
        <hr class="govuk-section-break--m">
    </div>

    <div class="govuk-grid-column-full">

        <div class="search-box">
            <form class="search-box__form" accept-charset="UTF-8" style="display: flex; gap: 15px; align-items: flex-end; flex-wrap: wrap;">
                <div class="search-box__input" style="flex-grow: 1;">
                    <div class="govuk-form-group">
                        <label for="query-field" class="govuk-label govuk-label--s">
                            Search by name or teacher reference number (TRN)
                        </label>
                        <input id="query-field" class="govuk-input" type="text" name="query">
                    </div>
                </div>

                <button type="submit" class="govuk-button govuk-button--secondary" data-module="govuk-button">Search</button>
            </form>
        </div>

        {% for mentor in data.mentors %}
        {% if mentor.leavingDate %}
        {% set leavingParts = mentor.leavingDate.split(' ') %}
        {% set leavingDay = leavingParts[0] %}
        {% set leavingMonthName = leavingParts[1] %}
        {% set leavingYear = leavingParts[2] %}
        
        {# Convert month name to number #}
        {% set months = ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December'] %}
        {% set leavingMonth = 0 %}
        {% for i in range(12) %}
          {% if months[i] == leavingMonthName %}
            {% set leavingMonth = i + 1 %}
          {% endif %}
        {% endfor %}
        
        {# Compare dates #}
        {% set isPast = (leavingYear < data.currentYear) or (leavingYear == data.currentYear and leavingMonth < data.currentMonth) or (leavingYear == data.currentYear and leavingMonth == data.currentMonth and leavingDay < data.currentDay) %}
        {% endif %}
        
        {% if not mentor.leavingDate or not isPast %}
        <div class="govuk-summary-card">
            <div class="govuk-summary-card__title-wrapper">
                <h3 class="govuk-summary-card__title">
                    <a class="govuk-link govuk-link--no-visited-state govuk-!-font-weight-bold govuk-!-font-size-24" href="view-mentor?id={{ mentor.id }}">{{ mentor.name }}</a></h3>
            </div>
            <div class="govuk-summary-card__content">
                <div class="govuk-grid-row">                  
                    <div class="govuk-grid-column-one-half">
                        <dl class="govuk-summary-list govuk-summary-list--no-border govuk-!-margin-bottom-0">
                            <!-- <div class="govuk-summary-list__row">
                                <dt class="govuk-summary-list__key">Status</dt>
                                <dd class="govuk-summary-list__value">
                                    <strong style="max-width: max-content;" class="govuk-tag {{ mentor.statusClass | default('govuk-tag--green') }}">
                                        {% if mentor.status == 'Registered' %}
                                        Mentoring
                                        {% else %}
                                        {{ mentor.status }}
                                        {% endif %}
                                    </strong>
                                    {% if mentor.status == 'No longer training' %}
                                    <span class="govuk-caption-m govuk-!-margin-top-2">{{ mentor.leadProvider }} have told us that {{ mentor.name }} is no longer training with them. Contact them if you think this is an error.</span>
                                    {% endif %}
                                </dd>
                            </div> -->
                            <div class="govuk-summary-list__row">
                                <dt class="govuk-summary-list__key">TRN</dt>
                                <dd class="govuk-summary-list__value">
                                        {{ mentor.trn }}
                                </dd>
                            </div>
                            <div class="govuk-summary-list__row">
                                <dt class="govuk-summary-list__key">Assigned ECTs</dt>
                                <dd class="govuk-summary-list__value">
                                    <ul class="govuk-list">
                                        {% set assignedEcts = false %}
                                        {% for ect in data.ects %}
                                            {% if ect.mentorId == mentor.id %}
                                                {% set assignedEcts = true %}
                                                <li><a class="govuk-link" href="view-ect?ect={{ ect.id }}">{{ ect.name }}</a></li>
                                            {% endif %}
                                        {% endfor %}
                                        {% if not assignedEcts %}
                                            <li>Not assigned to any ECTs</li>
                                        {% endif %}
                                    </ul>
                                </dd>
                            </div>
                        </dl>
                    </div>
                    <div class="govuk-grid-column-one-half">
                        {% if mentor.deferred == true %}
                        <p>{{mentor.leadProvider}} have told us that {{mentor.name}}'s ECTE mentor training is paused. Contact them if you think this is an error.</p>
                        {% else %}
                        {% if mentor.trainingProgramme == 'Provider-led' %}
                        {% if mentor.withdrawn != true %}
                        <p>{{mentor.name}} is registered for ECTE mentor training with:</p>
                        <dl class="govuk-summary-list govuk-summary-list--no-border govuk-!-margin-bottom-0">
                            <div class="govuk-summary-list__row">
                                <dt class="govuk-summary-list__key">Lead provider</dt>
                                <dd class="govuk-summary-list__value">
                                    {{ mentor.leadProvider }}
                                    <!-- DEBUG: researchMode={{ data.researchMode }}, session.leadProvider={{ data.leadProvider }}, mentor.leadProvider={{ mentor.leadProvider }} -->
                                    {% if data.researchMode %}
                                      {% if mentor.leadProvider == data._researchDefaults.leadProvider %}
                                      <span class="govuk-caption-m">Confirmed by {{ mentor.leadProvider }}</span>
                                      {% else %}
                                      <span class="govuk-caption-m">Awaiting confirmation by {{ mentor.leadProvider }}</span>
                                      {% endif %}
                                    {% else %}
                                      {% if mentor.leadProvider == 'Ambition Institute' %}
                                      <span class="govuk-caption-m">Confirmed by {{ mentor.leadProvider }}</span>
                                      {% else %}
                                      <span class="govuk-caption-m">Awaiting confirmation by {{ mentor.leadProvider }}</span>
                                      {% endif %}
                                    {% endif %}
                                </dd>
                            </div>
                            <div class="govuk-summary-list__row">
                                <dt class="govuk-summary-list__key">Delivery partner</dt>
                                <dd class="govuk-summary-list__value">
                                    {% if mentor.deliveryPartner %}
                                    {{ mentor.deliveryPartner }}
                                    {% else %}
                                    Yet to be reported by the lead provider
                                    {% endif %}
                                </dd>
                            </div>
                        </dl>
                        {% endif %}
                        {% if mentor.withdrawn == true %}
                        <p>{{mentor.leadProvider}} have told us that {{mentor.name}} is not registered for ECTE mentor training with them. Contact them if you think this is an error.</p>
                        <p>Tell us if {{mentor.name}} is <a href="view-mentor?id={{ mentor.id }}#training">training with another lead provider</a>.</p>
                        {% endif %}
                        {% endif %}
                        {% endif %}
                        {% if mentor.trainingProgramme != 'Provider-led' %}
                        <p>{{mentor.name}} is not currently registered for ECTE mentor training with a lead provider.</p>                        
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
        {% endif %}
        {% endfor %}

    </div>
</div>

{% endblock %}
