{% extends "layouts/main.html" %}

{% set pageName="Default programme type for 2025 to 2026" %}

{% block beforeContent %}
{{ govukBackLink({
text: "Back",
href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <form method="post">

        {% from "govuk/components/radios/macro.njk" import govukRadios %}

        {{ govukRadios({
        name: "defaultProgrammeType",
        fieldset: {
        legend: {
        text: pageName,
        isPageHeading: true,
        classes: "govuk-fieldset__legend--l"
        }
        },
        items: [
        {
        value: "Provider led",
        text: "Provider led"
        },
        {
        value: "School led",
        text: "School led"
        }
        ]
        }) }}

            <button class="govuk-button">Continue</button>
        </form>
    </div>
</div>

{% endblock %}
