{% extends "layouts/main.html" %}

{% set pageName="Which lead provider will be training John Smith?" %}

{% block beforeContent %}
{{ govukBackLink({
text: "Back",
href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <form method="post">

        {% from "govuk/components/radios/macro.njk" import govukRadios %}

        {{ govukRadios({
        name: "leadProvider",
        fieldset: {
        legend: {
        text: pageName,
        isPageHeading: true,
        classes: "govuk-fieldset__legend--l"
        }
        },
        items: [
        {
        value: "Ambition Institute",
        text: "Ambition Institute"
        },
        {
        value: "Best Practice Network (home of Outstanding Leaders Partnership)",
        text: "Best Practice Network (home of Outstanding Leaders Partnership)"
        },
        {
        value: "Education Development Trust",
        text: "Education Development Trust"
        },
        {
        value: "National Institute of Teaching",
        text: "National Institute of Teaching"
        },
        {
        value: "Teach First",
        text: "Teach First"
        },
        {
        value: "UCL Institute of Education",
        text: "UCL Institute of Education"
        }
        ]
        }) }}
  <!-- Details component -->
  {{ govukDetails({
    summaryText: "What is a lead provider?",
    text: "
        <p class='govuk-body'>They are organisations that:</p>
        <ul class='govuk-list govuk-list--bullet'>
          <li>create the overall structure, content and resources for early career framework (ECF) training</li>
          <li>ensure that the training delivered by the delivery partner is of a high quality and meets national standards</li>
          <li>train mentors and trainers who deliver the ECF to early career teachers</li>
          <li>report on the progress and effectiveness of the training programme to the Department for Education (DfE)</li>
        </ul>"
|safe }) }}
<p class="govuk-body">
    <a href="https://www.gov.uk/guidance/managing-training-for-early-career-teachers#:~:text=Education%20Development%20Trust,UCL%20Institute%20of%20Education" class="govuk-link govuk-link--no-underline">Learn more about lead providers</a> if you've not chosen one yet.
  </p>
            <button class="govuk-button">Continue</button>
        </form>
    </div>
</div>

{% endblock %}
