{% extends "layouts/main.html" %}

{% set pageName="What you need to know" %}

{% block beforeContent %}
{{ govukBackLink({
text: "Back",
href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l">{{pageName}}</h1>
        <p>Example content</p>

        <p>Example list</p>
        <ul class="govuk-list govuk-list--bullet">
            <li>item 1</li>
            <li>item 2</li>
            <li>item 3</li>
        </ul>

        <form method="post">
            {{ govukButton({
            text: "Continue"
            }) }}
        </form>
    </div>
</div>

{% endblock %}
