{% extends "layouts/main.html" %}

{% set pageName="We need to know your default programme choices for 2025 to 2026" %}

{% block beforeContent %}
{{ govukBackLink({
text: "Back",
href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <form method="post">

        <h1 class="govuk-heading-l">{{pageName}}</h1>
        <p>Example content telling user we need to know what their defaults will be before adding an ECT</p>

        <p>Something to tell the user that they can select different programme details per ECT</p>

            {{ govukButton({
            text: "Continue"
            }) }}
        </form>
    </div>
</div>

{% endblock %}
