{% extends "layouts/main.html" %}

{% set pageName="Register early career teachers (ECTs)" %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l">{{pageName}}</h1>
        <p>Use this service to register your school’s ECTs for the early career framework (ECF) training.</p> 
        <p> You need to register your ECTs and their mentors with the Department for Education (DfE) so that they can get: </p>
        <ul class="govuk-list govuk-list--bullet">
            <li>access to DfE-funded training </li>
            <li>funding to support their time off timetable for mentoring and training</li>
        </ul>
        <h2 class="govuk-heading-m">What you’ll need </h2>
        <p>You’ll need to provide details about the:</p>
        <ul class="govuk-list govuk-list--bullet">
            <li>early career teacher (ECT) and their mentor</li>
            <li>appropriate body you’ve selected </li>
            <li>training option chosen </li>
        </ul>
        <p>You must provide these details before your ECTs can start the ECF training.</p> 
        <p>If any of these details change, you can use this service to update them.</p>
        <p>You'll need to sign in using DfE Sign-in.</p>
        <form method="post">
            {{ govukButton({
            text: "Continue to DfE Sign-in",
            isStartButton: true
            }) }}
        </form>
        <p>For appropriate bodies that need to check training details, <a href="#">sign in</a>.</p>
    </div>
</div>

{% endblock %}
