{% extends "layouts/ects.html" %}

{% if data['fullName'] %}
{% set name = data['fullName'] %}
{% else %}
{% set name = 'Samuel Taylor' %}
{% endif %}

{% set pageName="Will " + name + " be mentoring at your school only?" %}

{% block beforeContent %}
{{ govukBackLink({
text: "Back",
href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l">{{ pageName }}</h1>

        <p>Our records show that {{name}} is already registered as a mentor at a different school.</p>
        <p>It's OK to mentor at more than one school at a time and you can be a mentor as many times as you like. However, you can only do this training and receive funded time off timetable for this training once.</p>

        <form method="post">

        {{ govukRadios({
        name: "mentorOnly",
            fieldset: {
            legend: {
            text: pageName,
            classes: "govuk-visually-hidden"
            }
        },
        items: [
        {
        value: "yes",
        text: "Yes, they will be mentoring at our school only"
        },
        {
        value: "no",
        text: "No, they will also be mentoring at another school"
        }
        ]
        }) }}

            <button class="govuk-button">Continue</button>
        </form>
    </div>
</div>

{% endblock %}
