{% extends "layouts/main.html" %}

{% block content %}
{{ super() }}

    
<h1 class="govuk-heading-l">We're blocking access to some activities in the service from 1 June to 15 June 2026</h1>

<!-- <p>From 1 June to 15 June 2026, we're blocking access to some service activities.</p> -->

<p>From 1 June to 15 June you will not be able to use the service to:</p>

<ul class="govuk-list govuk-list--bullet">
        <li>register new early career teachers (ECTs) and mentors</li>
        <!-- <li>assign a new mentor to an ECTs</li> -->
        <li>change ECT training programmes</li>
        </ul>

        <h2 class="govuk-heading-m">Why we're doing this</h2>

            <p>We have not yet opened registration for ECTs starting in the 2026 to 2027 academic year. We expect to do this 15 June. </p>

        <h3 class="govuk-heading-s">If you're registering an ECT late</h3>

         <p>You should: </p>
         <ol class="govuk-list govuk-list--number">
        <li>Contact the ECT's lead provider now so that they can start to set up the ECT's training.</li>
        <!-- <li>assign a new mentor to an ECTs</li> -->
        <li>Register the ECT in this service when registration opens on 15 June.</li>
        </ol>

    <!--<p>If you have any questions, <a class="govuk-link" href="mailto:continuing-professional-development@digital.education.gov.uk">email support</a> at continuing-professional-development@digital.education.gov.uk.</p> -->


                    <p><a href="../ects">Back to ECTs</a></p>



{% endblock %}
