{% extends "layouts/ects.html" %}

{% if data['fullName'] %}
{% set name = data['fullName'] %}
{% else %}
{% set name = 'Samuel Taylor' %}
{% endif %}

{% set pageName="You've assigned " + name + " as a mentor" %}

{% if data['leadProvider'] %}
{% set lp = data['leadProvider'] %}
{% else %}
{% set lp = 'Ambition Institute' %}
{% endif %}

{% block beforeContent %}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <div class="govuk-panel govuk-panel--confirmation">
            <h1 class="govuk-panel__title">
                {{ pageName }}
            </h1>
            <div class="govuk-panel__body">
                for<br><strong>John Smith</strong>
            </div>
        </div>
        <p class="govuk-body">You've successfully registered John Smith for training.</p>

        <h2 class="govuk-heading-m">What happens next</h2>
        <p class="govuk-body">We'll email {{name}} to confirm that they're now mentoring John Smith.</p>

    <p>Our records show that Samuel cannot do further mentor training. </p>
    <p>This might be because they've completed it before, or started but not completed it.</p>
    <p>We’ve passed Samuel's details to John's lead provider so they can access ECT training materials. Speak to the lead provider if Samuel cannot access them.</p>


        <!-- <p class="govuk-body">They do not need to provide us with any further details.</p> -->

<!-- <p>They cannot do mentor training according to our records. This could be because they've undertaken it before.</p>  -->

  <!--  <p>Our records show that John cannot do mentor training. </p>
    <p>This might be because they've completed it before, or started but not completed it. Speak to John's lead provider if you think this is incorrect.</p>
    <p>We’ve passed John’s details to their ECTs' lead provider so they can access ECT training materials. Speak to the lead provider if John cannot access them.</p>
--?

        <p><a href="#">Back to ECTs</a></p>
    </div>
</div>

{% endblock %}