{% extends "layouts/admin.html" %}

{% block head %}
{{ super() }}
<style>
</style>
{% endblock %}

{% set pageName="DfE staff" %}
{% set activeNav="users" %}

{% block beforeContent %}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        {% set accessRemoved = query.accessRemoved or false %}
        {% if accessRemoved == "1" %}
        <div class="govuk-notification-banner govuk-notification-banner--success" role="alert" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
          <div class="govuk-notification-banner__header">
            <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
              Success
            </h2>
          </div>
          <div class="govuk-notification-banner__content">
            <h3 class="govuk-notification-banner__heading">
              Daphne Blake has been removed as a user and no longer has access to the admin console
            </h3>
          </div>
        </div>
        {% endif %}
        <h1 class="govuk-heading-l">{{pageName}}</h1>


        <a href="#" class="govuk-button govuk-button--secondary">Add new user</a>

        <table class="govuk-table">
            <thead class="govuk-table__head">
                <tr class="govuk-table__row">
                    <th class="govuk-table__header" scope="col">Name</th>
                    <th class="govuk-table__header" scope="col">Roles</th>
                </tr>
            </thead>
            <tbody class="govuk-table__body">
            {% if accessRemoved !== "1" %}
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state"
                            href="daphne-blake">Daphne Blake</a></td>
                    <td class="govuk-table__cell">User manager</td>
                </tr>
            {% endif %}
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state"
                            href="#">Norville Rogers</a></td>
                    <td class="govuk-table__cell">Admin</td>
                </tr>
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state"
                            href="#">Scrooge McDuck</a></td>
                    <td class="govuk-table__cell">Finance</td>
                </tr>
            </tbody>
        </table>

    </div> 
</div>

{% endblock %}
