{% extends "layouts/ects.html" %}

{% if data['fullName'] %}
{% set name = data['fullName'] %}
{% else %}
{% set name = 'John Doe' %}
{% endif %}

{% set pageName="Which lead provider would you like to contact your school about training  " + name + "?" %}

{% block beforeContent %}
{{ govukBackLink({
text: "Back",
href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l">{{ pageName }}</h1>

        <form method="post">
        {% from "govuk/components/radios/macro.njk" import govukRadios %}

        {{ govukRadios({
        name: "leadProvider",
            label: {
            classes: "govuk-visually-hidden",
            text: pageName
        },
            hint: {
            html: "<p class='govuk-body'>We'll let the lead provider know that your school is interested in working with them. They'll contact your school to discuss this further before you decide if you want to go ahead with the mentor training.</p>"
            },
        items: [
        {
        value: "Ambition Institute",
        text: "Ambition Institute"
        },
        {
        value: "Best Practice Network (home of Outstanding Leaders Partnership)",
        text: "Best Practice Network (home of Outstanding Leaders Partnership)"
        },
        {
        value: "Education Development Trust",
        text: "Education Development Trust"
        },
        {
        value: "National Institute of Teaching",
        text: "National Institute of Teaching"
        },
        {
        value: "Teach First",
        text: "Teach First"
        },
        {
        value: "UCL Institute of Education",
        text: "UCL Institute of Education"
        }
        ]
        }) }}

            {{ govukDetails({
            summaryText: "What are the roles of an appropriate body, lead provider and delivery partner?",
            text: "
            <p>An appropriate body is responsible for assuring the quality of the statutory induction of ECTs. A lead provider provides the online learning platform used for training ECTs and mentors, while the delivery partner delivers training events.
            </p>
            <p>These roles are sometimes undertaken by the same organisation, for example an appropriate body might be the same organisation as the delivery partner.</p>"

            |safe }) }}

            <button class="govuk-button">Continue</button>
        </form>
    </div>
</div>

{% endblock %}
