{% extends "layouts/ects.html" %}

{% if data['fullName'] %}
{% set name = data['fullName'] %}
{% else %}
{% set name = 'John Smith' %}
{% endif %}
 {% if data['leadProvider'] %}
        {% set lp = data['leadProvider'] %}
        {% else %}
        {% set lp = 'Ambition Institute' %}
        {% endif %}

{% set pageName="You have changed your lead provider to " + lp + "" %}

{% block beforeContent %}
{% endblock %}

{% block content %}
 const currentV = url.match(/v\d+/);

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <div class="govuk-panel govuk-panel--confirmation">
            <h1 class="govuk-panel__title">
                {{ pageName }}
            </h1>
        </div>
        <h2 class="govuk-heading-m">What happens next</h2>
        <p class="govuk-body">We will let the lead provider know your school wants to work with them so they can arrange training.</p>

        <p><a href="school/home/ects">Back to your ECTs</a></p>
    </div>
</div>

{% endblock %}