{% extends "layouts/ects.html" %}

{% block head %}
{{ super() }} <!-- This includes the content from the base head block -->
{% include "./filters.njk" %}
{% endblock %}

{% set pageName="Early career teachers" %}

{% block content %}

{% if data['schoolName'] %}
{% set schoolName = data['schoolName'] %}
{% else %}
{% set schoolName = 'Test Primary School' %}
{% endif %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <h1 class="govuk-caption-l">{{schoolName}}</h1>
        <h1 class="govuk-heading-l">{{pageName}}</h1>
        <a href="../what-youll-need" class="govuk-button">Register an ECT starting at your school</a>
        <hr class="govuk-section-break--m">
    </div>

    <div class="govuk-grid-column-one-third">
        <div class="moj-filter">
            <div class="moj-filter__content">
                <div class="moj-filter__options">
                    <div class="govuk-form-group">
                        <label class="govuk-label govuk-label--m" for="keywords"> Search by name or teacher reference number (TRN)</label>
                        <input class="govuk-input" id="keywords" name="keywords" type="text">
                    </div>
                    {% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}

                    {{ govukCheckboxes({
                    name: "status",
                    classes: "govuk-checkboxes--small",
                    fieldset: {
                    legend: {
                    text: "Status",
                    classes: "govuk-fieldset__legend--m"
                    }
                    },
                    items: [
                    {
                    value: "registered",
                    text: "Registered"
                    },
                    {
                    value: "pending",
                    text: "Pending"
                    }
                    ]
                    }) }}

                    {{ govukCheckboxes({
                    name: "mentor",
                    classes: "govuk-checkboxes--small",
                    fieldset: {
                    legend: {
                    text: "Mentor",
                    classes: "govuk-fieldset__legend--m"
                    }
                    },
                    items: [
                    {
                    value: "assigned",
                    text: "Assigned"
                    },
                    {
                    value: "not-assigned",
                    text: "Not assigned"
                    }
                    ]
                    }) }}

                </div>
            </div>
        </div>
    </div>

    <div class="govuk-grid-column-two-thirds">

        {% if data['ectAddedWithoutMentor'] === 'no' or data['ectAddedWithoutMentor'] === 'yes' %}

        <div class="govuk-summary-card">
            <div class="govuk-summary-card__title-wrapper">
                <h3 class="govuk-summary-card__title govuk-!-font-size-24">
                    <strong><a class="govuk-link govuk-link--no-visited-state govuk-!-font-weight-bold" href="view-ect">John Smith</a></strong>
                </h3>
            </div>
            <div class="govuk-summary-card__content">
                <dl class="govuk-summary-list govuk-summary-list--no-border govuk-!-margin-bottom-0">
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">Status</dt>
                        <dd class="govuk-summary-list__value">
                            <strong class="govuk-tag govuk-tag--green">Registered</strong>
                        </dd>
                    </div>
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">TRN</dt>
                        <dd class="govuk-summary-list__value">59103501</dd>
                    </div>
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">School start date</dt>
                        <dd class="govuk-summary-list__value">September 2024</dd>
                    </div>
                    {% if data['ectAddedWithoutMentor'] === 'yes' %}
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">Mentor</dt>
                        <dd class="govuk-summary-list__value">
                            {{ govukWarningText({
                            html: 'You must <a class="govuk-link govuk-link--no-visited-state" href="../mentor/who-will-be-mentoring">assign a mentor or register a new one</a> for this ECT.',
                            iconFallbackText: "Warning"
                            }) }}
                        </dd>
                    </div>
                    {% elif data['mentor'] === 'Someone else' %}
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">Mentor</dt>
                        <dd class="govuk-summary-list__value">
                            {{ govukWarningText({
                            html: 'You must <a class="govuk-link govuk-link--no-visited-state" href="../mentor/who-will-be-mentoring">assign a mentor or register a new one</a> for this ECT.',
                            iconFallbackText: "Warning"
                            }) }}
                        </dd>
                    </div>
                    {% else %}
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">Mentor</dt>
                        <dd class="govuk-summary-list__value">
                            {% if data['mentor'] %}
                            {% set mentor = data['mentor'] %}
                            {% else %}
                            {% set mentor = 'John Doe' %}
                            {% endif %}
                            {{mentor}}
                        </dd>
                    </div>
                    {% endif %}
                </dl>
            </div>
        </div>

        {% endif %}

        {% if data['variablesInitialized'] !== true %}
        <div class="govuk-summary-card">
            <div class="govuk-summary-card__title-wrapper">
                <h3 class="govuk-summary-card__title govuk-!-font-size-24">
                    <strong><a class="govuk-link govuk-link--no-visited-state govuk-!-font-weight-bold" href="view-ect">Test ECT - assign mentor</a></strong>
                </h3>
            </div>
            <div class="govuk-summary-card__content">
                <dl class="govuk-summary-list govuk-summary-list--no-border govuk-!-margin-bottom-0">
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">Status</dt>
                        <dd class="govuk-summary-list__value">
                            <strong class="govuk-tag govuk-tag--green">Registered</strong>
                        </dd>
                    </div>
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">TRN</dt>
                        <dd class="govuk-summary-list__value">1693012</dd>
                    </div>
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">School start date</dt>
                        <dd class="govuk-summary-list__value">September 2024</dd>
                    </div>
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">Mentor</dt>
                        <dd class="govuk-summary-list__value">
                            {{ govukWarningText({
                            html: 'You must <a class="govuk-link govuk-link--no-visited-state" href="../mentor/who-will-be-mentoring">assign a mentor or register a new one</a> for this ECT.',
                            iconFallbackText: "Warning"
                            }) }}
                        </dd>
                    </div>
                </dl>
            </div>
        </div>
        {% endif %}

        <div class="govuk-summary-card">
            <div class="govuk-summary-card__title-wrapper">
                <h3 class="govuk-summary-card__title govuk-!-font-size-24">
                    <strong><a class="govuk-link govuk-link--no-visited-state govuk-!-font-weight-bold" href="view-ect">Steven Taylor</a></strong>
                </h3>
            </div>
            <div class="govuk-summary-card__content">
                <dl class="govuk-summary-list govuk-summary-list--no-border govuk-!-margin-bottom-0">
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">Status</dt>
                        <dd class="govuk-summary-list__value">
                            <strong class="govuk-tag govuk-tag--green">Registered</strong>
                        </dd>
                    </div>
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">TRN</dt>
                        <dd class="govuk-summary-list__value">1539295</dd>
                    </div>
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">School start date</dt>
                        <dd class="govuk-summary-list__value">September 2023</dd>
                    </div>
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">Mentor</dt>
                        <dd class="govuk-summary-list__value">
                            <p>John Doe</p>
                        </dd>
                    </div>
                </dl>
            </div>
        </div>

        <div class="govuk-summary-card">
            <div class="govuk-summary-card__title-wrapper">
                <h3 class="govuk-summary-card__title govuk-!-font-size-24">
                    <strong><a class="govuk-link govuk-link--no-visited-state govuk-!-font-weight-bold" href="view-ect">Emily Brown</a></strong>
                </h3>
            </div>
            <div class="govuk-summary-card__content">
                <dl class="govuk-summary-list govuk-summary-list--no-border govuk-!-margin-bottom-0">
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">Status</dt>
                        <dd class="govuk-summary-list__value">
                            <strong class="govuk-tag govuk-tag--green">Registered</strong>
                        </dd>
                    </div>
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">TRN</dt>
                        <dd class="govuk-summary-list__value">3929519</dd>
                    </div>
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">School start date</dt>
                        <dd class="govuk-summary-list__value">September 2023</dd>
                    </div>
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">Mentor</dt>
                        <dd class="govuk-summary-list__value">
                            <p>Tom Jones</p>
                        </dd>
                    </div>
                </dl>
            </div>
        </div>

    </div>
</div>

{% endblock %}
