{% extends "layouts/admin.html" %}

{% set pageName="Permission denied" %}
{% set activeNav="finance" %}

{% block beforeContent %}
{{ govukBackLink({
  text: "Back",
  href: "javascript:history.back()"
}) }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">{{ pageName }}</h1>

    <p class="govuk-body">
      You cannot void a declaration because you do not have permission to do so.
    </p>

    <p class="govuk-body">
      If you think you should have access, speak to an administrator.
    </p>
  </div>
</div>
{% endblock %}
