{% extends "layouts/admin.html" %}

{% set pageName="Change TRN for deactivated record" %}
{% set activeNav="teachers" %}

{% block beforeContent %}
{{ govukBackLink({
    text: "Back",
    href: "../teachers-details?section=overview&deactivated=true"
}) }}
{% endblock %}

{% block content %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
{% from "govuk/components/input/macro.njk" import govukInput %}

{% if errorList and errorList.length %}
{{ govukErrorSummary({
  titleText: "There is a problem",
  errorList: errorList
}) }}
{% endif %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <form method="post">
      <h1 class="govuk-heading-l">{{ pageName }}</h1>

      <p class="govuk-body">
        You’re changing the TRN for the deactivated record <b>TRN 2959198</b>.
      </p>

      <p class="govuk-body">
        Depending on the TRN you're changing it to, TRN details might be merged. We'll check the new TRN when you enter it.
      </p>

      <div class="govuk-inset-text">
  TRN changes and merges will be made to the register early career teachers service only. They will not be made to any other service or system, for example TRS. 
</div>

            <h2 class="govuk-heading-m">If the new TRN exists in this service</h2>

            <p class="govuk-body">
       The records will be merged and will use the new TRN. The deactivated TRN will be deleted.</b>
      </p>

              <h2 class="govuk-heading-m">If the new TRN does not exist in this service</h2>
                  <p class="govuk-body">
        The deatviacted record will use the new TRN. The deactivated TRN will be deleted.
      </p>
            
      {{ govukInput({
        label: {
          text: "Enter the new TRN",
          classes: "govuk-label--m"
        },
       
        id: "replacement-trn",
        name: "replacement-trn",
        classes: "govuk-input--width-10",
        inputmode: "numeric",
        value: data['replacement-trn'],
        errorMessage: { text: errors.replacementTrn } if errors and errors.replacementTrn else false
      }) }}

      <button class="govuk-button" data-module="govuk-button">Continue</button>
    </form>

    <p>
      <a href="../teachers-details?section=overview&deactivated=true" class="govuk-link govuk-link--no-visited-state">Cancel and go back to John Smith</a>
    </p>
  </div>
</div>
{% endblock %}
