{% extends "layouts/ects.html" %}

{% set pageName="You cannot register a mentor without their TRN" %}

{% block beforeContent %}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <form method="post">

            <h1 class="govuk-heading-l">{{ pageName }}</h1>

            <p>If they:</p>

            <ul class="govuk-list govuk-list--bullet">
                <li>had a TRN but cannot find it, ask them to use the <a target="_blank" href="https://find-a-lost-trn.education.gov.uk/start">find a lost TRN service (opens in a new tab)</a></li>
                <li>have never had one, they'll need to <a target="_blank" href="https://www.gov.uk/guidance/teacher-reference-number-trn#if-youre-a-mentor-for-a-trainee-or-early-career-teacher">request a TRN (opens in a new tab)</a></li>
            </ul>

            <p><a href="#">Return to your ECTs</a></p>
        </form>

    </div>
</div>

{% endblock %}
