{% extends "layouts/ects.html" %}

{% block beforeContent %}
{{ govukBackLink({
text: "Back",
href: "ects"
}) }}
{% endblock %}

{% set pageName="John Smith" %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
<span class="govuk-caption-l">TRN: 5129834</span>
<h1 class="govuk-heading-l">John Smith</h1>
<h1 class="govuk-heading-m">ECT details</h1>

  <dl class="govuk-summary-list">
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
        Name
      </dt>
      <dd class="govuk-summary-list__value">
        John Smith
      </dd>
    </div>
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
        Email address
      </dt>
      <dd class="govuk-summary-list__value">
        name@email.com
      </dd>
    </div>
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
        Mentor
      </dt>
      <dd class="govuk-summary-list__value">
        <a href="#">John Doe</a>
      </dd>
    </div>
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
        School start date
      </dt>
      <dd class="govuk-summary-list__value">
        September 2025
      </dd>
    </div>
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
        Working pattern
      </dt>
      <dd class="govuk-summary-list__value">
        Full time
      </dd>
    </div>
  </dl>

  <div class="govuk-summary-card">
    <div class="govuk-summary-card__title-wrapper">
      <h1 class="govuk-summary-card__title">
        ECTE training details
      </h1>
    </div>
    <div class="govuk-summary-card__content">
      <h2 class="govuk-heading-s govuk-!-margin-top-2">Reported to us by your school</h2>
      <dl class="govuk-summary-list">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Appropriate body
          </dt>
          <dd class="govuk-summary-list__value">
            Alpha Teaching School Hub
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Programme type
          </dt>
          <dd class="govuk-summary-list__value">
            Provider-led
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Lead provider
          </dt>
          <dd class="govuk-summary-list__value">
            Ambition Institute
          </dd>
        </div>
      </dl>
      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
      <h2 class="govuk-heading-s govuk-!-margin-top-2">Reported to us by your lead provider</h2>
      <dl class="govuk-summary-list">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Lead provider
          </dt>
          <dd class="govuk-summary-list__value">
            Ambition Institute
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Delivery partner
          </dt>
          <dd class="govuk-summary-list__value">
            Alpha Teaching School Hub
          </dd>
        </div>
      </dl>
      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
      <h2 class="govuk-heading-s govuk-!-margin-top-2">Reported to us by your appropriate body</h2>
      <dl class="govuk-summary-list">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Appropriate body
          </dt>
          <dd class="govuk-summary-list__value">
            Alpha Teaching School Hub
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Programme type
          </dt>
          <dd class="govuk-summary-list__value">
            Provider-led
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Induction start date
          </dt>
          <dd class="govuk-summary-list__value">
            01 September 2025
          </dd>
        </div>
      </dl>
    </div>
  </div>
<!--  <div class="govuk-summary-card">-->
<!--    <div class="govuk-summary-card__title-wrapper">-->
<!--      <h1 class="govuk-summary-card__title">-->
<!--        ECTE training details-->
<!--      </h1>-->
<!--    </div>-->
<!--    <div class="govuk-summary-card__content">-->
<!--      <dl class="govuk-summary-list">-->
<!--        <div class="govuk-summary-list__row">-->
<!--          <dt class="govuk-summary-list__key">-->
<!--            Appropriate body-->
<!--          </dt>-->
<!--          <dd class="govuk-summary-list__value">-->
<!--            Alpha Teaching School Hub<br>-->
<!--            <span class="govuk-caption-m">Pending confirmation by Alpha Teaching School Hub</span>-->
<!--          </dd>-->
<!--        </div>-->
<!--        <div class="govuk-summary-list__row">-->
<!--          <dt class="govuk-summary-list__key">-->
<!--            Programme type-->
<!--          </dt>-->
<!--          <dd class="govuk-summary-list__value">-->
<!--            Provider-led<br>-->
<!--            <span class="govuk-caption-m">Pending confirmation by Alpha Teaching School Hub</span>-->
<!--          </dd>-->
<!--        </div>-->
<!--        <div class="govuk-summary-list__row">-->
<!--          <dt class="govuk-summary-list__key">-->
<!--            Lead provider-->
<!--          </dt>-->
<!--          <dd class="govuk-summary-list__value">-->
<!--            Ambition Institute<br>-->
<!--            <span class="govuk-caption-m">Confirmed by Ambition Institute</span>-->
<!--          </dd>-->
<!--        </div>-->
<!--        <div class="govuk-summary-list__row">-->
<!--          <dt class="govuk-summary-list__key">-->
<!--            Delivery partner-->
<!--          </dt>-->
<!--          <dd class="govuk-summary-list__value">-->
<!--            Alpha Teaching School Hub<br>-->
<!--            <span class="govuk-caption-m">Confirmed by Ambition Institute</span>-->
<!--          </dd>-->
<!--        </div>-->
<!--      </dl>-->
<!--    </div>-->
<!--  </div>-->
  </div>
</div>

{{ super() }}
<script src="/node_modules/dfe-frontend/dist/dfefrontend.min.js"></script>

<script>
    // Ensure DOM is fully loaded before manipulating
    document.addEventListener("DOMContentLoaded", function() {
        // Get the current URL
        const url = window.location.href;

        // Use the match() method to find the value in the URL
        const currentV = url.match(/v\d+/);

        // Set the value as the href attribute of the link
        document.getElementById("ects").href = "/" + currentV + "/school/home/ects"
        document.getElementById("mentors").href = "/" + currentV + "/school/home/mentors"
    });
</script>
{% endblock %}