{% extends "layouts/home.html" %}

{% set pageName="John Doe has been confirmed as your school induction tutor" %}

{% block beforeContent %}
{% endblock %}

{% block content %}


<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <form method="post">

        <h1 class="govuk-heading-l">{{ pageName }}</h1>

        <p>We'll let John Doe know that they're your school induction tutor.</p>
        
        <button class="govuk-button">Continue</button>
        </form>

    </div>
</div>




{% endblock %}
