{% extends "layouts/home.html" %}

{% set pageName="School induction tutor details confirmed" %}

{% block beforeContent %}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <form method="post">

        <h1 class="govuk-heading-l">{{ pageName }}</h1>

        <p>We have saved the details for your school's induction tutor.</p>
        
        <button class="govuk-button">Continue</button>
        </form>

    </div>
</div>

{% endblock %}
