{% extends "layouts/ects.html" %}

{% set pageName="You cannot register John Smith" %}

{% block beforeContent %}
{{ govukBackLink({
text: "Back",
href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <form method="post">

            <h1 class="govuk-heading-l">{{ pageName }}</h1>
            <p>Our records show John Smith is exempt from having to serve induction so you cannot register them for ECF training.</p>

            <p><a href="../../school/find-ect">Register another ECT</a></p>
        </form>

    </div>
</div>

{% endblock %}
