{% extends "layouts/email.html" %}

{% block content %}
{{ super() }}

    <h1 class="govuk-heading-m">Notice of new service (launched, registration not open)</h1>

    <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">
    <div class="govuk-inset-text">
         <h2 class="govuk-heading-s">When</h2>
         <p>April 28 (service launch</p>
         <h2 class="govuk-heading-s">Why</h2>
         <p>To give notification that the new service has been launched. It highlights: </p>
          <ul class="govuk-list govuk-list--bullet">
            <li>a service to register ECTs and mentors for training that replaces the current service</li>  
 <li>a different way to sign in and the need for a DfE sign-in account</li>  
        <li>new features</li>    
                <li>indication of when registration will be open</li>      
      
        </ul>
</div> 

            <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">


    <div class="govuk-inset-text">
  Subject: Registering early career teachers and mentors with the Department for Education (DfE).
</div>

<p>Hello ((sit_name)),</p>

<p>We're sending you this email as our records show that you're the induction tutor for ((school_name)).</p>

<p>We're making changes to the way schools register and manage ECTs and mentors online with the DfE.</p>

<p>Schools need to use our <a href="https://staging.register-early-career-teachers.education.gov.uk/">register early career teachers</a> service. We’ve closed the manage training for early career teachers service.</p> 


<h2 class="govuk-heading-m">What these changes mean for your school</h2>

<h3 class="govuk-heading-s">Access and sign in is different from the current service</h3>
<p>Users of the new service will need to have an account with <a href="https://services.signin.education.gov.uk/">DfE Sign-in</a>.</p>
<p>DfE Sign-in is a single sign-on service that provides access to DfE services. Your school might already use it for other DfE services.</p>
<h3 class="govuk-heading-s">How DfE Sign-in works</h3>

<ul class="govuk-list govuk-list--number">
        <li>Schools need to appoint a DfE Sign-in approver. This person verifies the identity of users before giving access to services. The approver is often the headteacher or administrator.</li>    
        <li>Users who want access to DfE services need to create a DfE Sign-in account. They use their account to select their school and request access to services.</li>
 </ul>

<p>You can get help with <a href="https://edd-help.signin.education.gov.uk/contact">DfE Sign-in</a></p>


<h2 class="govuk-heading-m">Changes to the service</h2>

<h3 class="govuk-heading-s">More than one school user can use the register service</h3>
<p>Your school's DfE Sign-in approver can give access to the register early career teachers service to multiple users.</p>

<h3 class="govuk-heading-s">Lead provider training for ECTs and mentors</h3>
<p>Lead providers can be selected for individual ECTs and mentors (if your school uses a provider-led training programme). </p>

<h3 class="govuk-heading-s">Manage ECTs and mentors leaving schools</h3>
<p>You can now tell us when an ECT or mentor has left your school and is not expected to return.</p>

<h3 class="govuk-heading-s">Notification of induction tutor</h3>
<p>You can tell us about, and change, your main induction tutor.  </p>

<h2 class="govuk-heading-m">What happens next</h2>

<p>You can use the new service to manage your existing ECTs and mentors.</p> 

<p>We'll email you when registration for the 2026-2027 academic year opens.</p>

<h2 class="govuk-heading-m">Sign in</h2>

<p>Sign in to <a href="https://staging.register-early-career-teachers.education.gov.uk/">register early career teachers</a>.</p> 

<p>Regards,</p>

<p>Teacher Continuing Professional Development</p>
<p>Department for Education</p>

    <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
    <p><a href="#" class="govuk-link govuk-link--no-visited-state">Unsubscribe from these emails</a></p>
{% endblock %}
