{% extends "layouts/ects.html" %}

{% set ectId = data.ectId %}
{% set ectName = data.ectName or "John Smith" %}
{% set ectLeavingDate = data.dateLeaving %}

{% set leavingDay = data.day if data.day else 1 %}
{% set leavingMonth = data.month if data.month else 1 %}
{% set leavingYear = data.year if data.year else 2026 %}

{# Get current date components from session data #}
{% set currentYear = data.currentYear %}
{% set currentMonth = data.currentMonth %}
{% set currentDay = data.currentDay %}

{# Compare dates: first by year, then month, then day #}
{% set isPast = (leavingYear < currentYear) or (leavingYear == currentYear and leavingMonth < currentMonth) or (leavingYear == currentYear and leavingMonth == currentMonth and leavingDay < currentDay) %}
{% set isToday = (leavingYear == currentYear and leavingMonth == currentMonth and leavingDay == currentDay) %}
{% set isPastOrToday = isPast or isToday %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:history.back()"
  }) }}
{% endblock %}

{% if isPastOrToday %}
  {% set leavingVerb = "has left" %}
{% else %}
  {% set leavingVerb = "is leaving" %}
{% endif %}
{% set pageName = "Confirm that " + ectName + " " + leavingVerb + " your school permanently" %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    
    <h1 class="govuk-heading-l">{{pageName}}</h1>

    <p>You've told us that {{ ectName }} {% if isPastOrToday %}left{% else %}is leaving{% endif %} your school on {{ leavingDay }} {{ leavingMonth | monthName }} {{ leavingYear }}.</p>

    <p>You will not be able to view or edit {{ ectName }}'s details{% if not isPastOrToday %} after {{ leavingDay }} {{ leavingMonth | monthName }} {{ leavingYear }}{% endif %}.</p>
    
    <form action="ect-leaving-confirmation" method="post">
      <input type="hidden" name="ectId" value="{{ ectId }}">
      <input type="hidden" name="ectName" value="{{ ectName }}">
      <input type="hidden" name="ectLeaving" value="yes">
      <input type="hidden" name="ectLeavingDate" value="{{ (ectLeavingDate | date('j F Y') if ectLeavingDate else leavingDay + ' ' + leavingMonth | monthName + ' ' + leavingYear) }}">
      
      {{ govukButton({
        text: "Confirm and continue"
      }) }}
    </form>
    
    <p class="govuk-body">
      <a class="govuk-link" href="view-ect?ect={{ ectId }}">Cancel and go back to {{ ectName }}'s details</a>
    </p>
    
  </div>
</div>
{% endblock %} 