{% extends "layouts/ects.html" %}

{% set pageName="Get help with registering early career teachers" %}

{% block beforeContent %}
{{ govukBackLink({
text: "Back",
href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <form method="post">

            <h1 class="govuk-heading-l">{{pageName}}</h1>

          <p>Send us a message if you have a question or are having problems using this service.</p>

 
          <p>We'll automatically include the following in your message:</p>

         <dl class="govuk-summary-list">
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
        Your name
      </dt>
      <dd class="govuk-summary-list__value">
        John Smith
      </dd>
    </div>
    
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
        Your school
      </dt>
      <dd class="govuk-summary-list__value">
        Abacus Primary School
      </dd>
    </div>
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
        Your school's URN
      </dt>
      <dd class="govuk-summary-list__value">
        100001
      </dd>
    </div>
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
        Your email address
      </dt>
      <dd class="govuk-summary-list__value">
        jsmith@email.com
      </dd>
    </div>
    
      </dl>
      <p>We'll reply by email as soon we can. We normally reply within 5 working days.</p>     




<div class="govuk-form-group">
  <h2 class="govuk-label-wrapper">
    <label class="govuk-label govuk-label--s" for="more-detail">
      Your message
    </label>
  </h2>
  
  <div id="more-detail-hint" class="govuk-hint">
Include as much detail as you can
  </div>
  <textarea class="govuk-textarea" id="more-detail" name="moreDetail" rows="5" aria-describedby="more-detail-hint"></textarea>
</div>

  
<button type="submit" class="govuk-button" data-module="govuk-button">
  Send
</button>

</div>
    </div>
     </div>


{{ super() }}
<script src="/node_modules/dfe-frontend/dist/dfefrontend.min.js"></script>

<script>
    // Ensure DOM is fully loaded before manipulating
    document.addEventListener("DOMContentLoaded", function() {
        // Get the current URL
        const url = window.location.href;

        // Use the match() method to find the value in the URL
        const currentV = url.match(/v\d+/);

        // Set the value as the href attribute of the link
        document.getElementById("ects").href = "/" + currentV + "/school/home/ects"
        document.getElementById("mentors").href = "/" + currentV + "/school/home/mentors"
    });
</script>
{% endblock %}