{% extends "layouts/ects.html" %}

{% if data['fullName'] %}
{% set name = data['fullName'] %}
{% else %}
{% set name = 'John Smith' %}
{% endif %}

{# Determine what type of change was made #}
{% if data['changedName'] %}
  {% set isNameChange = true %}
  {% set isEmailChange = false %}
  {% set isLeadProviderChange = false %}
  {% set isAppropriateBodyChange = false %}
  {% set isWorkingPatternChange = false %}
  {% set isTrainingProgrammeChange = false %}
  {% set changedValue = data['changedName'] %}
  {% set changeType = 'name' %}
{% elif data['changedEmail'] %}
  {% set isNameChange = false %}
  {% set isEmailChange = true %}
  {% set isLeadProviderChange = false %}
  {% set isAppropriateBodyChange = false %}
  {% set isWorkingPatternChange = false %}
  {% set isTrainingProgrammeChange = false %}
  {% set changedValue = data['changedEmail'] %}
  {% set changeType = 'email address' %}
{% elif data['changedAppropriateBody'] %}
  {% set isNameChange = false %}
  {% set isEmailChange = false %}
  {% set isLeadProviderChange = false %}
  {% set isAppropriateBodyChange = true %}
  {% set isWorkingPatternChange = false %}
  {% set isTrainingProgrammeChange = false %}
  {% set changedValue = data['changedAppropriateBody'] %}
  {% set changeType = 'appropriate body' %}
{% elif data['changedWorkingPattern'] %}
  {% set isNameChange = false %}
  {% set isEmailChange = false %}
  {% set isLeadProviderChange = false %}
  {% set isAppropriateBodyChange = false %}
  {% set isWorkingPatternChange = true %}
  {% set isTrainingProgrammeChange = false %}
  {% set changedValue = data['changedWorkingPattern'] %}
  {% set changeType = 'working pattern' %}
{% elif data['changedTrainingProgramme'] %}
  {% set isNameChange = false %}
  {% set isEmailChange = false %}
  {% set isLeadProviderChange = false %}
  {% set isAppropriateBodyChange = false %}
  {% set isWorkingPatternChange = false %}
  {% set isTrainingProgrammeChange = true %}
  {% set changedValue = data['changedTrainingProgramme'] %}
  {% set changeType = 'training programme' %}
{% else %}
  {% set isNameChange = false %}
  {% set isEmailChange = false %}
  {% set isLeadProviderChange = true %}
  {% set isAppropriateBodyChange = false %}
  {% set isWorkingPatternChange = false %}
  {% set isTrainingProgrammeChange = false %}
  {% set changedValue = data['leadProvider'] or 'Ambition Institute' %}
  {% set changeType = 'lead provider' %}
{% endif %}

{% block beforeContent %}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <div class="govuk-panel govuk-panel--confirmation">
            <h1 class="govuk-panel__title">
                {% if isNameChange %}
                    You have changed the ECT's name to {{changedValue}}
                {% elif isEmailChange %}
                    You have changed {{name}}'s email address to {{changedValue}}
                {% elif isAppropriateBodyChange %}
                    You have chosen {{changedValue}} as the new appropriate body for {{name}}
                {% elif isWorkingPatternChange %}
                    You have changed {{name}}'s working pattern to {{changedValue | lower}}
                {% elif isTrainingProgrammeChange %}
                    {% if changedValue == 'Provider-led' and data['changedLeadProvider'] %}
                        You have changed {{name}}'s training programme to {{changedValue | lower}} with {{data['changedLeadProvider']}}
                    {% else %}
                        You have changed {{name}}'s training programme to {{changedValue | lower}}
                    {% endif %}
                {% else %}
                    You have chosen {{changedValue}} as the new lead provider for {{name}}
                {% endif %}
            </h1>
        </div>
        
        <h2 class="govuk-heading-m">What happens next</h2>
        
        {% if isNameChange %}
            <p class="govuk-body">The name has been updated in this service. </p>
                <p>The ECT can update their name in their teacher record using the Access your teaching qualifications service.</p>
        {% elif isEmailChange %}
            <p class="govuk-body">The email address has been updated in this service.</p>
            <p class="govuk-body">We'll also tell the lead provider about this change.</p>
        {% elif isAppropriateBodyChange %}
            <p class="govuk-body">We'll let {{changedValue}} know they are now the appropriate body for {{name}}'s induction.</p>
                <p>They'll contact us to confirm the change.</p>
        {% elif isWorkingPatternChange %}
            <p class="govuk-body">{{name}}'s working pattern has been updated in this service.</p>
               <p>We'll pass this information on so adjustments can be made to their training if needed.</p>
        {% elif isTrainingProgrammeChange %}
            {% if changedValue == 'Provider-led' %}
                <p class="govuk-body">{{name}}'s training programme has been changed to provider-led.</p>
                   <p>  {% if data['changedLeadProvider'] %}We'll let {{data['changedLeadProvider']}} know your school wants to work with them so they can arrange training.{% else %}We will let the lead provider know your school wants to work with them so they can arrange training.{% endif %}</p>
            {% else %}
                <p class="govuk-body">{{name}}'s training programme has been changed to school-led. </p>
                    <p>Your school will now be responsible for delivering training based on the ITTECF.</p>
                    <p>If your programme is new, tell your appropriate body. They'll need to check it to make sure it covers the ITTECF in full. </p>
            {% endif %}
        {% else %}
            <p class="govuk-body">We'll let {{changedValue}} know your school wants to work with them. They'll contact us to confirm the change and tell us the delivery partner they'll be working with.</p>
            <p class="govuk-body">We'll also let the old delivery partner know that they'll no loonger be training {{name}}.</p>
        {% endif %}

        <p><a href="../../view-ect?ect={{data.changedEctId}}">Back to {{changedValue if isNameChange else name}}'s details</a></p>
    </div>
</div>

{% endblock %} 