{% extends "layouts/ects.html" %}

{% if data['fullName'] %}
{% set name = data['fullName'] %}
{% else %}
{% set name = 'John Smith' %}
{% endif %}

{# Determine what type of change was made #}
{% if data['changedName'] and not data['leadProvider'] %}
  {% set isNameChange = true %}
  {% set isEmailChange = false %}
  {% set isLeadProviderChange = false %}
  {% set changedValue = data['changedName'] %}
  {% set changeType = 'name' %}
{% elif data['changedEmail'] and not data['leadProvider'] %}
  {% set isNameChange = false %}
  {% set isEmailChange = true %}
  {% set isLeadProviderChange = false %}
  {% set changedValue = data['changedEmail'] %}
  {% set changeType = 'email address' %}
{% else %}
  {% set isNameChange = false %}
  {% set isEmailChange = false %}
  {% set isLeadProviderChange = true %}
  {% set changedValue = data['leadProvider'] or 'Ambition Institute' %}
  {% set changeType = 'lead provider' %}
{% endif %}

{% block beforeContent %}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <div class="govuk-panel govuk-panel--confirmation">
            <h1 class="govuk-panel__title">
                {% if isNameChange %}
                    You have changed the ECT's name to {{changedValue}}
                {% elif isEmailChange %}
                    You have changed the ECT's email address to {{changedValue}}
                {% else %}
                    You have chosen {{changedValue}} as the new lead provider for {{name}}
                {% endif %}
            </h1>
        </div>
        
        <h2 class="govuk-heading-m">What happens next</h2>
        
        {% if isNameChange %}
            <p class="govuk-body">The name has been updated in this service. The ECT can update their name in their teacher record using the Access your teaching qualifications service.</p>
        {% elif isEmailChange %}
            <p class="govuk-body">The email address has been updated in this service.</p>
        {% else %}
            <p class="govuk-body">We will let {{changedValue}} know your school wants to work with them. They'll contact us to confirm the change.</p>
        {% endif %}

        <p><a href="../../view-ect?ect={{data.changedEctId}}">Back to {{changedValue if isNameChange else name}}'s details</a></p>
    </div>
</div>

{% endblock %} 