{% extends "layouts/ects.html" %}

{# Find the active ECT from the ects array based on the 'ectId' query parameter #}
{% set ectId = data.ectId %}
{% set activeEct = {} %}
{% for person in data.ects %}
  {% if person.id == ectId %}
    {% set activeEct = person %}
  {% endif %}
{% endfor %}

{% set name = activeEct.name %}

{% set pageName="Which lead provider will be training " + name + "?" %}

{% block beforeContent %}
{{ govukBackLink({
text: "Back",
href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l">{{ pageName }}</h1>

        <form method="post">
        <input type="hidden" name="id" value="{{ ectId }}">
        <input type="hidden" name="newTrainingProgramme" value="Provider-led">
        
        {% from "govuk/components/radios/macro.njk" import govukRadios %}

        {{ govukRadios({
        name: "leadProvider",
            label: {
            classes: "govuk-visually-hidden",
            text: pageName
        },
            hint: {
            html: "<p class='govuk-body'>Lead providers are responsible for creating the materials used for training ECTs and mentors.</p><p class='govuk-body'>We will let the lead provider know your school wants to work with them so they can arrange training. They'll confirm which delivery partner they'll be working with to deliver training events.</p>"
            },
        items: [
        {
        value: "Ambition Institute",
        text: "Ambition Institute"
        },
        {
        value: "Best Practice Network (home of Outstanding Leaders Partnership)",
        text: "Best Practice Network (home of Outstanding Leaders Partnership)"
        },
        {
        value: "Education Development Trust",
        text: "Education Development Trust"
        },
        {
        value: "National Institute of Teaching",
        text: "National Institute of Teaching"
        },
        {
        value: "Teach First",
        text: "Teach First"
        },
        {
        value: "UCL Institute of Education",
        text: "UCL Institute of Education"
        }
        ]
        }) }}

            {{ govukDetails({
            summaryText: "What are the roles of an appropriate body, lead provider and delivery partner?",
            text: "
            <p>An appropriate body is responsible for assuring the quality of the statutory induction of ECTs. A lead provider provides the online learning platform used for training ECTs and mentors, while the delivery partner delivers training events.
            </p>
            <p>These roles are sometimes undertaken by the same organisation, for example an appropriate body might be the same organisation as the delivery partner.</p>"
    
            |safe }) }}

            <button class="govuk-button">Continue</button>
            <p><a href="javascript:window.history.back()">Cancel and go back</a></p>
        </form>
    </div>
</div>

{% endblock %} 