{% extends "layouts/ects.html" %}

{# Find the active ECT from the ects array based on the 'ectId' query parameter #}
{% set ectId = data.ectId %}
{% set activeEct = {} %}
{% for person in data.ects %}
  {% if person.id == ectId %}
    {% set activeEct = person %}
  {% endif %}
{% endfor %}

{% set name = activeEct.name %}
{% set currentEmail = activeEct.email %}
{% set pageName = "Change email address for " + name %}

{% block beforeContent %}
{{ govukBackLink({
text: "Back",
href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l">{{ pageName }}</h1>

        <form method="post">
        <input type="hidden" name="ectId" value="{{ ectId }}">
        <input type="hidden" name="personType" value="ECT">

        <p>Make sure you use an email the ECT can access.</p>
        <p>Try to use their school email and do not use a generic email like headteacher@school.com.</p>


        {% from "govuk/components/input/macro.njk" import govukInput %}

        {{ govukInput({
          label: {
            text: "What is the correct email address for " + name + "?",
            classes: "govuk-label--m"
          },
         
          
          
          id: "newEmail",
          name: "newEmail",
          type: "email",
          value: currentEmail,
          classes: "govuk-!-width-two-thirds",
          autocomplete: "email"
        }) }}

        <button class="govuk-button">Continue</button>
        <p><a href="javascript:window.history.back()">Cancel and go back to {{ name }}'s details</a></p>

        </form>
    </div>
</div>

{% endblock %} 