{% extends "layouts/ects.html" %}

{% set pageName="This mentor has already been registered" %}

{% block beforeContent %}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <form method="post">

            <h1 class="govuk-heading-l">{{ pageName }}</h1>
            <p>Tom Jones has already been registered as a mentor so there's no need to do this again. You can still continue to assign Tom Jones to mentor John Smith.</p>
            <p>If you meant to register and assign a different mentor to John Smith, you can go back to do this.</p>

            <div class="govuk-button-group">
                <button type="submit" class="govuk-button" data-module="govuk-button">
                    Assign Tom Jones to mentor John Smith
                </button>
            </div>
            <p><a href="../../school/home/ects">Back to ECTs</a></p>
        </form>

    </div>
</div>

{% endblock %}
