{% extends "layouts/ects.html" %}

{% block head %}
{{ super() }} <!-- This includes the content from the base head block -->
{% include "./filters.njk" %}
{% endblock %}

{% set pageName="Early career teachers" %}

{% block content %}

{% if data['schoolName'] %}
{% set schoolName = data['schoolName'] %}
{% else %}
{% set schoolName = 'Test Primary School' %}
{% endif %}

{% if data['ab'] %}
{% set ab = data['ab'] %}
{% else %}
{% set ab = 'Alpha Teaching School Hub' %}
{% endif %}

{% if data['deliveryPartner'] %}
{% set dp = data['deliveryPartner'] %}
{% else %}
{% set dp = 'Alpha Teaching School Hub' %}
{% endif %}

{% if data['leadProvider'] %}
{% set lp = data['leadProvider'] %}
{% else %}
{% set lp = 'Ambition Institute' %}
{% endif %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <h1 class="govuk-caption-l">{{schoolName}}</h1>
        <h1 class="govuk-heading-l">{{pageName}}</h1>
        <a href="../what-youll-need" class="govuk-button">Register an ECT starting at your school</a>
        <hr class="govuk-section-break--m">
    </div>

    <div class="govuk-grid-column-full">


        <div class="search-box">
        <!-- /* background-color: #f3f2f1;
        padding: 20px 15px;
        margin-bottom: 15px;
        border: 1px solid #b1b4b6"> */ -->
            <form class="search-box__form" accept-charset="UTF-8" style="
        display: flex;
        gap: 15px;
        align-items: flex-end;
        flex-wrap: wrap">
                <div class="search-box__input" style="flex-grow: 1;">
                    <div class="govuk-form-group">
                        <label for="query-field" class="govuk-label govuk-label--s">
                            Search by name or teacher reference number (TRN)
                        </label>
                        <input id="query-field" class="govuk-input" type="text" name="query"></div>
                </div>

                <button type="submit" class="govuk-button govuk-button--secondary" data-module="govuk-button">Search</button>
            </form>
        </div>

        <div class="govuk-summary-card">
            <div class="govuk-summary-card__title-wrapper">
                <h3 class="govuk-summary-card__title govuk-!-font-size-24">
                    <strong><a class="govuk-link govuk-link--no-visited-state govuk-!-font-weight-bold" href="view-ect?ect=john-smith">John Smith</a></strong>
                </h3>
            </div>
            <div class="govuk-summary-card__content">
                <div class="govuk-grid-row">
                    <div class="govuk-grid-column-one-half">
                        <dl class="govuk-summary-list govuk-summary-list--no-border govuk-!-margin-bottom-0">
                            <div class="govuk-summary-list__row">
                                <dt class="govuk-summary-list__key">Status</dt>
                                <dd class="govuk-summary-list__value">
                                    <strong class="govuk-tag govuk-tag--green">Registered</strong>
                                </dd>
                            </div>
                            <div class="govuk-summary-list__row">
                                <dt class="govuk-summary-list__key">TRN</dt>
                                <dd class="govuk-summary-list__value">1693012</dd>
                            </div>
                            <div class="govuk-summary-list__row">
                                <dt class="govuk-summary-list__key">School start date</dt>
                                <dd class="govuk-summary-list__value">7 September 2024</dd>
                            </div>
                        </dl>
                    </div>
                    <div class="govuk-grid-column-one-half">
                        <dl class="govuk-summary-list govuk-summary-list--no-border govuk-!-margin-bottom-0">
                            <div class="govuk-summary-list__row">
                                <dt class="govuk-summary-list__key">Appropriate body</dt>
                                <dd class="govuk-summary-list__value">{{ab}}</dd>
                            </div>
                            <div class="govuk-summary-list__row">
                                <dt class="govuk-summary-list__key">Lead provider</dt>
                                <dd class="govuk-summary-list__value">
                                    {% set johnSmithKey = 'leadProvider_john-smith' %}
                                    {% set johnSmithChangedKey = 'leadProviderChanged_john-smith' %}
                                    {% if data[johnSmithChangedKey] == 'yes' %}
                                        {{ data[johnSmithKey] or lp }}
                                    {% else %}
                                        {{lp}}
                                    {% endif %}
                                </dd>
                            </div>
                            <div class="govuk-summary-list__row">
                                <dt class="govuk-summary-list__key">Delivery partner</dt>
                                <dd class="govuk-summary-list__value">
                                    {% if data[johnSmithChangedKey] == 'yes' %}
                                        Yet to be reported by the lead provider
                                    {% else %}
                                        {{dp}}
                                    {% endif %}
                                </dd>
                            </div>
                        </dl>
                    </div>
                </div>
                <dl class="govuk-summary-list govuk-summary-list--no-border govuk-!-margin-bottom-0">
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key" style="width: 15%">Mentor</dt>
                        <dd class="govuk-summary-list__value">
                            {{ govukWarningText({
                            html: 'You must <a class="govuk-link govuk-link--no-visited-state" href="../mentor/who-will-be-mentoring">assign a mentor or register a new one</a> for this ECT.',
                            iconFallbackText: "Warning"
                            }) }}
                        </dd>
                    </div>
                </dl>
            </div>
        </div>
        <div class="govuk-summary-card">
            <div class="govuk-summary-card__title-wrapper">
                <h3 class="govuk-summary-card__title govuk-!-font-size-24">
                    <strong><a class="govuk-link govuk-link--no-visited-state govuk-!-font-weight-bold" href="view-ect?ect=maelle-obscur">Maelle Obscur</a></strong>
                </h3>
            </div>
            <div class="govuk-summary-card__content">
                <div class="govuk-grid-row">
                    <div class="govuk-grid-column-one-half">
                        <dl class="govuk-summary-list govuk-summary-list--no-border govuk-!-margin-bottom-0">
                            <div class="govuk-summary-list__row">
                                <dt class="govuk-summary-list__key">Status</dt>
                                <dd class="govuk-summary-list__value">
                                    <strong class="govuk-tag govuk-tag--green">Registered</strong>
                                </dd>
                            </div>
                            <div class="govuk-summary-list__row">
                                <dt class="govuk-summary-list__key">TRN</dt>
                                <dd class="govuk-summary-list__value">3293961</dd>
                            </div>
                            <div class="govuk-summary-list__row">
                                <dt class="govuk-summary-list__key">School start date</dt>
                                <dd class="govuk-summary-list__value">9 September 2024</dd>
                            </div>
                        </dl>
                    </div>
                    <div class="govuk-grid-column-one-half">
                        <dl class="govuk-summary-list govuk-summary-list--no-border govuk-!-margin-bottom-0">
                            <div class="govuk-summary-list__row">
                                <dt class="govuk-summary-list__key">Appropriate body</dt>
                                <dd class="govuk-summary-list__value">{{ab}}</dd>
                            </div>
                            <div class="govuk-summary-list__row">
                                <dt class="govuk-summary-list__key">Lead provider</dt>
                                <dd class="govuk-summary-list__value">
                                    {% set maelleKey = 'leadProvider_maelle-obscur' %}
                                    {% set maelleChangedKey = 'leadProviderChanged_maelle-obscur' %}
                                    {% if data[maelleChangedKey] == 'yes' %}
                                        {{ data[maelleKey] or 'Teach First' }}
                                    {% else %}
                                        Teach First
                                    {% endif %}
                                </dd>
                            </div>
                            <div class="govuk-summary-list__row">
                                <dt class="govuk-summary-list__key">Delivery partner</dt>
                                <dd class="govuk-summary-list__value">
                                    {% if data[maelleChangedKey] == 'yes' %}
                                        Yet to be reported by the lead provider
                                    {% else %}
                                        Yet to be reported by the lead provider
                                    {% endif %}
                                </dd>
                            </div>
                        </dl>
                    </div>
                </div>
                <dl class="govuk-summary-list govuk-summary-list--no-border govuk-!-margin-bottom-0">
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key" style="width: 15%">Mentor</dt>
                        <dd class="govuk-summary-list__value">Tom Jones</dd>
                    </div>
                </dl>
            </div>
        </div>
        <div class="govuk-summary-card">
            <div class="govuk-summary-card__title-wrapper">
                <h3 class="govuk-summary-card__title govuk-!-font-size-24">
                    <strong><a class="govuk-link govuk-link--no-visited-state govuk-!-font-weight-bold" href="view-ect?ect=gustav-brown">Gustav Brown</a></strong>
                </h3>
            </div>
            <div class="govuk-summary-card__content">
                <div class="govuk-grid-row">
                    <div class="govuk-grid-column-one-half">
                        <dl class="govuk-summary-list govuk-summary-list--no-border govuk-!-margin-bottom-0">
                            <div class="govuk-summary-list__row">
                                <dt class="govuk-summary-list__key">Status</dt>
                                <dd class="govuk-summary-list__value">
                                    <strong class="govuk-tag govuk-tag--green">Registered</strong>
                                </dd>
                            </div>
                            <div class="govuk-summary-list__row">
                                <dt class="govuk-summary-list__key">TRN</dt>
                                <dd class="govuk-summary-list__value">3992613</dd>
                            </div>
                            <div class="govuk-summary-list__row">
                                <dt class="govuk-summary-list__key">School start date</dt>
                                <dd class="govuk-summary-list__value">11 September 2023</dd>
                            </div>
                        </dl>
                    </div>
                    <div class="govuk-grid-column-one-half">
                        <dl class="govuk-summary-list govuk-summary-list--no-border govuk-!-margin-bottom-0">
                            <div class="govuk-summary-list__row">
                                <dt class="govuk-summary-list__key">Appropriate body</dt>
                                <dd class="govuk-summary-list__value">{{ab}}</dd>
                            </div>
                            <div class="govuk-summary-list__row">
                                <dt class="govuk-summary-list__key">Lead provider</dt>
                                <dd class="govuk-summary-list__value">
                                    {% set gustavKey = 'leadProvider_gustav-brown' %}
                                    {% set gustavChangedKey = 'leadProviderChanged_gustav-brown' %}
                                    {% if data[gustavChangedKey] == 'yes' %}
                                        {{ data[gustavKey] or lp }}
                                    {% else %}
                                        {{lp}}
                                    {% endif %}
                                </dd>
                            </div>
                            <div class="govuk-summary-list__row">
                                <dt class="govuk-summary-list__key">Delivery partner</dt>
                                <dd class="govuk-summary-list__value">
                                    {% if data[gustavChangedKey] == 'yes' %}
                                        Yet to be reported by the lead provider
                                    {% else %}
                                        {{dp}}
                                    {% endif %}
                                </dd>
                            </div>
                        </dl>
                    </div>
                </div>
                <dl class="govuk-summary-list govuk-summary-list--no-border govuk-!-margin-bottom-0">
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key" style="width: 15%">Mentor</dt>
                        <dd class="govuk-summary-list__value">John Doe</dd>
                    </div>
                </dl>
            </div>
        </div>
        <div class="govuk-summary-card">
            <div class="govuk-summary-card__title-wrapper">
                <h3 class="govuk-summary-card__title govuk-!-font-size-24">
                    <strong><a class="govuk-link govuk-link--no-visited-state govuk-!-font-weight-bold" href="view-ect?ect=lune-delaney">Lune Delaney</a></strong>
                </h3>
            </div>
            <div class="govuk-summary-card__content">
                <div class="govuk-grid-row">
                    <div class="govuk-grid-column-one-half">
                        <dl class="govuk-summary-list govuk-summary-list--no-border govuk-!-margin-bottom-0">
                            <div class="govuk-summary-list__row">
                                <dt class="govuk-summary-list__key">Status</dt>
                                <dd class="govuk-summary-list__value">
                                    <strong class="govuk-tag govuk-tag--yellow">Leaving school</strong>
                                </dd>
                            </div>
                            <div class="govuk-summary-list__row">
                                <dt class="govuk-summary-list__key">TRN</dt>
                                <dd class="govuk-summary-list__value">1919529</dd>
                            </div>
                            <div class="govuk-summary-list__row">
                                <dt class="govuk-summary-list__key">School start date</dt>
                                <dd class="govuk-summary-list__value">1 September 2024</dd>
                            </div>
                        </dl>
                    </div>
                    <div class="govuk-grid-column-one-half">
                        <dl class="govuk-summary-list govuk-summary-list--no-border govuk-!-margin-bottom-0">
                            <div class="govuk-summary-list__row">
                                <dt class="govuk-summary-list__key">Appropriate body</dt>
                                <dd class="govuk-summary-list__value">{{ab}}</dd>
                            </div>
                            <div class="govuk-summary-list__row">
                                <dt class="govuk-summary-list__key">Lead provider</dt>
                                <dd class="govuk-summary-list__value">
                                    {% set luneKey = 'leadProvider_lune-delaney' %}
                                    {% set luneChangedKey = 'leadProviderChanged_lune-delaney' %}
                                    {% if data[luneChangedKey] == 'yes' %}
                                        {{ data[luneKey] or lp }}
                                    {% else %}
                                        {{lp}}
                                    {% endif %}
                                </dd>
                            </div>
                            <div class="govuk-summary-list__row">
                                <dt class="govuk-summary-list__key">Delivery partner</dt>
                                <dd class="govuk-summary-list__value">
                                    {% if data[luneChangedKey] == 'yes' %}
                                        Yet to be reported by the lead provider
                                    {% else %}
                                        {{dp}}
                                    {% endif %}
                                </dd>
                            </div>
                        </dl>
                    </div>
                </div>
                <dl class="govuk-summary-list govuk-summary-list--no-border govuk-!-margin-bottom-0">
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key" style="width: 15%">Mentor</dt>
                        <dd class="govuk-summary-list__value">Tom Jones</dd>
                    </div>
                </dl>
            </div>
        </div>
        <div class="govuk-summary-card">
            <div class="govuk-summary-card__title-wrapper">
                <h3 class="govuk-summary-card__title govuk-!-font-size-24">
                    <strong><a class="govuk-link govuk-link--no-visited-state govuk-!-font-weight-bold" href="view-ect?ect=sciel-wright">Sciel Wright</a></strong>
                </h3>
            </div>
            <div class="govuk-summary-card__content">
                <div class="govuk-grid-row">
                    <div class="govuk-grid-column-one-half">
                        <dl class="govuk-summary-list govuk-summary-list--no-border govuk-!-margin-bottom-0">
                            <div class="govuk-summary-list__row">
                                <dt class="govuk-summary-list__key">Status</dt>
                                <dd class="govuk-summary-list__value">
                                    <strong class="govuk-tag govuk-tag--blue" style="max-width: max-content">Completed induction</strong>
                                </dd>
                            </div>
                            <div class="govuk-summary-list__row">
                                <dt class="govuk-summary-list__key">TRN</dt>
                                <dd class="govuk-summary-list__value">3482913</dd>
                            </div>
                            <div class="govuk-summary-list__row">
                                <dt class="govuk-summary-list__key">School start date</dt>
                                <dd class="govuk-summary-list__value">1 September 2021</dd>
                            </div>
                        </dl>
                    </div>
                    <div class="govuk-grid-column-one-half">
                        <dl class="govuk-summary-list govuk-summary-list--no-border govuk-!-margin-bottom-0">
                            <div class="govuk-summary-list__row">
                                <dt class="govuk-summary-list__key">Appropriate body</dt>
                                <dd class="govuk-summary-list__value">{{ab}}</dd>
                            </div>
                            <div class="govuk-summary-list__row">
                                <dt class="govuk-summary-list__key">Lead provider</dt>
                                <dd class="govuk-summary-list__value">
                                    {% set scielKey = 'leadProvider_sciel-wright' %}
                                    {% set scielChangedKey = 'leadProviderChanged_sciel-wright' %}
                                    {% if data[scielChangedKey] == 'yes' %}
                                        {{ data[scielKey] or lp }}
                                    {% else %}
                                        {{lp}}
                                    {% endif %}
                                </dd>
                            </div>
                            <div class="govuk-summary-list__row">
                                <dt class="govuk-summary-list__key">Delivery partner</dt>
                                <dd class="govuk-summary-list__value">
                                    {% if data[scielChangedKey] == 'yes' %}
                                        Yet to be reported by the lead provider
                                    {% else %}
                                        {{dp}}
                                    {% endif %}
                                </dd>
                            </div>
                        </dl>
                    </div>
                </div>
                <dl class="govuk-summary-list govuk-summary-list--no-border govuk-!-margin-bottom-0">
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key" style="width: 15%">Mentor</dt>
                        <dd class="govuk-summary-list__value">John Doe</dd>
                    </div>
                </dl>
            </div>
        </div>

    </div>
</div>
{% endblock %}
