{% extends "layouts/mentors.html" %}
{% if data['fullName'] %}
{% set name = data['fullName'] %}
{% else %}
{% set name = 'John Doe' %}
{% endif %}

{% block beforeContent %}
{{ govukBackLink({
text: "Back",
href: "ects"
}) }}
{% endblock %}
{% if data['leadProvider'] %}
{% set lp = data['leadProvider'] %}
{% else %}
{% set lp = 'Ambition Institute' %}
{% endif %}

{% if data['deliveryPartner'] %}
{% set dp = data['deliveryPartner'] %}
{% else %}
{% set dp = 'Alpha Teaching School Hub' %}
{% endif %}

{# Define mentor data based on the parameter #}
{% set mentorParam = data.mentor or 'john-doe' %}

{% if mentorParam == 'john-doe' %}
  {% set mentorName = 'John Doe' %}
  {% set mentorLeadProvider = 'Ambition Institute' %}
  {% set mentorDeliveryPartner = dp %}
  {% set mentorShowMentorWarning = true %}
  {% endif %}

{% set pageName="John Smith" %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
<span class="govuk-caption-l">TRN: 5924029</span>
<h1 class="govuk-heading-l">{{mentorName}}</h1>
<h1 class="govuk-heading-m">Mentor details</h1>

  <dl class="govuk-summary-list">
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
        Name
      </dt>
      <dd class="govuk-summary-list__value">
        John Doe
      </dd>
      <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> name</span></a>
        </dd>
    </div>
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
        Email address
      </dt>
      <dd class="govuk-summary-list__value">
        name@email.com
      </dd>
         <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> email address</span></a>
        </dd>
    </div>
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
        Assigned ECTs
      </dt>
      <dd class="govuk-summary-list__value">
        <ul class="govuk-list">
          <li><a href="#">John Smith</a></li>
          <li><a href="#">Steven Taylor</a></li>
        </ul>
      </dd>
      <dd class="govuk-summary-list__actions">
        <a class="govuk-link" href="mentor/assigned-ects">Change<span class="govuk-visually-hidden"> assigned ECTs</span></a>
      </dd>
    </div>
  </dl>

  <h2 class="govuk-heading-m">Training details</h2>
  <dl class="govuk-summary-list">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Lead provider
            </dt>
            <dd class="govuk-summary-list__value">
              {% set mentorKey = mentorName|replace(' ', '-')|lower %}
              {% set leadProviderChangedKey = 'leadProviderChanged_' + mentorKey %}
              {% set leadProviderKey = 'leadProvider_' + mentorKey %}
              {% set displayLeadProvider = data[leadProviderKey] or mentorLeadProvider %}
              
              {{ displayLeadProvider }}
              {% if displayLeadProvider == 'Ambition Institute' %}
              <span class="govuk-caption-m">Confirmed by {{ displayLeadProvider }}</span>
              {% else %}
              <span class="govuk-caption-m">Awaiting confirmation by {{ displayLeadProvider }}</span>
              {% endif %}
            </dd>
            <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="change/change-lead-provider-mentor?fullName={{mentorName}}">Change<span class="govuk-visually-hidden"> lead provider</span></a>
              </dd>
              
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Delivery partner
            </dt>
                        <dd class="govuk-summary-list__value">
              {% set mentorKey = mentorName|replace(' ', '-')|lower %}
              {% set leadProviderKey = 'leadProvider_' + mentorKey %}
              {% set displayLeadProvider = data[leadProviderKey] or mentorLeadProvider %}
              
              {% if displayLeadProvider == 'Ambition Institute' %}
              {{ mentorDeliveryPartner }}
              <span class="govuk-caption-m">To change the delivery partner, you must contact the lead provider</span>
              {% else %}
              Yet to be reported by the lead provider
              {% endif %}
            </dd>
          </div>
        </dl>
  </div>
</div>

{{ super() }}
<script src="/node_modules/dfe-frontend/dist/dfefrontend.min.js"></script>

<script>
    // Ensure DOM is fully loaded before manipulating
    document.addEventListener("DOMContentLoaded", function() {
        // Get the current URL
        const url = window.location.href;

        // Use the match() method to find the value in the URL
        const currentV = url.match(/v\d+/);

        // Set the value as the href attribute of the link
        document.getElementById("ects").href = "/" + currentV + "/school/home/ects"
        document.getElementById("mentors").href = "/" + currentV + "/school/home/mentors"
    });
</script>
{% endblock %}