{% extends "layouts/induction-tutor.html" %}

{% block head %}
{{ super() }} <!-- This includes the content from the base head block -->
{% include "./filters.njk" %}
{% endblock %}

{% set pageName="Induction tutor" %}

{% block content %}

{% if data['leadProvider'] %}
{% set lp = data['leadProvider'] %}
{% else %}
{% set lp = 'Ambition Institute' %}
{% endif %}




   <div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
        <form method="post">

    <h1 class="govuk-caption-l">{{schoolName}}</h1>
        <h1 class="govuk-heading-l">{{pageName}}</h1>

                    <p class="govuk-body">Our records show that the following person is your school induction tutor. Their details have been passed to your appropriate body and lead providers.</p>

<h1 class="govuk-heading-m">Induction tutor details</h1>

{% if data['tutorName'] %}
            {% set tutorName = data['tutorName'] %}
            {% else %}
            {% set tutorName = 'John Smith' %}
            {% endif %}

            {% if data['tutorEmail'] %}
            {% set tutorEemail = data['tutorEmail'] %}
            {% else %}
            {% set tutorEmail = 'email@email.com' %}
            {% endif %}


                   

                    {{ govukSummaryList({
            rows: [
                {
                    key: { text: "Name" },
                    value: {
                             text: data [ 'tutorName' ]
            }  
                },
                {
                    key: { text: "Email" },
                    value: {
                            text: data [ 'tutorEmail' ]
              }                }
            ]
        }) }}

                    <button class="govuk-button">Change induction tutor</button>

        </form>


</div>
{% endblock %}
