{% extends "layouts/induction-tutor.html" %}

{% block head %}
{{ super() }} <!-- This includes the content from the base head block -->
{% include "./filters.njk" %}
{% endblock %}

{% set pageName="Induction tutor" %}

{% if data['tutorName'] %}
{% set tutorName = data['tutorName'] %}
{% else %}
{% set tutorName = 'John Smith' %}
{% endif %}

{% if data['tutorEmail'] %}
{% set tutorEmail = data['tutorEmail'] %}
{% else %}
{% set tutorEmail = 'JohnSmith@school.org' %}
{% endif %}


{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
        <form method="post">

            <h1 class="govuk-caption-l">{{schoolName}}</h1>
                <h1 class="govuk-heading-l">{{pageName}}</h1>
                    <p class="govuk-body">Our records show that the following person is your main school induction tutor. </p> 
                    <p>We share these details with your appropriate body and lead providers (if your school is using a provider-led training programme).</p>
            <h1 class="govuk-heading-m">Induction tutor details</h1>          
                        

            {{ govukSummaryList({
                rows: [
                {
                key: { text: "Name" },
                value: {                        
                        text: tutorName
                }  
                },
                {
                key: { text: "Email" },
                value: {
                        text: tutorEmail
                },
                hint: {
    text: "Do not use a generic email like headteacher@school.com"
  }
                }               
            ]
            }) }}

            <button class="govuk-button">Change induction tutor</button>

        </form>
    </div>
</div>

{% endblock %}
