{% extends "layouts/main.html" %}

{% set pageName="Register early career teachers" %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l">{{pageName}}</h1>
        <p>Use this service to register your school’s early career teachers (ECTs) for early career framework (ECF)
            training.</p>
        <p> You need to register your ECTs and their mentors with the Department for Education (DfE) so that they can
            receive: </p>
        <ul class="govuk-list govuk-list--bullet">
            <li>access to DfE-funded training </li>
            <li>funding to support their time off timetable for mentoring and training</li>
        </ul>
        <h2 class="govuk-heading-m">What you’ll need </h2>
        <p>You’ll need to provide these details for both ECTs and mentors:</p>
        <ul class="govuk-list govuk-list--bullet">
            <li>name</li>
            <li>teacher reference number (TRN)</li>
            <li>date of birth</li>
            <li>email address </li>
            <li>lead provider </li>
            <li>delivery partner </li>
        </ul>

        <p>For ECTs only, you’ll also need to submit the following information:</p>
        <ul class="govuk-list govuk-list--bullet">
            <li>appropriate body</li>
            <li>training programme (school-led or provider-led) </li>
            <li>start date at your school (month and year they started as an ECT)</li>
        </ul>

        <div class="govuk-inset-text">
            You must provide these details before your ECTs can start the ECF training.
        </div>
        <p>If any of these details change, you can use this service to update them.</p>
        <p>You'll need to sign in using DfE Sign-in.</p>
        <form method="post">
            {{ govukButton({
            text: "Continue to DfE Sign-in",
            isStartButton: true
            }) }}
        </form>
        <p>For appropriate bodies that need to check training details, <a href="#">sign in</a>.</p>
    </div>
</div>

{% endblock %}