{% extends "layouts/home.html" %}

<!-- {% set pageName="You've changed your school induction tutor to Tom Jones" %} -->
{% set pageName="You've changed your school's induction tutor to Tom Jones" %}


{% block beforeContent %}
{{ govukBackLink({
text: "Back",
href: "javascript:window.history.back()"
}) }}
{% endblock %} 

{% block content %} 


<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <form method="post">

          <div class="govuk-panel govuk-panel--confirmation">
            <h1 class="govuk-panel__title">
                {{ pageName }}
            </h1>            
        </div>

          

        <h2 class="govuk-heading-m">What happens next</h2>

                 <p>We'll email Tom Jones at TJ@school.org.uk to let them know.</p>

                 <button class="govuk-button">Continue</button>
        </form>


<!--<h2 class="govuk-heading-m">What happens next</h2>
        <p class="govuk-body">
          We'll email Tom Jones to let them know.
        </p>        -->
        

    </div>
</div>




{% endblock %}
