{% extends "layouts/admin.html" %}

{% block head %}
{{ super() }}
<style>
    /* Custom styles for search example */
    .search-box__form {
        display: flex;
        gap: 15px;
        align-items: flex-end;
        flex-wrap: wrap;
    }
    
    .search-box__input {
        flex-grow: 1;
    }
</style>
{% endblock %}

{% set pageName="Aquila Trust" %}
{% set activeNav="organisations" %}

{% block beforeContent %}
{{govukBreadcrumbs({
    items: [
        {
            text: "Organisations",
            href: "index"
        },
        {
            text: "Delivery partners",
            href: "delivery-partners"
        },
        {
            text: pageName
        }
    ]
})}}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

        {{govukNotificationBanner({
            type: "success",
            html: "Delivery partner name changed"
        })}}

        <h1 class="govuk-heading-l">{{pageName}}</h1>

        <p><a href="dp-ideation-3">Change delivery partner name</a></p>

        <!-- {{govukSummaryList({
            rows: [
                {
                    key: {
                        text: "Name"
                    },
                    value: {
                        html: "Aquila Trust"
                    },
                    actions: {
                        items: [
                        {
                            href: "#",
                            text: "Change",
                            visuallyHiddenText: "Delivery partner name"
                        }
                        ]
                    }
                }
            ]
        })}} -->
        
        <h2 class="govuk-heading-m">Lead provider partners</h2>
        {{ govukTable({
            head: [
                {
                    text: "Year"
                },
                {
                    text: "Lead provider"
                },
                {
                    text: ""
                }
            ],
            rows: [
                [
                    {
                        text: "2025"
                    },
                    {
                        html: "<ul class='govuk-list'><li>Teach First</li><li>UCL Institute of Education</li></ul>"
                    },
                    {
                        html: "<a href='#' class='govuk-link'>Change<span class='govuk-visually-hidden'> 2025</span></a>"
                    }
                ],
                [
                    {
                        text: "2024"
                    },
                    {
                        text: "Teach First"
                    },
                    {
                        html: "<a href='#' class='govuk-link'>Change<span class='govuk-visually-hidden'> 2024</span></a>"
                    }
                ],
                [
                    {
                        text: "2023"
                    },
                    {
                        text: "Teach First"
                    },
                    {
                        html: "<a href='#' class='govuk-link'>Change<span class='govuk-visually-hidden'> 2023</span></a>"
                    }
                ],
                [
                    {
                        text: "2022"
                    },
                    {
                        text: "Teach First"
                    },
                    {
                        html: "<a href='#' class='govuk-link'>Change<span class='govuk-visually-hidden'> 2022</span></a>"
                    }
                ],
                [
                    {
                        text: "2021"
                    },
                    {
                        text: "Ambition Institute"
                    },
                    {
                        html: "<a href='#' class='govuk-link'>Change<span class='govuk-visually-hidden'> 2021</span></a>"
                    }
                ]
            ]
        }) }}
        
        
    </div>
</div>

{% endblock %} 