{% extends "layouts/admin.html" %}

{% block head %}
{{ super() }}
<style>
    /* Custom styles for search example */
    .search-box__form {
        display: flex;
        gap: 15px;
        align-items: flex-end;
        flex-wrap: wrap;
    }
    
    .search-box__input {
        flex-grow: 1;
    }
</style>
{% endblock %}

{% set pageName="Lead providers working with Aquila Trust in 2021" %}
{% set activeNav="organisations" %}

{% block beforeContent %}
{{govukBackLink({
    text: "Back",
    href: "javascript:history.back()"
})}}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <h1 class="govuk-heading-l">{{pageName}}</h1>

        {{govukSummaryList({
            rows: [
                {
                    key: { text: "Lead provider" },
                    value: { html: "<ul class='govuk-list'><li>Ambition Institute</li><li>Education Development Trust</li></ul>" }
                }
            ]
        })}}
        
        {{govukCheckboxes({
            idPrefix: "lead-provider",
            name: "lead-provider",
            fieldset: {
                legend: {
                    text: "Add new lead providers",
                    isPageHeading: false,
                    classes: "govuk-fieldset__legend--m"
                }
            },
            items: [
                {
                    value: "ambition-institute",
                    text: "National Institute of Teaching"
                },
                {
                    value: "ambition-institute",
                    text: "Teach First"
                },
                {
                    value: "ambition-institute",
                    text: "UCL Institute of Education"
                }
            ]
        })}}        

        <button class="govuk-button">Confirm</button>
    </div>
</div>

{% endblock %} 