{% extends "layouts/ects.html" %}

{% block head %}
{{ super() }} <!-- This includes the content from the base head block -->
{% include "./filters.njk" %}
{% endblock %}

{% set pageName="Early career teachers (ECTs)" %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <h1 class="govuk-caption-l">Test Primary School</h1>
        <h1 class="govuk-heading-l">{{pageName}}</h1>
        <a href="../what-youll-need" class="govuk-button">Add an ECT</a>
        <hr class="govuk-section-break--m">
    </div>

    <div class="govuk-grid-column-one-third">
        <div class="moj-filter">
            <div class="moj-filter__content">
                <div class="moj-filter__options">
                    <div class="govuk-form-group">
                        <label class="govuk-label govuk-label--m" for="keywords"> Search by name </label>
                        <input class="govuk-input" id="keywords" name="keywords" type="text">
                    </div>
<!--                    <div class="govuk-form-group">-->
<!--                        <fieldset class="govuk-fieldset">-->
<!--                            <legend class="govuk-fieldset__legend govuk-fieldset__legend&#45;&#45;m"> Status </legend>-->
<!--                            <div class="govuk-checkboxes govuk-checkboxes&#45;&#45;small" data-module="govuk-checkboxes">-->
<!--                                <div class="govuk-checkboxes__item">-->
<!--                                    <input class="govuk-checkboxes__input" id="status" name="status" type="checkbox" value="complete">-->
<!--                                    <label class="govuk-label govuk-checkboxes__label" for="status"> Completed </label>-->
<!--                                </div>-->
<!--                                <div class="govuk-checkboxes__item">-->
<!--                                    <input class="govuk-checkboxes__input" id="status-2" name="status" type="checkbox" value="withdrawn">-->
<!--                                    <label class="govuk-label govuk-checkboxes__label" for="status-2"> Withdrawn </label>-->
<!--                                </div>-->
<!--                                <div class="govuk-checkboxes__item">-->
<!--                                    <input class="govuk-checkboxes__input" id="status-3" name="status" type="checkbox" value="inprogress">-->
<!--                                    <label class="govuk-label govuk-checkboxes__label" for="status-3"> In progress </label>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                        </fieldset>-->
<!--                    </div>-->
                </div>
            </div>
        </div>
    </div>

    <div class="govuk-grid-column-two-thirds">

        {% if data['ectAddedWithMentor'] === 'yes' or data['ectAddedWithoutMentor'] === 'yes' %}

        <div class="govuk-summary-card">
            <div class="govuk-summary-card__title-wrapper">
                <h2 class="govuk-summary-card__title">
                    <a class="govuk-link govuk-link--no-visited-state govuk-!-font-weight-regular" href="#">John Smith</a>
                </h2>
            </div>
            <div class="govuk-summary-card__content">
                <dl class="govuk-summary-list govuk-summary-list--no-border govuk-!-margin-bottom-0">
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">Status</dt>
                    <dd class="govuk-summary-list__value">
                        <strong class="govuk-tag govuk-tag--green">In progress</strong>
                    </dd>
                </div>
                    {% if data['ectAddedWithoutMentor'] === 'yes' %}
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">Mentor</dt>
                        <dd class="govuk-summary-list__value govuk-inset-text">
                                <p>No mentor assigned</p>
                                <a class="govuk-link govuk-link--no-visited-state" href="../mentor/who-will-be-mentoring">Assign a mentor</a>
                        </dd>
                    </div>
                    {% else %}
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">Mentor</dt>
                        <dd class="govuk-summary-list__value">
                            {{data['mentor']}}
                        </dd>
                    </div>
                    {% endif %}
                </dl>
            </div>
        </div>

        {% else %}

        <p>Your school does not currently have any ECTs registered.</p>

        {% endif %}

    </div>
</div>

{% endblock %}
