{% extends "layouts/mentors.html" %}

{% block head %}
{{ super() }} <!-- This includes the content from the base head block -->
{% include "./filters.njk" %}
<style>
    /* Custom style for larger font size */
    .large-font {
        font-size: 1.5rem; /* Adjust the size as needed */
    }
</style>
{% endblock %}

{% set pageName="Mentors" %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <h1 class="govuk-caption-l">Test Primary School</h1>
        <h1 class="govuk-heading-l">{{pageName}}</h1>
        <hr class="govuk-section-break--m">
    </div>

    <div class="govuk-grid-column-one-third">
        <div class="moj-filter">
            <div class="moj-filter__content">
                <div class="moj-filter__options">
                    <div class="govuk-form-group">
                        <label class="govuk-label govuk-label--m" for="keywords"> Search by name </label>
                        <input class="govuk-input" id="keywords" name="keywords" type="text">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="govuk-grid-column-two-thirds">

        <div class="govuk-summary-card">
            <div class="govuk-summary-card__title-wrapper">
                <h3 class="govuk-summary-card__title">
                    <a class="govuk-link govuk-link--no-visited-state govuk-!-font-weight-bold large-font" href="">John Doe</a></h3>
            </div>
            <div class="govuk-summary-card__content">
                <dl class="govuk-summary-list govuk-summary-list--no-border govuk-!-margin-bottom-0">
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">ECTs assigned to mentor</dt>
                        <dd class="govuk-summary-list__value">
                            <div class="app-summary-list__missing">
                                <div class="app-summary-list__missing-heading">None</div>
                            </div>
                        </dd>
                    </div>
                </dl>
            </div>
        </div>
        
        <div class="govuk-summary-card">
            <div class="govuk-summary-card__title-wrapper">
                <h3 class="govuk-summary-card__title">
                    <a class="govuk-link govuk-link--no-visited-state govuk-!-font-weight-bold large-font" href="">Tom Jones</a></h3>
            </div>
            <div class="govuk-summary-card__content">
                <dl class="govuk-summary-list govuk-summary-list--no-border govuk-!-margin-bottom-0">
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">ECTs assigned to mentor</dt>
                        <dd class="govuk-summary-list__value">
                            <div class="app-summary-list__missing">
                                <div class="app-summary-list__missing-heading">None</div>
                            </div>
                        </dd>
                    </div>
                </dl>
            </div>
        </div>

    </div>
</div>

{% endblock %}
