{% extends "layouts/main.html" %}

{% set pageName="Heading goes here" %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        {{ xGovukAutocomplete({
        id: "partnership",
        name: "partnership",
        allowEmpty: false,
        label: {
        classes: "govuk-label--l",
        isPageHeading: true,
        text: pageName
        },
        hint: {
        text: "Hint goes here"
        },
        items: [
        { text: "Academy Transformation Trust - Ambition Institute" },
        { text: "Advantage Schools - Ambition Institute" },
        { text: "Ark Schools - Ambition Institute" },
        { text: "Astrea Academy Trust (not new for 24) - Ambition Institute" },
        { text: "BDAT (In partnership with Beckfoot and Dixon) - Ambition Institute" },
        { text: "Calderdale & Kirklees TSH - Ambition Institute" },
        { text: "Central London TSH - Ambition Institute" },
        { text: "Diocese of Hallam - Ambition Institute" },
        { text: "East Midlands Teacher Training Partnership EMTTP - Ambition Institute" },
        { text: "Eden Academy Trust - Ambition Institute" },
        { text: "Exceed AT / Bradford TSH - Ambition Institute" },
        { text: "Five Counties TSHs Alliance - Ambition Institute" },
        { text: "Forward as One - Ambition Institute" },
        { text: "GLF West Sussex TSH - Ambition Institute" },
        { text: "Greenwood Academies Trust - Ambition Institute" },
        { text: "Hampshire CC - Ambition Institute" },
        { text: "Haybridge TSH - Ambition Institute" },
        { text: "Inspiration Teaching School Hub (not new for 24) - Ambition Institute" },
        { text: "Julian TSH - Ambition Institute" },
        { text: "Learning in Harmony Mult Academy Trust - Ambition Institute" },
        { text: "London District East TSH - Ambition Institute" },
        { text: "Manor MAT - Ambition Institute" },
        { text: "North West London TSH - Ambition Institute" },
        { text: "Ormiston Academy Trust - Ambition Institute" },
        { text: "Pathfinder - Ambition Institute" },
        { text: "Shaw Education Trust  - Ambition Institute" },
        { text: "Spencer Academies Trust - Ambition Institute" },
        { text: "St Thomas Aquinas MAT / Leicestershire and Rutland TSH - Ambition Institute" },
        { text: "STEP Academy Trust  - Ambition Institute" },
        { text: "Swindon & Wiltshire TSH - Ambition Institute" },
        { text: "The Active Learning Trust - Ambition Institute" },
        { text: "The Prince Henry's High School Academy Trust - Ambition Institute" },
        { text: "The Tenax Schools Trust (Kent Teaching School Hub) - Ambition Institute" },
        { text: "The Three  Rivers Teaching School Hub - Ambition Institute" },
        { text: "United Learning Trust - Ambition Institute" },
        { text: "Unity TSH - PLN (NEW FOR 2024) - Ambition Institute" },
        { text: "Westcountry Schools Trust (not new for 24) - Ambition Institute" },
        { text: "Alban TSH - Best Practice Network" },
        { text: "Alpha Trust - Best Practice Network" },
        { text: "Aspire Academy Trust - Best Practice Network" },
        { text: "Astra TSH - Best Practice Network" },
        { text: "Benfleet TSA - Best Practice Network" },
        { text: "Best Practice Network - Best Practice Network" },
        { text: "Bishop Challoner Training School Alliance - Best Practice Network" },
        { text: "Blueprint Alliance - Best Practice Network" },
        { text: "Bracknell Forest Partnership - Best Practice Network" },
        { text: "Cheshire TSH - Best Practice Network" },
        { text: "Chiltern TSH - Best Practice Network" },
        { text: "Churchdown School Academy - Best Practice Network" },
        { text: "Collaboration of Glossop Schools - Best Practice Network" },
        { text: "Community Academies Trust Teaching School (CATTS) - Best Practice Network" },
        { text: "ConnectEd Partnership - Best Practice Network" },
        { text: "Danes Educational Trust - Best Practice Network" },
        { text: "Derby Diocesan Academy Trust - Best Practice Network" },
        { text: "Futures Teaching Alliance - Best Practice Network" },
        { text: "Hatton Academies Trust - Best Practice Network" },
        { text: "Lindens TSA - Best Practice Network" },
        { text: "Loreto Grammar - Best Practice Network" },
        { text: "Nova Education Trust - Best Practice Network" },
        { text: "Primitas Learning Partnership - Best Practice Network" },
        { text: "Rainbow TSH - Best Practice Network" },
        { text: "Services for Education - Best Practice Network" },
        { text: "Shropshire and Telford Education Partnership (STEP) - Best Practice Network" },
        { text: "South East London Catholic Academy Trust (SELCAT) - Best Practice Network" },
        { text: "The Dean Trust Teaching School - Best Practice Network" },
        { text: "The Education People - Best Practice Network" },
        { text: "The Elliot Foundation Academies Trust - Best Practice Network" },
        { text: "The Golden Thread TSH - Best Practice Network" },
        { text: "The Green School Trust - Best Practice Network" },
        { text: "The Learning Partnership - Best Practice Network" },
        { text: "The Mercian Trust - Best Practice Network" },
        { text: "The Pegasus Partnership Trust - Best Practice Network" },
        { text: "Victoria Academies Trust - Best Practice Network" },
        { text: "Watergrove Trust - Best Practice Network" },
        { text: "Wessex MAT - Best Practice Network" },
        { text: "Arthur Terry Teaching School Hub - Education Development Trust" },
        { text: "Camden Learning - Education Development Trust" },
        { text: "Five Counties Teaching School Hub  - Education Development Trust" },
        { text: "Flying High Teaching School Hub - Education Development Trust" },
        { text: "Forest Learning Alliance - Education Development Trust" },
        { text: "HISP Teaching School Hub - Education Development Trust" },
        { text: "John Taylor Teaching School Hub - Education Development Trust" },
        { text: "L4NE/BWCET - Education Development Trust" },
        { text: "LEAD Teaching School Hub - Education Development Trust" },
        { text: "Northern Lights Teaching School Hub: South Tyne & Wear - Education Development Trust" },
        { text: "Potentia Teaching School Hub - Education Development Trust" },
        { text: "REAch2 Multi Academy Trust  - Education Development Trust" },
        { text: "Redhill Teaching Hub - Education Development Trust" },
        { text: "South Yorkshire Teaching School Hub - Education Development Trust" },
        { text: "Swindon and Wiltshire Teaching School Hub - Education Development Trust" },
        { text: "Thames Gateway Teaching School Hub - Education Development Trust" },
        { text: "The University of Winchester NEW - Education Development Trust" },
        { text: "Tudor Grange Academy - Education Development Trust" },
        { text: "Laurus Institute NEW - National Institute of Teaching" },
        { text: "Learn - AT   NEW                          - National Institute of Teaching" },
        { text: "NELT Teaching School Hub - National Institute of Teaching" },
        { text: "NIoT @ Oasis - National Institute of Teaching" },
        { text: "NIoT @ Outwood Grange Academies Trust - National Institute of Teaching" },
        { text: "NIoT @ Star Academies - National Institute of Teaching" },
        { text: "NIoT @The Harris Federation - National Institute of Teaching" },
        { text: "OneCornwall West - National Institute of Teaching" },
        { text: "Rivers Teaching Alliance  - National Institute of Teaching" },
        { text: "Sea View  - National Institute of Teaching" },
        { text: "SWIFT  - National Institute of Teaching" },
        { text: "The David Ross Education Trust - National Institute of Teaching" },
        { text: "Unity Schools Partnership NEW - National Institute of Teaching" },
        { text: "White Horse - National Institute of Teaching" },
        { text: "Windsor Academy Trust - National Institute of Teaching" },
        { text: "Aldridge Education (MAT) - Teach First" },
        { text: "Aletheia Academies Trust - Teach First" },
        { text: "Ascend Learning Trust - Teach First" },
        { text: "Aspirations Academies Trust - Teach First" },
        { text: "Bright Futures teaching School Hub - Teach First" },
        { text: "Cambridgeshire and Peterborough Teaching School Hub - Teach First" },
        { text: "Colyton Teaching School Hub (Devon) - Teach First" },
        { text: "Dudley Academies Trust - Teach First" },
        { text: "Embrace Teaching School Hub (SW Lancashire) - Teach First" },
        { text: "Fylde Coast Academy Trust - Teach First" },
        { text: "Generate Teaching School Hub  - Teach First" },
        { text: "Kingsbridge Teaching School Hub (Devon) - Teach First" },
        { text: "Leeds Trinity University - Teach First" },
        { text: "Leicester and Leicestershire Teaching School Hub - Teach First" },
        { text: "NELT Teaching School Hub - Teach First" },
        { text: "Northamptonshire Teaching School Hub - Teach First" },
        { text: "One Cornwall Teaching School Hub (East Cornwall) - Teach First" },
        { text: "One Cornwall Teaching School Hub (West) - Teach First" },
        { text: "One Cumbria Teaching School Hub - Teach First" },
        { text: "Saffron Teaching School Hub - Teach First" },
        { text: "SFET Teaching School Hub - Teach First" },
        { text: "St Joseph Catholic Multi Academy Trust - Teach First" },
        { text: "Teach First Direct Delivery - Teach First" },
        { text: "The Vantage Teaching School Hub North Humber - Teach First" },
        { text: "Xavier Teaching School Hub - Teach First" },
        { text: "Balcarras Teaching School Hub - UCL Institute of Education" },
        { text: "Berkshire Teaching School Hub - UCL Institute of Education" },
        { text: "Birmingham City University - UCL Institute of Education" },
        { text: "Coventry and Central Warwickshire - UCL Institute of Education" },
        { text: "East London Teaching School Hub - UCL Institute of Education" },
        { text: "East Manchester Teaching School Hub - UCL Institute of Education" },
        { text: "Exchange Teaching Hub (Barnsley and Doncaster) - UCL Institute of Education" },
        { text: "Exchange Teaching Hub (Selby and Wakefield) - UCL Institute of Education" },
        { text: "Haringey Education Partnership - UCL Institute of Education" },
        { text: "Inspire Teaching School Hub - UCL Institute of Education" },
        { text: "Leeds Teaching School Hub - UCL Institute of Education" },
        { text: "London South Teaching School Hub - UCL Institute of Education" },
        { text: "Milton Keynes Education Partnership - UCL Institute of Education" },
        { text: "NETSP with Tees Valley Teaching School Hub - UCL Institute of Education" },
        { text: "Odyssey Teaching School Hub - UCL Institute of Education" },
        { text: "Oxfordshire Teaching School Hub - UCL Institute of Education" },
        { text: "Red Kite Teaching School Hub - UCL Institute of Education" },
        { text: "Redbridge Education Partnership - UCL Institute of Education" },
        { text: "South Central Teaching School Hub - UCL Institute of Education" },
        { text: "Sussex Coast Schools Alliance - UCL Institute of Education" },
        { text: "Teach West London Teaching School Hub - UCL Institute of Education" },
        { text: "Thames South Teaching School Hub - UCL Institute of Education" },
        { text: "Wandle Teaching School Hub - UCL Institute of Education" }
        ]
        }) }}

        <button class="govuk-button">Continue</button>
    </div>
</div>

{% endblock %}
