{% extends "layouts/main.html" %}

{% set pageName="Question page" %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <h1 class="govuk-heading-l">Tell us about your early career teachers</h1>
        <p>Content here / guidance as needed</p>
        {% from "node_modules/@dfedigital/dfe-frontend-nunjucks/src/dfe/macros/card.njk" import dfeCard %}
        {{ dfeCard({
  heading: "Add your early career teachers",
  headingLevel: 3,
  href: "#",
  text: "A short description for the card."
}) }}
{{ dfeCard({
  heading: "Sample Card Title",
  headingLevel: 3,
  href: "#",
  text: "A short description for the card."
}) }}
{{ dfeCard({
  heading: "Sample Card Title",
  headingLevel: 3,
  href: "#",
  text: "A short description for the card."
}) }}

    </div>
</div>

{% endblock %}
