{% extends "layouts/ects.html" %}

{% set pageName="Question page" %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <h1 class="govuk-caption-l">Xyz Primary School</h1>
        <h1 class="govuk-heading-l">Your ECTs</h1>

        <p>You can add a new ECT to your school. </p>
        <p>You must provide all the required information for each ECT to register them.</p>
        <a href="#" class="govuk-button">Add an ECT</a>

        <hr class="govuk-section-break--m">

        <p>Your school does not currently have any ECTs registered.</p>

    </div>
</div>

{% endblock %}
