{% extends "layouts/main.html" %}

{% set pageName="Tasklist" %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l">
            Tell us about your early career teachers in 2025-2026
        </h1>
        {% from "govuk/components/task-list/macro.njk" import govukTaskList %}

        {{ govukTaskList({
        idPrefix: "ect-programme",
        items: [
        {
        title: {
        text: "Are you expecting any ECTs?"
        },
        href: "#",
        status: {
        tag: {
        text: "Not yet started",
        classes: "govuk-tag--blue"
        }
        }
        },
        {
        title: {
        text: "Programme details"
        },
        status: {
        text: "Cannot start yet",
        classes: "govuk-task-list__status--cannot-start-yet"
        }
        },
        {
        title: {
        text: "Information about your ECTs"
        },
        status: {
        text: "Cannot start yet",
        classes: "govuk-task-list__status--cannot-start-yet"
        }
        },
        {
        title: {
        text: "Information about your mentors"
        },
        status: {
        text: "Cannot start yet",
        classes: "govuk-task-list__status--cannot-start-yet"
        }
        }
        ]
        }) }}

        <p><a href="#">Save and return later</a></p>

    </div>
</div>

{% endblock %}
