{% extends "layouts/ects.html" %}

{% set pageName="This mentor has already been registered" %}

{% block beforeContent %}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <form method="post">

            <h1 class="govuk-heading-l">{{ pageName }}</h1>
            <p>You can continue to assign Tom Jones to mentor John Smith, or go back to register a different mentor.</p>

            <div class="govuk-button-group">
                <button type="submit" class="govuk-button" data-module="govuk-button">
                    Assign as a mentor for John Smith
                </button>
            </div>
            <p><a href="../../school/home/ects">Back to ECTs</a></p>
        </form>

    </div>
</div>

{% endblock %}
