{% extends "layouts/main.html" %}

{% if data['fullName'] %}
{% set name = data['fullName'] %}
{% else %}
{% set name = 'John Smith' %}
{% endif %}

{% set pageName="Which lead provider will be training " + name + "?" %}

{% block beforeContent %}
{{ govukBackLink({
text: "Back",
href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <form method="post">
        {% from "govuk/components/radios/macro.njk" import govukRadios %}

        {{ govukRadios({
        name: "leadProvider",
        fieldset: {
        legend: {
        text: pageName,
        isPageHeading: true,
        classes: "govuk-fieldset__legend--l"
        }
        },
        items: [
        {
        value: "Ambition Institute",
        text: "Ambition Institute"
        },
        {
        value: "Best Practice Network (home of Outstanding Leaders Partnership)",
        text: "Best Practice Network (home of Outstanding Leaders Partnership)"
        },
        {
        value: "Education Development Trust",
        text: "Education Development Trust"
        },
        {
        value: "National Institute of Teaching, founded by the School-Led Development Trust",
        text: "National Institute of Teaching, founded by the School-Led Development Trust"
        },
        {
        value: "Teach First",
        text: "Teach First"
        },
        {
        value: "UCL Institute of Education",
        text: "UCL Institute of Education"
        }
        ]
        }) }}

            <button class="govuk-button">Continue</button>
        </form>
    </div>
</div>

{% endblock %}
