{% extends "layouts/main.html" %}

{% set pageName="What you'll need" %}

{% block beforeContent %}
{{ govukBackLink({
text: "Back",
href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <form method="post">

            <h1 class="govuk-heading-l">{{pageName}}</h1>

            <h1 class="govuk-heading-m">Personal information</h1>

            <p>You must provide your ECT's:</p>
            <ul class="govuk-list govuk-list--bullet">
                <li>name</li>
                <li>date of birth</li>
                <li>email address</li>
                <li>teacher reference number (TRN)</li>
            </ul>

            <h1 class="govuk-heading-m">Training details</h1>

            <p>You'll also need to tell us about your choice of:</p>
            <ul class="govuk-list govuk-list--bullet">
                <li>appropriate body</li>
                <li>lead provider and delivery partner</li>
                <li>programme type</li>
                <li>mentor</li>
            </ul>

            <p> If you have not assigned a mentor for your ECT, you can still register them and provide the mentor's details later.</p>

            {{ govukButton({
            text: "Continue"
            }) }}
        </form>
    </div>
</div>

{% endblock %}