{% extends "layouts/ects.html" %}

{% if data['fullName'] %}
{% set name = data['fullName'] %}
{% else %}
{% set name = 'John Smith' %}
{% endif %}

{% set pageName="Confirm " + name + "'s training programme choices" %}

{% block beforeContent %}
{{ govukBackLink({
text: "Back",
href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l">{{ pageName }}</h1>

        <p>These are your school's current default programme choices for ECTs and mentors.</p>

        {% if data['ab'] %}
        {% set ab = data['ab'] %}
        {% else %}
        {% set ab = 'Teach West London' %}
        {% endif %}

        {% if data['deliveryPartner'] %}
        {% set dp = data['deliveryPartner'] %}
        {% else %}
        {% set dp = 'London District East TSH' %}
        {% endif %}

        {% if data['leadProvider'] %}
        {% set lp = data['leadProvider'] %}
        {% else %}
        {% set lp = 'Ambition Institute' %}
        {% endif %}

        {% if data.programmeType == 'School-led' %}

        {{ govukSummaryList({
        rows: [
        {
        key: {
        text: "Appropriate body"
        },
        value: {
        text: ab
        }
        },
        {
        key: {
        text: "Programme type"
        },
        value: {
        text: "School-led"
        }
        }
        ]
        }) }}

        {% else %}

        {{ govukSummaryList({
        rows: [
        {
        key: {
        text: "Appropriate body"
        },
        value: {
        text: ab
        }
        },
        {
        key: {
        text: "Programme type"
        },
        value: {
        text: "Provider-led"
        }
        },
        {
        key: {
        text: "Lead provider"
        },
        value: {
        text: lp
        }
        },
        {
        key: {
        text: "Delivery partner"
        },
        value: {
        text: dp
        }
        }
        ]
        }) }}

        {% endif %}

        <form method="post">

        {{ govukRadios({
        classes: "govuk-radios--inline",
        name: "useDefaults",
        fieldset: {
        legend: {
        text: "Are these details correct for " + name + "'s training programme?",
        isPageHeading: false,
        classes: "govuk-fieldset__legend--m"
        }
        },
        items: [
        {
        value: "yes",
        text: "Yes"
        },
        {
        value: "no",
        text: "No"
        }
        ]
        }) }}

            <button class="govuk-button">Continue</button>
        </form>
    </div>
</div>

{% endblock %}
