{% extends "layouts/admin.html" %}

{% set pageName="Enter the active TRN to merge with" %}
{% set activeNav="teachers" %}

{% block beforeContent %}
{{ govukBackLink({
    text: "Back",
    href: "../teachers-details?section=overview&deactivated=true"
}) }}
{% endblock %}

{% block content %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
{% from "govuk/components/input/macro.njk" import govukInput %}

{% if errorList and errorList.length %}
{{ govukErrorSummary({
  titleText: "There is a problem",
  errorList: errorList
}) }}
{% endif %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <form method="post">
      <h1 class="govuk-heading-l">{{ pageName }}</h1>

      <p class="govuk-body">
        You’re merging deactivated teacher record <b>TRN 2959198</b> with an active TRN.
      </p>

      <!-- <p class="govuk-body">
        Contact any relevant lead providers to notify them about the merge.
      </p>
    -->

      {{ govukInput({
        label: {
          text: "Active TRN to merge with",
          classes: "govuk-label--m"
        },
        
        id: "merge-target-trn",
        name: "merge-target-trn",
        classes: "govuk-input--width-10",
        inputmode: "numeric",
        value: data['merge-target-trn'],
        errorMessage: { text: errors.mergeTargetTrn } if errors and errors.mergeTargetTrn else false
      }) }}

      <button class="govuk-button" data-module="govuk-button">Continue</button>
    </form>

    <p>
      <a href="../teachers-details?section=overview&deactivated=true" class="govuk-link govuk-link--no-visited-state">Cancel and go back to John Smith</a>
    </p>
  </div>
</div>
{% endblock %}
