{% extends "layouts/admin.html" %}

{% set pageName="Registration undone" %}
{% set activeNav="teachers" %}
{% set fromScenario = data['undo-from-scenario-selector'] == 'yes' %}
{% set hasDeclarations = data['undo-has-declarations'] == 'yes' %}
{% set hasOtherPeriods = data['undo-has-other-periods'] == 'yes' %}
{% set todaysDate = data.currentDay + ' ' + data.currentMonth | monthName + ' ' + data.currentYear %}

{% block beforeContent %}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <div class="govuk-panel govuk-panel--confirmation">
      <h1 class="govuk-panel__title">{{ pageName }}</h1>
    </div>

    <!-- <p class="govuk-body">
      The registration has been removed from our records and the school period has been closed.
    </p>
  -->

      {% if fromScenario and hasDeclarations %}
      <p class="govuk-body">
        <strong>Update content here</strong> — The registration has been undone and associated school and training periods have been closed with an end date of {{ todaysDate }}. The teacher record has not been deleted.
      </p>
      {% elif fromScenario and not hasDeclarations and hasOtherPeriods %}
      <p class="govuk-body">
        <strong>Update content here</strong> — The registration has been undone and associated school and training periods have been deleted. The teacher record has not been deleted.
      </p>
      {% elif fromScenario and not hasDeclarations and not hasOtherPeriods %}
      <p class="govuk-body">
        <strong>Update content here</strong> — The registration has been undone and associated school and training periods and the teacher record have been deleted.
      </p>
      {% else %}
      <p class="govuk-body">
      The registration has been undone and associated school, training, and mentorship periods have been closed.
    </p>
      {% endif %}


   <!-- <p class="govuk-body">
      If there were no other school periods and no declarations, the teacher record has also been removed. Other school periods and registrations are not affected.
    </p>
  -->

    <p class="govuk-body">
      <a href="../teachers" class="govuk-link govuk-link--no-visited-state">Back to teachers</a>
    </p>
  </div>
</div>
{% endblock %}
