{% extends "layouts/admin.html" %}

{% set pageName="Undo a registration and close school periods for John Smith" %}
{% set activeNav="teachers" %}

{% block beforeContent %}
{{ govukBackLink({
    text: "Back",
    href: "../teachers-details?section=overview"
}) }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">{{ pageName }}</h1>

    <p class="govuk-body">
      Undo a registration for John Smith and close the related school period if the registration was made in error.</p>


                    <h2 class="govuk-heading-m">John Smith is on a provider-led programme</h2>
        <p class="govuk-body">
          Contact John Smith's lead provider (ABC lead provider) offline to let them know you're undoing their registration.
          </p>

    <h2 class="govuk-heading-m">If John Smith is on a provider-led programme</h2>
        <p class="govuk-body">
          Contact John Smith's lead provider offline to let them know you're undoing their registration.
          </p>
        

                  <h2 class="govuk-heading-m">John Smith is registered as an ECT and a mentor</h2>
        <p>Our records show that John Smith has been registered as an ECT and mentor.</p>
                <p>Only one of those registrations may have been made in error. Check which registration is incorrect before you continue. You can undo the registration and close the school period for the registration that was made in error without affecting the other.</p>

   
    <h2 class="govuk-heading-m">If John Smith is registered as an ECT and a mentor</h2>

    <p class="govuk-body">
      A teacher can be registered as both an ECT and a mentor. Only one of those registrations may have been made in error.
    </p>

    <p class="govuk-body">
      Check which registration is incorrect before you continue. You can undo the registration and close the school period for the registration that was made in error without affecting the other.
    </p>




    <h2 class="govuk-heading-m">What will happen</h2>

        <p class="govuk-body">          
</p>

    <ul class="govuk-list govuk-list--bullet">
      <li>the registration will be removed from our records</li>
      <li>the selected school period will be closed</li>
    </ul>

    <p>If John Smith has only one school period and there are no declarations, their teacher record will also be removed.</p>
    <p>Other school period or registrations associated with John Smith will not be affected, but you can choose to close them</p>

        <div class="govuk-warning-text">
      <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
      <strong class="govuk-warning-text__text">
        <span class="govuk-warning-text__assistive govuk-visually-hidden">Warning</span>
        Only continue if the registration was made in error.
      </strong>
    </div>

    <form method="post">
      <button class="govuk-button" data-module="govuk-button">Continue</button>
    </form>

    <p><a href="../teachers-details?section=overview" class="govuk-link govuk-link--no-visited-state">Cancel and go back to John Smith</a></p>
  </div>
</div>
{% endblock %}
