{% extends "layouts/admin.html" %}

{% set pageName="Undo a registration and close school periods for John Smith" %}
{% set pageNameDeletePeriods="Undo a registration and delete school periods for John Smith" %}

{% set fromScenario = data['undo-from-scenario-selector'] == 'yes' %}
{% set hasDeclarations = data['undo-has-declarations'] == 'yes' %}
{% set hasOtherPeriods = data['undo-has-other-periods'] == 'yes' %}


{% set activeNav="teachers" %}
{% set fromScenario = data['undo-from-scenario-selector'] == 'yes' %}

{% block beforeContent %}
{% if fromScenario %}
{{ govukBackLink({
    text: "Back",
    href: "undo-registration-scenario-selector"
}) }}
{% else %}
{{ govukBackLink({
    text: "Back",
    href: "../teachers-details?section=overview"
}) }}
{% endif %}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">



    {% if fromScenario and hasDeclarations %}
      <h1 class="govuk-heading-l">{{ pageName }}</h1>
                <p class="govuk-body">
      Undo a registration for John Smith and close the related school periods if the registration was made in error.</p>


    {% elif fromScenario and not hasDeclarations and hasOtherPeriods %}
        <h1 class="govuk-heading-l">{{ pageName }}</h1>
                  <p class="govuk-body">
      Undo a registration for John Smith and close the related school periods if the registration was made in error.</p>


    {% elif fromScenario and not hasDeclarations and not hasOtherPeriods %}
        <h1 class="govuk-heading-l">{{ pageNameDeletePeriods }}</h1>
                  <p class="govuk-body">
      Undo a registration for John Smith and delete the related school periods if the registration was made in error.</p>

    {% endif %} 


        <div class="govuk-warning-text">
      <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
      <strong class="govuk-warning-text__text">
        <span class="govuk-warning-text__assistive govuk-visually-hidden">Warning</span>
        Only continue if the registration was made in error.
      </strong>
    </div>

    <form method="post">
      <button class="govuk-button" data-module="govuk-button">Continue</button>
    </form>

    <p><a href="../teachers-details?section=overview" class="govuk-link govuk-link--no-visited-state">Cancel and go back to John Smith</a></p>
  </div>
</div>
{% endblock %}
