{% extends "layouts/ects.html" %}

{% if data['fullName'] %}
{% set name = data['fullName'] %}
{% else %}
{% set name = 'Samuel Taylor' %}
{% endif %}

{% set pageName="You've assigned " + name + " as a mentor" %}

{% if data['leadProvider'] %}
{% set lp = data['leadProvider'] %}
{% else %}
{% set lp = 'Ambition Institute' %}
{% endif %}

{% block beforeContent %}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <div class="govuk-panel govuk-panel--confirmation">
            <h1 class="govuk-panel__title">
                {{ pageName }}
            </h1>
            <div class="govuk-panel__body">
                for<br><strong>John Smith</strong>
            </div>
        </div>
        <p class="govuk-body">You have successfully registered John Smith for training.</p>

        <h2 class="govuk-heading-m">What happens next</h2>
        <p class="govuk-body">We'll email {{name}} to confirm you have registered them.</p>

        <p class="govuk-body">They do not need to provide us with any further details.</p>

        {% if data['mentorOnly'] !== 'no' %}
        <p>We'll pass on their details to {{lp}} who will contact them to arrange mentor training.</p>
        {% endif %}
        <p><a href="../home/ects">Back to ECTs</a></p>
    </div>
</div>

{% endblock %}