{% extends "layouts/ects.html" %}

{% if data['fullName'] %}
{% set name = data['fullName'] %}
{% else %}
{% set name = 'Samuel Taylor' %}
{% endif %}

{% set pageName="Programme choices used by the ECT who " + name + " will be mentoring" %}

{% block beforeContent %}
{{ govukBackLink({
text: "Back",
href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l">{{ pageName }}</h1>

        <p>These are the programme choices we have for the ECT who {{name}} will be mentoring.</p>

        {% if data['deliveryPartner'] %}
        {% set dp = data['deliveryPartner'] %}
        {% else %}
        {% set dp = 'London District East TSH' %}
        {% endif %}

        {% if data['leadProvider'] %}
        {% set lp = data['leadProvider'] %}
        {% else %}
        {% set lp = 'Ambition Institute' %}
        {% endif %}

        {{ govukSummaryList({
        rows: [
        {
        key: {
        text: "Lead provider"
        },
        value: {
        text: lp
        }
        }
        ]
        }) }}

        <p>{{lp}} will confirm which delivery partner they'll be working with to deliver training events.</p>

        <form method="post">

        {{ govukRadios({
        classes: "govuk-radios--inline",
        name: "useDefaults",
        fieldset: {
        legend: {
        text: "Do you want to use the same programme choices for " + name + "'s mentor training?",
        isPageHeading: false,
        classes: "govuk-fieldset__legend--m"
        }
        },
        items: [
        {
        value: "yes",
        text: "Yes"
        },
        {
        value: "no",
        text: "No"
        }
        ]
        }) }}

            <button class="govuk-button">Continue</button>
        </form>
    </div>
</div>

{% endblock %}
