{% extends "layouts/admin.html" %}

{% block head %}
{{ super() }}
<style>
    /* Custom styles for search example */
    .search-box__form {
        display: flex;
        gap: 15px;
        align-items: flex-end;
        flex-wrap: wrap;
    }
    
    .search-box__input {
        flex-grow: 1;
    }
</style>
{% endblock %}

{% set pageName="Select lead providers working with Aquila Trust in 2021" %}
{% set activeNav="organisations" %}

{% block beforeContent %}
{{govukBackLink({
    text: "Back",
    href: "javascript:history.back()"
})}}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        {{govukCheckboxes({
            idPrefix: "lead-provider",
            name: "lead-provider",
            fieldset: {
                legend: {
                    text: pageName,
                    isPageHeading: true,
                    classes: "govuk-fieldset__legend--l"
                }
            },
            items: [
                {
                    value: "ambition-institute",
                    text: "Ambition Institute"
                },
                {
                    value: "ambition-institute",
                    text: "Education Development Trust"
                },
                {
                    value: "ambition-institute",
                    text: "National Institute of Teaching"
                },
                {
                    value: "ambition-institute",
                    text: "Teach First"
                },
                {
                    value: "ambition-institute",
                    text: "UCL Institute of Education"
                },
                {
                  divider: "or"
                },
                {
                  value: "none",
                  text: "Aquila Trust is not delivering in 2021",
                  behaviour: "exclusive"
                }
            ]
        })}}        

        <button class="govuk-button">Confirm</button>
    </div>
</div>

{% endblock %} 