{% extends "layouts/admin.html" %}

{% block head %}
{{ super() }}
{% endblock %}

{% set pageName="John Smith" %}
{% set activeNav="teachers" %}

{% block beforeContent %}
{{govukBreadcrumbs({
    items: [
        {
            text: "Teachers",
            href: "teachers"
        },
        {
            text: "John Smith"
        }
    ]
})}}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        
        <span class="govuk-caption-l">TRN: 2959198</span>
        <h1 class="govuk-heading-l govuk-!-margin-bottom-4">{{pageName}}</h1>
        <span style="max-width: max-content;" class="govuk-tag govuk-tag--grey">ECT training registered</span>
        <span style="max-width: max-content;" class="govuk-tag govuk-tag--grey">Mentor training registered</span>
        <span style="max-width: max-content;" class="govuk-tag govuk-tag--grey">Induction recorded</span>

        <hr class="govuk-section-break govuk-section-break--m">
        
        {% set currentSection = data.section or "overview" %}

        {{ xGovukSecondaryNavigation({
          visuallyHiddenTitle: "Secondary menu",
          items: [{
            text: "Overview",
            href: "?section=overview",
            current: true if currentSection == "overview" else false
          }, {
            text: "Induction",
            href: "?section=induction",
            current: true if currentSection == "induction" else false
          }, {
            text: "School",
            href: "?section=school",
            current: true if currentSection == "school" else false
          }, {
            text: "Training",
            href: "?section=training",
            current: true if currentSection == "training" else false
          }, {
            text: "Declarations",
            href: "?section=declarations",
            current: true if currentSection == "declarations" else false
          }, {
            text: "Timeline",
            href: "?section=timeline",
            current: true if currentSection == "timeline" else false
          }]
        }) }}

        <div class="govuk-!-margin-top-6">
            {% if currentSection == "overview" %}
                <h3 class="govuk-heading-m">Overview</h3>
                
                {{govukSummaryList({
                    rows: [
                        {
                            key: { text: "Name" },
                            value: { text: "John Smith" },
                            actions: {
                                items: [
                                    {
                                        href: "#",
                                        text: "Change",
                                        visuallyHiddenText: "name"
                                    }
                                    ]
                                }
                        },
                        {
                            key: { text: "Name from TRS record" },
                            value: { text: "John Smith" }
                        },
                        {
                            key: { text: "TRN" },
                            value: { text: "2959198" }
                        },
                        {
                            key: { text: "Email address" },
                            value: { text: "john.smith@example.com" },
                            actions: {
                                items: [
                                    {
                                        href: "#",
                                        text: "Change",
                                        visuallyHiddenText: "email address"
                                    }
                                ]
                            }
                        },
                        {
                            key: { text: "Current school" },
                            value: { text: "St John's C of E Primary School" }
                        }
                    ]
                })}}
            {% endif %}

            {% if currentSection == "induction" %}
                <h3 class="govuk-heading-m">Induction</h3>
                <!-- Induction content to be added -->
            {% endif %}

            {% if currentSection == "school" %}
                <h3 class="govuk-heading-m">School</h3>
                <!-- School content to be added -->
            {% endif %}

            {% if currentSection == "training" %}
                <h3 class="govuk-heading-m">Training</h3>
                <!-- Training content to be added -->
            {% endif %}

            {% if currentSection == "declarations" %}
                <h3 class="govuk-heading-m">Declarations</h3>
                <!-- Declarations content to be added -->
            {% endif %}

            {% if currentSection == "timeline" %}
                <h3 class="govuk-heading-m">Timeline</h3>
                <!-- Timeline content to be added -->
            {% endif %}
        </div>
        
    </div>
</div>

{% endblock %} 