{% extends "layouts/ects.html" %}

{% set ectId = data.ectId %}
{% set ectName = data.ectName %}

{% set pageName = "Confirmation" %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    
    <h1 class="govuk-heading-l">{{ectName}} will be continuing at your school</h1>
    <p class="govuk-body">Content needed here which gets across what the user needs to do if the ECT is deferred</p>
    
    <p class="govuk-body">
      <a class="govuk-link" href="ects">Back to ECTs</a>
    </p>
    
  </div>
</div>
{% endblock %} 