{% extends "layouts/ects.html" %}

{% block beforeContent %}
{{ govukBackLink({
text: "Back",
href: "view-ect?ect=" + data.ect
}) }}
{% endblock %}

{# Find the active ECT from the ects array based on the 'ect' query parameter #}
{% set ectId = data.ect or 'john-smith' %}
{% set activeEct = {} %}
{% for person in data.ects %}
  {% if person.id == ectId %}
    {% set activeEct = person %}
  {% endif %}
{% endfor %}

{% set pageName = "Tell us if " + activeEct.name + " is leaving your school and is not expected to return" %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    
    <h1 class="govuk-heading-l">{{pageName}}</h1>
        
    <p class="govuk-body">This could be because they are:</p>

    <ul class="govuk-list govuk-list--bullet">
        <li>moving to a different school</li>
        <li>leaving the teaching profession</li>
        <li>leaving for another reason and are not expected to return</li>
    </ul>

    <p>You should answer no if they are going on sick leave, parental leave or a break where they are intending to return.</p>
    
    <form class="form" method="post">
      
      <input type="hidden" name="ectId" value="{{ activeEct.id }}">
      <input type="hidden" name="ectName" value="{{ activeEct.name }}">

      {% set dateLeaving %}
        {{ govukDateInput({
          id: "dateLeaving",
          name: "dateLeaving",
          fieldset: {
            legend: {
              text: "When did or when will " + activeEct.name + " be leaving as an ECT at your school?",
              isPageHeading: false,
              classes: "govuk-fieldset__legend--s"
            }
          },
          hint: {
            text: "For example, 31 3 2025"
          }
        }) }}
      {% endset %}
      
      {{ govukRadios({
        name: "ectLeaving",
        fieldset: {
          legend: {
            text: "Is " + activeEct.name + " leaving your school and is not expected to return?",
            isPageHeading: false,
            classes: "govuk-fieldset__legend--s"
          }
        },
        items: [
          {
            value: "yes",
            text: "Yes, " + activeEct.name + " is leaving and is not expected to return",
            conditional: {
                html: dateLeaving
            }
          },
          {
            value: "no",
            text: "No, " + activeEct.name + " is leaving but is expected to return"
          }
        ]
      }) }}
      
      {{ govukButton({
        text: "Continue"
      }) }}
      
    </form>
    
    <p class="govuk-body"><a class="govuk-link" href="view-ect?ect={{ activeEct.id }}">Cancel and go back to {{ activeEct.name }}'s details</a></p>
    
  </div>
</div>

{% endblock %} 