{% set abName = 'Golden Leaf Teaching School Hub' %}
{% extends "layouts/signed-in.html" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-l">You cannot grant access until you have DfE Sign-in account access for {{ abName }}</h1>

    <p class="govuk-body">Your DfE Sign-in account is not associated with {{ abName }}.</p>

    <p class="govuk-body">You cannot authorise this application to share data with DfE on behalf of this appropriate body until your account is linked to it.</p>

    <h2 class="govuk-heading-m">What you need to do</h2>

    <ol class="govuk-list govuk-list--number">
      <li>In your DfE Sign-in account, request access to {{ abName }}.</li>
      <li>Request access to the 'Record inductions as an appropriate body' service.</li>
    </ol>

    <p class="govuk-body">The school or organisation need to approve your request before you can continue.</p>

    <p><a href="#" class="govuk-link govuk-link--no-visited-state">Request access to a school or organisation using your DfE Sign-in account (opens in a new tab)</a>.</p>

  </div>
</div>

{% endblock %}
