{% extends "layouts/main.html" %}

{% set pageName="Home" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-xl">
      {{ serviceName }} prototype
    </h1>

    <h2 class="govuk-heading-m">Sprint 19 & 20</h2>
    <p>Work in progress</p>

    <ul class="govuk-list">
      <li><a class="govuk-link govuk-link--no-visited-state" href="v6/school/setup-scenario-2">Rollover scenario / adding an ECT when there are previous programme details saved</a></li>
      <li><a class="govuk-link govuk-link--no-visited-state" href="v6/school/setup-scenario-1">Journey with no existing programme details</a></li>
      <li><a class="govuk-link govuk-link--no-visited-state" href="v6/school/setup-scenario-3">Transferring in an ECT - adding an ECT who's trained previously</a></li>
      <li><a class="govuk-link govuk-link--no-visited-state" href="v6/school/setup-scenario-4">Transferring in a mentor - adding an mentor who's been a mentor previously</a></li>
      <li><a class="govuk-link govuk-link--no-visited-state" href="v6/other-pages/index">Other pages (unhappy paths etc)</a></li>
    </ul>

    <hr class="govuk-section-break govuk-section-break--visible govuk-section-break--m">

    <h2 class="govuk-heading-m">Sprint 18</h2>
    <p>We've updated the transfer journey and made some changes following data analysis which shows that most transferred in ECTs take the new schools programme choices.</p>

    <ul class="govuk-list">
      <li><a class="govuk-link govuk-link--no-visited-state" href="v6/school/setup-scenario-2">Rollover scenario / adding an ECT when there are previous programme details saved</a></li>
      <li><a class="govuk-link govuk-link--no-visited-state" href="v6/school/setup-scenario-1">Journey with no existing programme details</a></li>
      <li><a class="govuk-link govuk-link--no-visited-state" href="v6/school/setup-scenario-3">Transferring in an ECT - adding an ECT who's trained previously</a></li>
      <li><a class="govuk-link govuk-link--no-visited-state" href="v6/school/setup-scenario-4">Transferring in a mentor - adding an mentor who's been a mentor previously</a></li>
      <li><a class="govuk-link govuk-link--no-visited-state" href="v6/other-pages/index">Other pages (unhappy paths etc)</a></li>
    </ul>

    <hr class="govuk-section-break govuk-section-break--visible govuk-section-break--m">

    <h2 class="govuk-heading-m">Sprint 15</h2>
    <p>We've added in more error pages for various scenarios when adding ECTs and mentors. We've reviewed and updated the default programme choices, so that they 'autosave' last used details and playback to the user when they return / rollover. We've also updated the confirmation page after adding an ECT to attempt to make it clearer that the mentor is yet to be added. Finally, we've started adding a happy path ECT transfer scenario.</p>

    <ul class="govuk-list">
      <li><a class="govuk-link govuk-link--no-visited-state" href="v5/school/setup-scenario-2"><strong>For user research: </strong>Rollover / adding an ECT when there are previous programme details saved</a></li>
      <li><a class="govuk-link govuk-link--no-visited-state" href="v5/school/setup-scenario-1">Journey with no existing programme details</a></li>
      <li><a class="govuk-link govuk-link--no-visited-state" href="v5/school/setup-scenario-3">Transfer an ECT happy path: work in progress</a></li>
      <li><a class="govuk-link govuk-link--no-visited-state" href="v5/other-pages/index">Other pages (unhappy paths etc)</a></li>
    </ul>

    <hr class="govuk-section-break govuk-section-break--visible govuk-section-break--m">

    <h2 class="govuk-heading-m">Sprint 14</h2>
    <p>We've <a class="govuk-link govuk-link--no-visited-state" target="_blank" href="https://github.com/DFE-Digital/register-early-career-teachers/issues/631">removed the mentor question</a> from the add ECT user journey. Instead, we'll be sending users onto add a mentor for their ECT after they've added the personal and programme details for the ECT.</p>

    <ul class="govuk-list">
      <li><a class="govuk-link govuk-link--no-visited-state" href="v4/school/setup-scenario-1">Main journey</a></li>
      <li><a class="govuk-link govuk-link--no-visited-state" href="v4/other-pages/index">Other pages (unhappy paths etc)</a></li>
    </ul>

    <hr class="govuk-section-break govuk-section-break--visible govuk-section-break--m">

    <h2 class="govuk-heading-m">Round 2 user research</h2>
    <p>This version contains iterations from the last round to the 'add ECT' journey, mainly focusing on <a href="https://github.com/DFE-Digital/register-early-career-teachers/issues/372" class="govuk-link govuk-link--no-visited-state" target="_blank">how we ask for programme information</a>.</p>
    <p>We've also included a <a href="https://github.com/DFE-Digital/register-early-career-teachers/issues/128" class="govuk-link govuk-link--no-visited-state" target="_blank">first design for the 'add mentor' journey</a>, which can be started after adding an ECT without a mentor assigned.</p>
    <p>Finally, this version also contains an additional question in the 'add ECT' journey to ask the user for the <a href="https://github.com/DFE-Digital/register-early-career-teachers/issues/381">ECTs start date</a>.</p>

    <ul class="govuk-list">
      <li><a class="govuk-link govuk-link--no-visited-state" href="v3/school/setup-scenario-1">For research - asking AB, LP & DP - with previously added mentors</a></li>
      <li><a class="govuk-link govuk-link--no-visited-state" href="https://lucid.app/lucidspark/0fc74abe-118f-4cda-92fb-de87e4b8a36a/edit?viewport_loc=162027%2C57537%2C25010%2C12207%2C0_0&invitationId=inv_e37a643a-8ad0-4321-9455-4e30f29ef89b" target="_blank">Lucid board with screenshots and designs in progress</a></li>
    </ul>

    <hr class="govuk-section-break govuk-section-break--visible govuk-section-break--m">

    <h2 class="govuk-heading-m">Round 1 user research</h2>
    <p>This version contains a <a href="https://github.com/DFE-Digital/ecf2/issues/124" class="govuk-link govuk-link--no-visited-state" target="_blank">happy path for adding an ECT</a> for a school user.</p>
    <p>This includes collecting TRN & DoB, to play back the name from the teacher record. It also includes collecting 'default' programme information if a school hasn't added previously, or playing back 'default' programme information if they have.</p>
    <p>Adding a mentor journeys, non-standard inductions, homepages / sign in flows, start dates and adding using checklists / save and return are all out of scope in this prototype version.</p>

    <ul class="govuk-list">
      <li><a class="govuk-link govuk-link--no-visited-state" href="v2/school/setup">Prototype setup</a></li>
      <li><a class="govuk-link govuk-link--no-visited-state" href="v2/school/setup-scenario-1">For research - no default information with previously added mentors</a></li>
    </ul>


  </div>
</div>

{% endblock %}
