{% extends "layouts/main.html" %}

{% set pageName="Home" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-xl">
      {{ serviceName }} prototype
    </h1>

    <h2 class="govuk-heading-m">Round 1 user research</h2>
    <p>This version contains a <a href="https://github.com/DFE-Digital/ecf2/issues/124" class="govuk-link" target="_blank">happy path for adding an ECT</a> for a school user.</p>
    <p>This includes collecting TRN & DoB, to play back the name from the teacher record. It also includes collecting 'default' programme information if a school hasn't added previously, or playing back 'default' programme information if they have.</p>
    <p>Adding a mentor journeys, non-standard inductions, homepages / sign in flows, start dates and adding using checklists / save and return are all out of scope in this prototype version.</p>

    <ul class="govuk-list">
      <li><a class="govuk-link" href="v2/school/setup">Prototype setup</a></li>
      <li><a class="govuk-link" href="v2/school/setup-scenario-1">For research - no default information with previously added mentors</a></li>
      <li><a class="govuk-link" href="v2/school/setup-scenario-2">For research - no default information with no previously added mentors</a></li>
    </ul>


  </div>
</div>

{% endblock %}
