{% extends "layouts/main.html" %}

{% set pageName="Home" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-xl">
      {{ serviceName }} prototype
    </h1>

    <h2 class="govuk-heading-m">Sprint 32</h2>
    <p>Continued admin console designs. Specifically, added some designs for the teacher details page, and the school details page.</p>

    <ul class="govuk-list">
      <li><a class="govuk-link govuk-link--no-visited-state" href="v14/school/setup-scenario-2">Start journey here for school users</a></li>
      <li><a class="govuk-link govuk-link--no-visited-state" href="v14/admin/organisations/index">Admin portal - organisations</a></li>
    </ul>

    <hr class="govuk-section-break govuk-section-break--visible govuk-section-break--m">

    <h2 class="govuk-heading-m">Sprint 31</h2>
    <p>Added some designs for the admin console, such as lead provider and delivery partner pages within the organisation section.</p>

    <ul class="govuk-list">
      <li><a class="govuk-link govuk-link--no-visited-state" href="v13/admin/organisations/index">Admin portal - organisations</a></li>
    </ul>

    <hr class="govuk-section-break govuk-section-break--visible govuk-section-break--m">

    <h2 class="govuk-heading-m">Sprint 30</h2>
    <p>Added change journeys for the ECT and mentor pages for user research. Started a new design framework for the admin portal, which contains examples of components to use.</p>

    <ul class="govuk-list">
      <li><a class="govuk-link govuk-link--no-visited-state" href="v12/school/setup-scenario-2">Start journey here for school users</a></li>
      <li><a class="govuk-link govuk-link--no-visited-state" href="v12/admin/framework/index">Admin design framework - examples</a></li>
    </ul>

    <hr class="govuk-section-break govuk-section-break--visible govuk-section-break--m">

    <h2 class="govuk-heading-m">Sprint 29</h2>
    <p>Updated the view ECT / mentor page, and added a change lead provider journey.</p>

    <ul class="govuk-list">
      <li><a class="govuk-link govuk-link--no-visited-state" href="v11/school/home/ects">View ECTs - home page for schools</a></li>
    </ul>

    <hr class="govuk-section-break govuk-section-break--visible govuk-section-break--m">

    <h2 class="govuk-heading-m">Sprint 27</h2>
    <p>Financial statement designs for the finance section of the admin portal.</p>

    <ul class="govuk-list">
      <li><a class="govuk-link govuk-link--no-visited-state" href="v10/admin/finance-home">Admin portal - finance - latest with filters etc</a></li>
      <li><a class="govuk-link govuk-link--no-visited-state" href="v10/admin/finance/add-adjustment?provider=Ambition%20Institute&contractYear=2023&statement=August%202025">Add manual adjustment to statement</a></li>
      <li>Ideation links below: can be ignored but there for reference.</li>
      <li><a class="govuk-link govuk-link--no-visited-state" href="v10/admin/finance">Ideation: Admin portal - finance - not yet authorised / service fee statement</a></li>
      <li><a class="govuk-link govuk-link--no-visited-state" href="v10/admin/finance-2">Ideation: Admin portal - authorised for payment</a></li>
      <li><a class="govuk-link govuk-link--no-visited-state" href="v10/admin/finance/current-old-style">Previous old style financial statement</a></li>
      <li><a class="govuk-link govuk-link--no-visited-state" href="v10/admin/finance/current-new-style">Ideation: New style financial statement</a></li>
      <li><a class="govuk-link govuk-link--no-visited-state" href="v10/admin/finance/new-old-style">Ideation: Redesigned old style statement</a></li>
      <li><a class="govuk-link govuk-link--no-visited-state" href="v10/admin/finance/old-style-service-fee-statement">Ideation: Service fee statement</a></li>
    </ul>

    <hr class="govuk-section-break govuk-section-break--visible govuk-section-break--m">

    <h2 class="govuk-heading-m">Sprint 25 & 26</h2>
    <p>Changed landing page design upon signing in to register ECTs. Added multiple dummy ECTs to test the different 'status' scenarios.</p>

    <ul class="govuk-list">
      <li><a class="govuk-link govuk-link--no-visited-state" href="v9/school/setup-scenario-2">Start journey here</a></li>
      <li><a class="govuk-link govuk-link--no-visited-state" href="v9/school/setup-scenario-1">Journey with no existing programme details</a></li>
      <li><a class="govuk-link govuk-link--no-visited-state" href="v9/other-pages/index">Other pages (unhappy paths etc)</a></li>
    </ul>

    <hr class="govuk-section-break govuk-section-break--visible govuk-section-break--m">

    <h2 class="govuk-heading-m">Sprint 21</h2>
    <p>Updated content on the 'what you'll need' page, and also on the 'previously registered' pages. Also added a lo-fidelity <a href="v8/school/home/ideas/home-3">homepage</a> idea for testing. Removed the 'delivery partner' row from the 'rollover' page so we can test the content we play to tell the user that the lead provider will tell us who the delivery partner is.</p>

    <ul class="govuk-list">
      <li><a class="govuk-link govuk-link--no-visited-state" href="v8/school/setup-scenario-2"><span class="govuk-!-font-weight-bold">For user research round 4: </span>Rollover scenario / adding an ECT when there are previous programme details saved</a></li>
      <li><a class="govuk-link govuk-link--no-visited-state" href="v8/school/setup-scenario-1">Journey with no existing programme details</a></li>
      <li><a class="govuk-link govuk-link--no-visited-state" href="v8/school/setup-scenario-3">Transferring in an ECT - adding an ECT who's trained previously</a></li>
      <li><a class="govuk-link govuk-link--no-visited-state" href="v8/school/mentor/mentor-transfer">Transferring in a mentor - skips to adding mentor who's trained previously</a></li>
      <li><a class="govuk-link govuk-link--no-visited-state" href="v8/other-pages/index">Other pages (unhappy paths etc)</a></li>
    </ul>

    <hr class="govuk-section-break govuk-section-break--visible govuk-section-break--m">

    <h2 class="govuk-heading-m">Sprint 19 & 20</h2>
    <p>We've added in mentor training pages, so that when adding a mentor we guide the user about whether they're able to do training or not. We've also added in the transfer journey for mentors. We've added <a href="v7/other-pages/index">other pages</a> for variations in journeys, such as when we don't have a delivery partner confirmed for a school.</p>

    <ul class="govuk-list">
      <li><a class="govuk-link govuk-link--no-visited-state" href="v7/school/setup-scenario-2">Rollover scenario / adding an ECT when there are previous programme details saved</a></li>
      <li><a class="govuk-link govuk-link--no-visited-state" href="v7/school/setup-scenario-1">Journey with no existing programme details</a></li>
      <li><a class="govuk-link govuk-link--no-visited-state" href="v7/school/setup-scenario-3">Transferring in an ECT - adding an ECT who's trained previously</a></li>
      <li><a class="govuk-link govuk-link--no-visited-state" href="v7/school/mentor/mentor-transfer">Transferring in a mentor - skip to adding mentor who's trained previously</a></li>
      <li><a class="govuk-link govuk-link--no-visited-state" href="v7/other-pages/index">Other pages (unhappy paths etc)</a></li>
    </ul>

    <hr class="govuk-section-break govuk-section-break--visible govuk-section-break--m">

    <h2 class="govuk-heading-m">Sprint 18</h2>
    <p>We've updated the transfer journey and made some changes following data analysis which shows that most transferred in ECTs take the new schools programme choices.</p>

    <ul class="govuk-list">
      <li><a class="govuk-link govuk-link--no-visited-state" href="v6/school/setup-scenario-2">Rollover scenario / adding an ECT when there are previous programme details saved</a></li>
      <li><a class="govuk-link govuk-link--no-visited-state" href="v6/school/setup-scenario-1">Journey with no existing programme details</a></li>
      <li><a class="govuk-link govuk-link--no-visited-state" href="v6/school/setup-scenario-3">Transferring in an ECT - adding an ECT who's trained previously</a></li>
      <li><a class="govuk-link govuk-link--no-visited-state" href="v6/other-pages/index">Other pages (unhappy paths etc)</a></li>
    </ul>

    <hr class="govuk-section-break govuk-section-break--visible govuk-section-break--m">

    <h2 class="govuk-heading-m">Sprint 15</h2>
    <p>We've added in more error pages for various scenarios when adding ECTs and mentors. We've reviewed and updated the default programme choices, so that they 'autosave' last used details and playback to the user when they return / rollover. We've also updated the confirmation page after adding an ECT to attempt to make it clearer that the mentor is yet to be added. Finally, we've started adding a happy path ECT transfer scenario.</p>

    <ul class="govuk-list">
      <li><a class="govuk-link govuk-link--no-visited-state" href="v5/school/setup-scenario-2"><strong>For user research: </strong>Rollover / adding an ECT when there are previous programme details saved</a></li>
      <li><a class="govuk-link govuk-link--no-visited-state" href="v5/school/setup-scenario-1">Journey with no existing programme details</a></li>
      <li><a class="govuk-link govuk-link--no-visited-state" href="v5/school/setup-scenario-3">Transfer an ECT happy path: work in progress</a></li>
      <li><a class="govuk-link govuk-link--no-visited-state" href="v5/other-pages/index">Other pages (unhappy paths etc)</a></li>
    </ul>

    <hr class="govuk-section-break govuk-section-break--visible govuk-section-break--m">

    <h2 class="govuk-heading-m">Sprint 14</h2>
    <p>We've <a class="govuk-link govuk-link--no-visited-state" target="_blank" href="https://github.com/DFE-Digital/register-early-career-teachers/issues/631">removed the mentor question</a> from the add ECT user journey. Instead, we'll be sending users onto add a mentor for their ECT after they've added the personal and programme details for the ECT.</p>

    <ul class="govuk-list">
      <li><a class="govuk-link govuk-link--no-visited-state" href="v4/school/setup-scenario-1">Main journey</a></li>
      <li><a class="govuk-link govuk-link--no-visited-state" href="v4/other-pages/index">Other pages (unhappy paths etc)</a></li>
    </ul>

    <hr class="govuk-section-break govuk-section-break--visible govuk-section-break--m">

    <h2 class="govuk-heading-m">Round 2 user research</h2>
    <p>This version contains iterations from the last round to the 'add ECT' journey, mainly focusing on <a href="https://github.com/DFE-Digital/register-early-career-teachers/issues/372" class="govuk-link govuk-link--no-visited-state" target="_blank">how we ask for programme information</a>.</p>
    <p>We've also included a <a href="https://github.com/DFE-Digital/register-early-career-teachers/issues/128" class="govuk-link govuk-link--no-visited-state" target="_blank">first design for the 'add mentor' journey</a>, which can be started after adding an ECT without a mentor assigned.</p>
    <p>Finally, this version also contains an additional question in the 'add ECT' journey to ask the user for the <a href="https://github.com/DFE-Digital/register-early-career-teachers/issues/381">ECTs start date</a>.</p>

    <ul class="govuk-list">
      <li><a class="govuk-link govuk-link--no-visited-state" href="v3/school/setup-scenario-1">For research - asking AB, LP & DP - with previously added mentors</a></li>
      <li><a class="govuk-link govuk-link--no-visited-state" href="https://lucid.app/lucidspark/0fc74abe-118f-4cda-92fb-de87e4b8a36a/edit?viewport_loc=162027%2C57537%2C25010%2C12207%2C0_0&invitationId=inv_e37a643a-8ad0-4321-9455-4e30f29ef89b" target="_blank">Lucid board with screenshots and designs in progress</a></li>
    </ul>

    <hr class="govuk-section-break govuk-section-break--visible govuk-section-break--m">

    <h2 class="govuk-heading-m">Round 1 user research</h2>
    <p>This version contains a <a href="https://github.com/DFE-Digital/ecf2/issues/124" class="govuk-link govuk-link--no-visited-state" target="_blank">happy path for adding an ECT</a> for a school user.</p>
    <p>This includes collecting TRN & DoB, to play back the name from the teacher record. It also includes collecting 'default' programme information if a school hasn't added previously, or playing back 'default' programme information if they have.</p>
    <p>Adding a mentor journeys, non-standard inductions, homepages / sign in flows, start dates and adding using checklists / save and return are all out of scope in this prototype version.</p>

    <ul class="govuk-list">
      <li><a class="govuk-link govuk-link--no-visited-state" href="v2/school/setup">Prototype setup</a></li>
      <li><a class="govuk-link govuk-link--no-visited-state" href="v2/school/setup-scenario-1">For research - no default information with previously added mentors</a></li>
    </ul>


  </div>
</div>

{% endblock %}
