{% extends "layouts/ects.html" %}

{% set pageName="You cannot assign an ECT as their own mentor" %}

{% block beforeContent %}

{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <form method="post">

            <h1 class="govuk-heading-l">{{ pageName }}</h1>
            <p>You have entered the same details for the mentor as the ECT you are assigning them to.</p>
            <p>You must assign someone else as the ECT's mentor.</p>

            <div class="govuk-button-group">
                <a href="../../school/mentor/who-will-be-mentoring" type="submit" class="govuk-button" data-module="govuk-button">
                    Assign a different mentor
                </a>
            </div>
            <p><a href="../../school/home/ects">Back to ECTs</a></p>
        </form>

    </div>
</div>

{% endblock %}
