{% extends "layouts/ects.html" %}

{% set pageName="We're unable to match the mentor with the TRN you provided" %}

{% block beforeContent %}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <form method="post">

            <h1 class="govuk-heading-l">{{ pageName }}</h1>
            <p class="govuk-body">
                You can check the mentor's teacher reference number (TRN) is accurate by <a href="https://www.gov.uk/guidance/check-a-teachers-record" class="govuk-link">reviewing their teacher record.</a>
            </p>

            <p class="govuk-body">
                Alternatively, you can ask the mentor to check their TRN by using the <a href="https://find-a-lost-trn.education.gov.uk/start" class="govuk-link">Find a lost TRN service</a>.
            </p>

            <button class="govuk-button">Try again</button>
        </form>

    </div>
</div>

{% endblock %}
