{% extends "layouts/plain.html" %}

{% block head %}
{{ super() }}
<style>
    /* Custom styles for table format example */
</style>
{% endblock %}

{% block header %}
{{ super() }}

{% from "govuk/components/service-navigation/macro.njk" import govukServiceNavigation %}

{{ govukServiceNavigation({
  navigation: [
    {
      href: "?view=default",
      text: "Default",
      current: true if (data.view == "default" or not data.view) else false
    },
    {
      href: "?view=with-view-link",
      text: "With view link",
      current: true if data.view == "with-view-link" else false
    },
    {
      href: "?view=pagination",
      text: "Pagination",
      current: true if data.view == "pagination" else false
    }
  ]
}) }}
{% endblock %}

{% set pageName="List of things in a table format" %}

{% block beforeContent %}
{{ govukBackLink({
    text: "Back",
    href: "../index"
}) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <h1 class="govuk-heading-l">{{pageName}}</h1>
        <p>This example shows how to use the table component to display items in a list. We'd use this when there's a large number of items to display, and there's information that needs to be displayed in a table format.</p>
        <p>There is a variant of this example that shows how to use the table component with a view link. This is useful when there's not a unique identifier for each item, and we need to provide a link to view the item.</p>
        <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
        {% if data.view == "with-view-link" %}
            {{ govukTable({
                head: [
                    {
                        text: "Lead provider"
                    },
                    {
                        text: "Statement date"
                    },
                    {
                        text: "Contract year"
                    },
                    {
                        text: "",
                        classes: ""
                    }
                ],
                rows: [
                    [
                        {
                            text: "Ambition Institute"
                        },
                        {
                            text: "July 2024"
                        },
                        {
                            text: "2023"
                        },
                        {
                            html: '<a class="govuk-link govuk-link--no-visited-state" href="#">View</a>'
                        }
                    ],
                    [
                        {
                            text: "Teach First"
                        },
                        {
                            text: "July 2024"
                        },
                        {
                            text: "2023"
                        },
                        {
                            html: '<a class="govuk-link govuk-link--no-visited-state" href="#">View</a>'
                        }
                    ],
                    [
                        {
                            text: "National Institute of Teaching"
                        },
                        {
                            text: "July 2024"
                        },
                        {
                            text: "2023"
                        },
                        {
                            html: '<a class="govuk-link govuk-link--no-visited-state" href="#">View</a>'
                        }
                    ],
                    [
                        {
                            text: "UCL Institute of Education"
                        },
                        {
                            text: "July 2024"
                        },
                        {
                            text: "2023"
                        },
                        {
                            html: '<a class="govuk-link govuk-link--no-visited-state" href="#">View</a>'
                        }
                    ],
                    [
                        {
                            text: "Education Development Trust"
                        },
                        {
                            text: "July 2024"
                        },
                        {
                            text: "2023"
                        },
                        {
                            html: '<a class="govuk-link govuk-link--no-visited-state" href="#">View</a>'
                        }
                    ]
                ]
            }) }}
        {% elif data.view == "pagination" %}
            {% set currentPage = data.page | int if data.page else 1 %}
            {% set itemsPerPage = 20 %}
            {% set totalItems = 120 %}
            {% set totalPages = 6 %}
            {% set startItem = ((currentPage - 1) * itemsPerPage) + 1 %}
            {% set endItem = currentPage * itemsPerPage %}
            
            {% set letters = ["a", "b", "c", "d", "e", "f", "g", "h", "i", "j", "k", "l", "m", "n", "o", "p", "q", "r", "s", "t", "u", "v", "w", "x", "y", "z"] %}
            
            <table class="govuk-table">
                <thead class="govuk-table__head">
                    <tr class="govuk-table__row">
                        <th scope="col" class="govuk-table__header">Delivery partner</th>
                        <th scope="col" class="govuk-table__header">Contact email address</th>
                    </tr>
                </thead>
                <tbody class="govuk-table__body">
                    {% for i in range(startItem, endItem + 1) %}
                        {% set emailLength = 7 + (i % 2) %}
                        {% set domainLength = 3 + (i % 2) %}
                        {% set emailPrefix = "" %}
                        {% set emailDomain = "" %}
                        {% for j in range(emailLength) %}
                            {% set emailPrefix = emailPrefix + letters[((i * j + j * 3) % 26)] %}
                        {% endfor %}
                        {% for k in range(domainLength) %}
                            {% set emailDomain = emailDomain + letters[((i * k + k * 7) % 26)] %}
                        {% endfor %}
                        
                        <tr class="govuk-table__row">
                            <td class="govuk-table__cell">
                                <a class="govuk-link govuk-link--no-visited-state" href="#">Delivery partner {{i}}</a>
                            </td>
                            <td class="govuk-table__cell">{{emailPrefix}}@{{emailDomain}}.com</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% else %}
            {{ govukTable({
                head: [
                    {
                        text: "Delivery partner"
                    },
                    {
                        text: "Contact email address"
                    }
                ],
                rows: [
                    [
                        {
                            html: '<a class="govuk-link govuk-link--no-visited-state" href="#">Delivery partner 1</a>'
                        },
                        {
                            text: "abcdefg@abc.com"
                        }
                    ],
                    [
                        {
                            html: '<a class="govuk-link govuk-link--no-visited-state" href="#">Delivery partner 2</a>'
                        },
                        {
                            text: "hijklmno@defg.com"
                        }
                    ],
                    [
                        {
                            html: '<a class="govuk-link govuk-link--no-visited-state" href="#">Delivery partner 3</a>'
                        },
                        {
                            text: "pqrstuv@hij.com"
                        }
                    ]
                ]
            }) }}
        {% endif %}
        
        {% if data.view == "pagination" %}
        <nav class="govuk-pagination" aria-label="Pagination">
            {% if currentPage > 1 %}
            <div class="govuk-pagination__prev">
                <a class="govuk-link govuk-pagination__link" href="?view=pagination&page={{currentPage - 1}}" rel="prev">
                    <svg class="govuk-pagination__icon govuk-pagination__icon--prev" xmlns="http://www.w3.org/2000/svg" height="13" width="15" aria-hidden="true" focusable="false" viewBox="0 0 15 13">
                        <path d="m6.5938-0.0078125-6.7266 6.7266 6.7441 6.4062 1.377-1.449-4.1856-3.9768h12.896v-2h-12.984l4.2931-4.293-1.414-1.414z"></path>
                    </svg>
                    <span class="govuk-pagination__link-title">
                        Previous<span class="govuk-visually-hidden"> page</span>
                    </span>
                </a>
            </div>
            {% endif %}
            <ul class="govuk-pagination__list">
                {% for pageNum in range(1, totalPages + 1) %}
                <li class="govuk-pagination__item{% if pageNum == currentPage %} govuk-pagination__item--current{% endif %}">
                    <a class="govuk-link govuk-pagination__link" href="?view=pagination&page={{pageNum}}" aria-label="Page {{pageNum}}"{% if pageNum == currentPage %} aria-current="page"{% endif %}>{{pageNum}}</a>
                </li>
                {% endfor %}
            </ul>
            {% if currentPage < totalPages %}
            <div class="govuk-pagination__next">
                <a class="govuk-link govuk-pagination__link" href="?view=pagination&page={{currentPage + 1}}" rel="next">
                    <span class="govuk-pagination__link-title">
                        Next<span class="govuk-visually-hidden"> page</span>
                    </span>
                    <svg class="govuk-pagination__icon govuk-pagination__icon--next" xmlns="http://www.w3.org/2000/svg" height="13" width="15" aria-hidden="true" focusable="false" viewBox="0 0 15 13">
                        <path d="m8.107-0.0078125-1.4136 1.414 4.2926 4.293h-12.986v2h12.896l-4.1855 3.9766 1.377 1.4492 6.7441-6.4062-6.7246-6.7266z"></path>
                    </svg>
                </a>
            </div>
            {% endif %}
        </nav>

        <div class="govuk-body govuk-!-margin-bottom-1">
            Showing 
            <span class="govuk-!-font-weight-bold">{{startItem}}</span> 
            to 
            <span class="govuk-!-font-weight-bold">{{endItem}}</span> 
            of 
            <span class="govuk-!-font-weight-bold">{{totalItems}}</span> 
            results</div>
        {% endif %}
        
    </div>
</div>

{% endblock %} 