{% extends "layouts/main.html" %}

{% set pageName="Other pages" %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <h1 class="govuk-heading-l">{{pageName}}</h1>
        <h2 class="govuk-heading-m govuk-!-margin-bottom-6">Add an ECT</h2>
        <div class="govuk-grid-row">
            <section class="govuk-grid-column-one-quarter govuk-!-margin-bottom-8">
                <h2 class="govuk-heading-m govuk-!-margin-bottom-2">
                    <a class="govuk-link--no-visited-state" href="add-ect/induction-completed">Induction already completed</a>
                </h2>
                <p class="govuk-body">When users match to an ECT that has an induction completed date.</p>
            </section>
            <section class="govuk-grid-column-one-quarter govuk-!-margin-bottom-8">
                <h2 class="govuk-heading-m govuk-!-margin-bottom-2">
                    <a class="govuk-link--no-visited-state" href="add-ect/induction-status-exempt">Induction status is exempt</a>
                </h2>
                <p class="govuk-body">When users match to an ECT that has an induction status of exempt.</p>
            </section>
            <section class="govuk-grid-column-one-quarter govuk-!-margin-bottom-8">
                <h2 class="govuk-heading-m govuk-!-margin-bottom-2">
                    <a class="govuk-link--no-visited-state" href="add-ect/ect-already-registered">ECT already registered at school</a>
                </h2>
                <p class="govuk-body">When users match to an ECT that is already registered at the school.</p>
            </section>
            <section class="govuk-grid-column-one-quarter govuk-!-margin-bottom-8">
                <h2 class="govuk-heading-m govuk-!-margin-bottom-2">
                    <a class="govuk-link--no-visited-state" href="add-ect/trn-not-found">TRN is inactive or not found</a>
                </h2>
                <p class="govuk-body">When users try to search a TRN that doesn't exist or is inactive.</p>
            </section>
        </div>
        <div class="govuk-grid-row">
            <section class="govuk-grid-column-one-quarter govuk-!-margin-bottom-8">
                <h2 class="govuk-heading-m govuk-!-margin-bottom-2">
                    <a class="govuk-link--no-visited-state" href="add-ect/not-found">TRN & NINO do not match</a>
                </h2>
                <p class="govuk-body">When users enter a TRN & NINO that hasn't matched correctly.</p>
            </section>
            <section class="govuk-grid-column-one-quarter govuk-!-margin-bottom-8">
                <h2 class="govuk-heading-m govuk-!-margin-bottom-2">
                    <a class="govuk-link--no-visited-state" href="add-ect/funded-ind-appropriate-body">AB for funded independent schools</a>
                </h2>
                <p class="govuk-body">When selecting an AB for an independent school which receives funding for ECTs.</p>
            </section>
            <section class="govuk-grid-column-one-quarter govuk-!-margin-bottom-8">
                <h2 class="govuk-heading-m govuk-!-margin-bottom-2">
                    <a class="govuk-link--no-visited-state" href="../school/nino">Asking for a NINO when adding an ECT</a>
                </h2>
                <p class="govuk-body">When users are asked for a NINO because a TRN & DOB don't match while adding an ECT.</p>
            </section>
            <section class="govuk-grid-column-one-quarter govuk-!-margin-bottom-8">
                <h2 class="govuk-heading-m govuk-!-margin-bottom-2">
                    <a class="govuk-link--no-visited-state" href="add-ect/cant-use-email">Email address already in use</a>
                </h2>
                <p class="govuk-body">When users enter an email address that is already in use for a different teacher</p>
            </section>
        </div>
        <div class="govuk-grid-row">
            <section class="govuk-grid-column-one-quarter govuk-!-margin-bottom-8">
                <h2 class="govuk-heading-m govuk-!-margin-bottom-2">
                    <a class="govuk-link--no-visited-state" href="../school/will-you-use-defaults">Previously used details</a>
                </h2>
                <p class="govuk-body">When adding an ECT and we have previously used details that we can playback to the user</p>
            </section>
            <section class="govuk-grid-column-one-quarter govuk-!-margin-bottom-8">
                <h2 class="govuk-heading-m govuk-!-margin-bottom-2">
                    <a class="govuk-link--no-visited-state" href="../school/check-ab">AB has already claimed an ECT</a>
                </h2>
                <p class="govuk-body">When adding an ECT and they've already been claimed by an AB.</p>
            </section>
            <section class="govuk-grid-column-one-quarter govuk-!-margin-bottom-8">
                <h2 class="govuk-heading-m govuk-!-margin-bottom-2">
                    <a class="govuk-link--no-visited-state" href="add-ect/cant-register">Cannot register - prohibited</a>
                </h2>
                <p class="govuk-body">When an ECT or mentor is prohibited from teaching and cannot be registered.</p>
            </section>
        </div>

        <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible govuk-!-margin-top-0">

        <h2 class="govuk-heading-m govuk-!-margin-bottom-6">Add a mentor</h2>
        <div class="govuk-grid-row">
            <section class="govuk-grid-column-one-quarter govuk-!-margin-bottom-8">
                <h2 class="govuk-heading-m govuk-!-margin-bottom-2">
                    <a class="govuk-link--no-visited-state" href="add-mentor/no-trn">Mentor needs a TRN</a>
                </h2>
                <p class="govuk-body">When trying to add a mentor without a TRN.</p>
            </section>
            <section class="govuk-grid-column-one-quarter govuk-!-margin-bottom-8">
                <h2 class="govuk-heading-m govuk-!-margin-bottom-2">
                    <a class="govuk-link--no-visited-state" href="add-ect/cant-use-email">Email address already in use</a>
                </h2>
                <p class="govuk-body">When users enter an email address that is already in use for a different teacher</p>
            </section>
            <section class="govuk-grid-column-one-quarter govuk-!-margin-bottom-8">
                <h2 class="govuk-heading-m govuk-!-margin-bottom-2">
                    <a class="govuk-link--no-visited-state" href="add-mentor/trn-not-found">TRN is inactive or not found</a>
                </h2>
                <p class="govuk-body">When users try to search a TRN that doesn't exist or is inactive.</p>
            </section>
            <section class="govuk-grid-column-one-quarter govuk-!-margin-bottom-8">
                <h2 class="govuk-heading-m govuk-!-margin-bottom-2">
                    <a class="govuk-link--no-visited-state" href="add-mentor/not-found">TRN & NINO do not match</a>
                </h2>
                <p class="govuk-body">When users enter a TRN & NINO that hasn't matched correctly.</p>
            </section>
            <section class="govuk-grid-column-one-quarter govuk-!-margin-bottom-8">
                <h2 class="govuk-heading-m govuk-!-margin-bottom-2">
                    <a class="govuk-link--no-visited-state" href="../school/mentor/nino">Asking for a NINO when adding a mentor</a>
                </h2>
                <p class="govuk-body">When users are asked for a NINO because a TRN & DOB don't match while adding a mentor.</p>
            </section>
            <section class="govuk-grid-column-one-quarter govuk-!-margin-bottom-8">
                <h2 class="govuk-heading-m govuk-!-margin-bottom-2">
                    <a class="govuk-link--no-visited-state" href="add-ect/cant-register">Cannot register - prohibited</a>
                </h2>
                <p class="govuk-body">When an ECT or mentor is prohibited from teaching and cannot be registered.</p>
            </section>
            <section class="govuk-grid-column-one-quarter govuk-!-margin-bottom-8">
                <h2 class="govuk-heading-m govuk-!-margin-bottom-2">
                    <a class="govuk-link--no-visited-state" href="add-mentor/mentor-already-registered">Mentor already registered at school</a>
                </h2>
                <p class="govuk-body">When users match to a mentor that is already registered at the school.</p>
            </section>
        </div>
    </div>
</div>

{% endblock %}