{% extends "layouts/mentors.html" %}

{% if data['fullName'] %}
{% set name = data['fullName'] %}
{% else %}
{% set name = 'Samuel Taylor' %}
{% endif %}

{% set pageName="You have registered " + name + " as a mentor" %}

{% block beforeContent %}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <div class="govuk-panel govuk-panel--confirmation">
            <h1 class="govuk-panel__title">
                {{ pageName }}
            </h1>
        </div>
        <h2 class="govuk-heading-m">What happens next</h2>
        <p class="govuk-body">We’ll let this person know you’ve registered them for ECF-based mentoring at your school. They do not need to provide us with any more information.</p>

        <p><a href="#">Back to your mentors</a></p>
    </div>
</div>

{% endblock %}