{% extends "layouts/main.html" %}

{% set pageName="Check your answers before submitting" %}

{% block beforeContent %}
{{ govukBackLink({
text: "Back",
href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <form method="post">
        <h1 class="govuk-heading-l">{{ pageName }}</h1>

            {% set rows = [
            {
            key: {
            text: "First name"
            },
            value: {
            text: "John"
            }
            },
            {
            key: {
            text: "Last name"
            },
            value: {
            text: "Smith"
            }
            },
            {
            key: {
            text: "Teacher reference number (TRN)"
            },
            value: {
            text: "0011001"
            },
            actions: {
            items: [
            {
            href: "#",
            text: "Change",
            visuallyHiddenText: "TRN"
            }
            ]
            }
            },
            {
            key: {
            text: "Date of birth"
            },
            value: {
            text: "5 January 1978"
            },
            actions: {
            items: [
            {
            href: "#",
            text: "Change",
            visuallyHiddenText: "date of birth"
            }
            ]
            }
            },
            {
            key: {
            text: "Email address"
            },
            value: {
            text: "info@email.com"
            },
            actions: {
            items: [
            {
            href: "#",
            text: "Change",
            visuallyHiddenText: "email address"
            }
            ]
            }
            }
            ] %}


            {% if data['askForNino'] == 'yes' %}
            {% set rows = rows.concat([{
            key: {
            text: "National Insurance number"
            },
            value: {
            text: "QQ123456C"
            }
            }]) %}
            {% endif %}

            <h2 class="govuk-heading-m">Teacher details</h2>

            {{ govukSummaryList({ rows: rows }) }}

            <h2 class="govuk-heading-m">Programme details</h2>

            {% if data.programmeType == 'School-led' %}

            {{ govukSummaryList({
            rows: [
            {
            key: {
            text: "Programme type"
            },
            value: {
            text: "School-led"
            },
            actions: {
            items: [
            {
            href: "#",
            text: "Change",
            visuallyHiddenText: "programme type"
            }
            ]
            }
            },
            {
            key: {
            text: "Appropriate body"
            },
            value: {
            text: "Teaching school hub name"
            },
            actions: {
            items: [
            {
            href: "#",
            text: "Change",
            visuallyHiddenText: "appropriate body"
            }
            ]
            }
            }
            ]
            }) }}

            {% else %}

            {{ govukSummaryList({
            rows: [
            {
            key: {
            text: "Programme type"
            },
            value: {
            text: "Provider-led"
            },
            actions: {
            items: [
            {
            href: "#",
            text: "Change",
            visuallyHiddenText: "programme type"
            }
            ]
            }
            },
            {
            key: {
            text: "Delivery partner"
            },
            value: {
            text: "Partner name"
            },
            actions: {
            items: [
            {
            href: "#",
            text: "Change",
            visuallyHiddenText: "delivery partner"
            }
            ]
            }
            },
            {
            key: {
            text: "Lead provider"
            },
            value: {
            text: "Provider name"
            }
            },
            {
            key: {
            text: "Appropriate body"
            },
            value: {
            text: "Teaching school hub name"
            },
            actions: {
            items: [
            {
            href: "#",
            text: "Change",
            visuallyHiddenText: "appropriate body"
            }
            ]
            }
            }
            ]
            }) }}

            {% endif %}

            {% if data.useDefaults == 'no' or data.defaultsAlreadyAdded == 'no' %}
            {{ govukRadios({
            classes: "govuk-radios--inline",
            name: "saveAsDefault",
            fieldset: {
            legend: {
            text: "Would you like to save these as the default programme details for your school?",
            isPageHeading: false,
            classes: "govuk-fieldset__legend--m"
            }
            },
            hint: {
            text: "This will make it easier to add more ECTs using the same programme details."
            },
            items: [
            {
            value: "yes",
            text: "Yes"
            },
            {
            value: "no",
            text: "No"
            }
            ]
            }) }}
            {% endif %}


            <button class="govuk-button">Confirm details</button>
        </form>
    </div>
</div>

{% endblock %}
