{% extends "layouts/main.html" %}

{% set pageName="You have added John Smith as an early career teacher" %}

{% block beforeContent %}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <div class="govuk-panel govuk-panel--confirmation">
            <h1 class="govuk-panel__title">
                {{ pageName }}
            </h1>
        </div>
        <h2 class="govuk-heading-m">What happens next</h2>
        <p class="govuk-body">
            We have added John Smith as an early career teacher at [school name].
        </p>

        <a class="govuk-button" href="find-ect">Add another ECT</a>

        <p><a href="#">Back to your ECTs</a></p>
    </div>
</div>

{% endblock %}
