{% extends "layouts/main.html" %}

{% set pageName="You have registered John Smith as an early career teacher" %}

{% block beforeContent %}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <div class="govuk-panel govuk-panel--confirmation">
            <h1 class="govuk-panel__title">
                {{ pageName }}
            </h1>
        </div>
        <h2 class="govuk-heading-m">Next steps</h2>
        <h3 class="govuk-heading-s">Contact your lead provider</h3>
        <p class="govuk-body">You'll need to contact your lead provider so that they can provide you with access to:</p>
        <ul class="govuk-list govuk-list--bullet">
            <li>training content and resources</li>
            <li>systems used for reporting on the ECT's training progress</li>
        </ul>

        <h3 class="govuk-heading-s">School funding</h3>
        <p class="govuk-body">We can confirm that this ECT qualifies for funded training and scheduled time off timetable for training and mentoring.</p>

        <h3 class="govuk-heading-s">Change of registration details</h3>
        <p class="govuk-body">If any details regarding your ECT change, it’s your responsibility to notify us. Sign in to the service to update any changes.</p>

        <p><a href="#">Back to your ECTs</a></p>
    </div>
</div>

{% endblock %}