{% extends "layouts/main.html" %}

{% set pageName="We were unable to match your ECT's details" %}

{% block beforeContent %}
{{ govukBackLink({
text: "Back",
href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <form method="post">

            <h1 class="govuk-heading-l">{{ pageName }}</h1>
            <p>We cannot find a match with the details you've provided.</p>
            <p class="govuk-body">
                You can check the ECT's teacher reference number (TRN) is accurate by <a href="https://check-a-teachers-record.education.gov.uk/check-records/sign-in" class="govuk-link govuk-link--no-underline">reviewing their teacher record.</a>
            </p>

            <p class="govuk-body">Alternatively, you can ask the ECT to check their TRN by using the:</p>
            <ul class="govuk-list govuk-list--bullet">
                <li><p class="govuk-body">
                    <a href="https://find-a-lost-trn.education.gov.uk/start" class="govuk-link govuk-link--no-underline">find a lost TRN service</a>
                <li><p class="govuk-body"></p>
                    <a href="https://manage-training-for-early-career-teachers.education.gov.uk/participants/start-registration/get-a-trn" class="govuk-link govuk-link--no-underline">get a TRN service</a> if they've never received one before</li>
                </p></li>
            </ul>

            <button class="govuk-button">Try again</button>
        </form>

    </div>
</div>

{% endblock %}
