{% extends "layouts/main.html" %}

{% set pageName="You're adding John Smith as an ECT" %}

{% block beforeContent %}
{{ govukBackLink({
text: "Back",
href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l">{{ pageName }}</h1>
        <form method="post">

            {% set rows = [
            {
            key: {
            text: "Name"
            },
            value: {
            text: "John Smith"
            }
            },
            {
            key: {
            text: "Teacher reference number (TRN)"
            },
            value: {
            text: "0011001"
            }
            },
            {
            key: {
            text: "Date of birth"
            },
            value: {
            text: "5 January 1978"
            }
            }
            ] %}

            {% if data['askForNino'] == 'yes' %}
            {% set rows = rows.concat([{
            key: {
            text: "National Insurance number"
            },
            value: {
            text: "QQ123456C"
            }
            }]) %}
            {% endif %}

            {{ govukSummaryList({ rows: rows }) }}

            {{ govukDetails({
            summaryText: "Help if your ECT's name has changed",
            text: "."
            }) }}

            <button class="govuk-button">Confirm and continue</button>
        </form>

        <p>If these details are incorrect, go back and <a href="find-ect">check details</a>.</p>
    </div>
</div>

{% endblock %}
