{% extends "layouts/main.html" %}

{% set pageName="You're adding John Smith as an ECT" %}

{% block beforeContent %}
{{ govukBackLink({
text: "Back",
href: "javascript:window.history.back()"
}) }}
{% endblock %}

<h1 class="govuk-heading-l">{{ pageName }}</h1>
<p>Find your ECT by entering their teacher reference number (TRN) and date of birth.</p>

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l">{{ pageName }}</h1>
        <form method="post">

            <p>This is the teacher we found in the database for qualified teachers (DQT) based on the details you provided:</p>

            {% if data['dob-day'] and data['dob-month'] and data['dob-year'] %}
            {% set dob = data['dob-day'] + ' ' + data['dob-month'] | monthName + ' ' + data['dob-year'] %}
            {% else %}
            {% set dob = '1 January 1990' %}
            {% endif %}

            {% if data['trn'] %}
            {% set trn = data['trn'] %}
            {% else %}
            {% set trn = '5249105' %}
            {% endif %}

            {% set rows = [
            {
            key: {
            text: "First name"
            },
            value: {
            text: "John"
            }
            },
            {
            key: {
            text: "Last name"
            },
            value: {
            text: "Smith"
            }
            },
            {
            key: {
            text: "Teacher reference number (TRN)"
            },
            value: {
            text: trn
            }
            },
            {
            key: {
            text: "Date of birth"
            },
            value: {
            text: dob
            }
            }
            ] %}

            {% if data['askForNino'] == 'yes' %}
            {% set rows = rows.concat([{
            key: {
            text: "National Insurance number"
            },
            value: {
            text: "QQ123456C"
            }
            }]) %}
            {% endif %}

            {{ govukSummaryList({ rows: rows }) }}

            <details class="govuk-details">
                <summary class="govuk-details__summary">
                    <span class="govuk-details__summary-text">
                        Help if your ECT's name has changed
                    </span>
                </summary>
                <div class="govuk-details__text">
                    <p class="govuk-body">If your ECT's name has changed and they have not updated their teaching
                        record, you can:</p>
                    <ul class="govuk-list govuk-list--bullet">
                        <li>use their previous name to register with the service</li>
                        <li>use their previous name to register, then the ECT can change their name on their teacher
                            record at a later date</li>
                        <li>ask your ECT to change their name by using the <p class="govuk-body"><a href="https://www.gov.uk/guidance/check-a-teachers-record"
                                                                                                    class="govuk-link">check a teacher record service</a> first and then return to
                            register your ECT</p></a> </li>
                    </ul>
                </div>
            </details>

            <!-- The button should be inside the form -->
            <button type="submit" class="govuk-button" data-module="govuk-button">
                Confirm and continue
            </button>
        </form>

        <p>If these details are incorrect, go back and <a href="find-ect">check details.</a></p>
    </div>
</div>

{% endblock %}