{% extends "layouts/induction-tutor.html" %}

{% set pageName="Tell us your school induction tutor" %}

{% block beforeContent %}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <form method="post">

        <h1 class="govuk-heading-l">{{ pageName }}</h1>

        <p>This person will be your main point of contact for early career training and induction. We share these details with your appropriate body and lead providers (if your school uses provider-led training programmes).</p>

        <p>Our records show that the following person is currently your school induction tutor:</p>

        {{ govukSummaryList({
            rows: [
                {
                    key: { text: "Name" },
                    value: { text: "Peter Davies" }
                },
                {
                    key: { text: "Email" },
                    value: { text: "peter.davies@example.com" }
                }
            ]
        }) }}


{% set newsitdetails %}
        <p>Enter new school induction tutor details.</p>
            {{ govukInput({
                id: "tutor-name",
                classes: "govuk-input--width-20",
                name: "newTutorName",
                label: {
                    text: "Full name"
                }
            }) }}

            {{ govukInput({
                id: "tutor-email",
                classes: "govuk-input--width-20",
                name: "newTutorEmail",
                label: {
                    text: "Email"
                },
                hint: {
    text: "Do not use a generic email like headteacher@school.com"
  }
            }) }}
        {% endset %}


       

        {{govukRadios({
            idPrefix: "confirm-school-induction-tutor",
            name: "confirm-school-induction-tutor",
            fieldset: {
                legend: {
                    text: "Will Peter Davies continue as your school induction tutor?",
                    isPageHeading: false,
                    classes: "govuk-fieldset__legend--m"
                }
            },
            items: [
                {
                    id: "new-sit",
                    name: "NewSit",
                    value: "yes",   
                    text: "Yes"
                },
                {
                   id: "new-sit-email",
                    name: "NewSitEmail",
                    value: "no",
                    text: "No, someone else will be the school induction tutor",
                    conditional: {
        html: newsitdetails
      }
      
                }
            ]
        }) }}

            <button class="govuk-button">Continue</button>
        </form>

    </div>
</div>

{% endblock %}
