{% extends "layouts/main.html" %}

{% set pageName="What you'll need to register ECTs and mentors" %}

{% block beforeContent %}

{{ govukBackLink({
text: "Back",
href: "javascript:window.history.back()"
}) }}

{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l">{{pageName}}</h1>
        <p>For ECTs and mentors you'll need to provide these details:</p>
        <ul class="govuk-list govuk-list--bullet">
            <li>name</li>
            <li>teacher reference number (TRN)</li>
            <li>date of birth</li>
            <li>email address</li>
            <li>lead provider</li>
        </ul>
        <p>For ECTs only, you'll also need to provide these details:</p>
        <ul class="govuk-list govuk-list--bullet">
            <li>start date at your school as an ECT</li>
            <li>full or part time working pattern</li>
            <li>date of birth</li>
            <li>appropriate body</li>
            <li>provider-led or school-led training</li>
        </ul>

        <details class="govuk-details">
            <summary class="govuk-details__summary">
                <span class="govuk-details__summary-text">
                  What are the roles of an appropriate body, lead provider and delivery partner?
                </span>
            </summary>
            <div class="govuk-details__text">
                <p>An appropriate body is responsible for assuring the quality of the statutory induction of ECTs. A lead provider creates the materials used for training ECTs and mentors, while the delivery partner delivers training events.</p>
                <p>These roles are sometimes undertaken by the same organisation, for example an appropriate body might be the same organisation as the delivery partner.</p>
            </div>
        </details>

        <a href="#" role="button" draggable="false" class="govuk-button govuk-button--start" data-module="govuk-button">
            Continue to DfE Sign-in
            <svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="17.5" height="19" viewBox="0 0 33 40" aria-hidden="true" focusable="false">
                <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z" />
            </svg>
        </a>
        <p><a class="govuk-link" href="javascript:window.history.back()">Back to start page</a></p>

    </div>
</div>

{% endblock %}