{% extends "layouts/ects.html" %}

{% set pageName="What you'll need to register a new ECT" %}

{% block beforeContent %}
{{ govukBackLink({
text: "Back",
href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <form method="post">

            <h1 class="govuk-heading-l">{{pageName}}</h1>

            <p>You'll need the ECT's:</p>
            <ul class="govuk-list govuk-list--bullet">
                <li>name</li>
                <li>teacher reference number (TRN)</li>
                <li>date of birth</li>
                <li>email address</li>
                <li>start date at your school as an ECT</li>
                <li>working pattern (full or part time)</li>
                <li>appropriate body</li>
                <li>training programme (provider-led or school-led)</li>
                <li>lead provider</li>
                <li>mentor (you can provide these details later if you need to)</li>
            </ul>

            <details class="govuk-details">
                <summary class="govuk-details__summary">
                <span class="govuk-details__summary-text">
                  What are the roles of an appropriate body, lead provider and delivery partner?
                </span>
                </summary>
                <div class="govuk-details__text">
                <p>An appropriate body is responsible for assuring the quality of the statutory induction of ECTs. A lead provider creates the materials used for training ECTs and mentors, while the delivery partner delivers training events.</p>
                <p>These roles are sometimes undertaken by the same organisation, for example an appropriate body might be the same organisation as the delivery partner.</p>
                </div>
            </details>

            {{ govukButton({
            text: "Continue"
            }) }}
        </form>
    </div>
</div>

{% endblock %}