{#
For guidance on how to use layouts see:
https://prototype-kit.service.gov.uk/docs/how-to-use-layouts
#}

{% extends "govuk-prototype-kit/layouts/govuk-branded.njk" %}

{% if data['schoolName'] %}
{% set schoolName = data['schoolName'] %}
{% else %}
{% set schoolName = 'School name' %}
{% endif %}

{% block header %}
<style>
    .govuk-width-container {
        max-width: 1200px;
    }
</style>
{% from "layouts/macros/signed-in-header.njk" import signedInHeader %}
{{ signedInHeader({
  organisationName: "Department for Education"
}) }}
<section aria-label="Service information" class="govuk-service-navigation" data-module="govuk-service-navigation">
    <div class="govuk-width-container">
        <div class="govuk-service-navigation__container">
      <span class="govuk-service-navigation__service-name">
        <a href="#" id="home" class="govuk-service-navigation__link"> Register early career teachers </a>
      </span>
            <nav aria-label="Menu" class="govuk-service-navigation__wrapper">
                <button type="button" class="govuk-service-navigation__toggle govuk-js-service-navigation-toggle" aria-controls="navigation" hidden=""> Menu </button>
                <ul class="govuk-service-navigation__list" id="navigation">
                    <li class="govuk-service-navigation__item{% if activeNav == 'teachers' or not activeNav %} govuk-service-navigation__item--active{% endif %}">
                        <a class="govuk-service-navigation__link" href="#"{% if activeNav == 'teachers' or not activeNav %} aria-current="true"{% endif %} id="teachers">
                            {% if activeNav == 'teachers' or not activeNav %}<strong class="govuk-service-navigation__active-fallback">Teachers</strong>{% else %}Teachers{% endif %}
                        </a>
                    </li>
                    <li class="govuk-service-navigation__item{% if activeNav == 'schools' %} govuk-service-navigation__item--active{% endif %}">
                        <a class="govuk-service-navigation__link" href="#"{% if activeNav == 'schools' %} aria-current="true"{% endif %} id="schools">
                            {% if activeNav == 'schools' %}<strong class="govuk-service-navigation__active-fallback">Schools</strong>{% else %}Schools{% endif %}
                        </a>
                    </li>                    
                    <li class="govuk-service-navigation__item{% if activeNav == 'organisations' %} govuk-service-navigation__item--active{% endif %}">
                        <a class="govuk-service-navigation__link" href="#"{% if activeNav == 'organisations' %} aria-current="true"{% endif %} id="organisations">
                            {% if activeNav == 'organisations' %}<strong class="govuk-service-navigation__active-fallback">Organisations</strong>{% else %}Organisations{% endif %}
                        </a>
                    </li>
                    <li class="govuk-service-navigation__item{% if activeNav == 'finance' %} govuk-service-navigation__item--active{% endif %}">
                        <a class="govuk-service-navigation__link" href="#"{% if activeNav == 'finance' %} aria-current="true"{% endif %} id="finance">
                            {% if activeNav == 'finance' %}<strong class="govuk-service-navigation__active-fallback">Finance</strong>{% else %}Finance{% endif %}
                        </a>
                    </li>
                    <li class="govuk-service-navigation__item{% if activeNav == 'users' %} govuk-service-navigation__item--active{% endif %}">
                        <a class="govuk-service-navigation__link" href="#"{% if activeNav == 'users' %} aria-current="true"{% endif %} id="users">
                            {% if activeNav == 'users' %}<strong class="govuk-service-navigation__active-fallback">Users</strong>{% else %}Users{% endif %}
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</section>
{% endblock %}

{% block scripts %}
{{ super() }}
<script src="/public/javascripts/dfe-frontend.js"></script>

<script>
    // Ensure DOM is fully loaded before manipulating
    document.addEventListener("DOMContentLoaded", function() {
        // Get the current URL
        const url = window.location.href;

        // Use the match() method to find the value in the URL
        const currentV = url.match(/v\d+/);

        // Set the value as the href attribute of the link
        const homeLink = document.querySelector(".govuk-service-navigation__service-name a");
        if (homeLink) homeLink.href = "/" + currentV + "/admin/teachers"
        document.getElementById("teachers").href = "/" + currentV + "/admin/teachers"
        document.getElementById("organisations").href = "/" + currentV + "/admin/organisations/index"
        document.getElementById("schools").href = "/" + currentV + "/admin/organisations/schools"
        document.getElementById("finance").href = "/" + currentV + "/admin/finance/index"
        document.getElementById("users").href = "/" + currentV + "/admin/users/users"

    });
</script>
{% endblock %}