{#
For guidance on how to use layouts see:
https://prototype-kit.service.gov.uk/docs/how-to-use-layouts
#}

{% extends "govuk-prototype-kit/layouts/govuk-branded.njk" %}

{% if data['schoolName'] %}
{% set schoolName = data['schoolName'] %}
{% else %}
{% set schoolName = 'St John\'s C of E Primary School' %}
{% endif %}

{% from "layouts/macros/signed-in-header.njk" import signedInHeader %}

{% block header %}
{{ signedInHeader({
  schoolName: schoolName
}) }}
<section aria-label="Service information" class="govuk-service-navigation" data-module="govuk-service-navigation">
    <div class="govuk-width-container">
        <div class="govuk-service-navigation__container">
      <span class="govuk-service-navigation__service-name">
        <a href="#" id="home" class="govuk-service-navigation__link"> Register early career teachers </a>
      </span>
            <nav aria-label="Menu" class="govuk-service-navigation__wrapper">
                <button type="button" class="govuk-service-navigation__toggle govuk-js-service-navigation-toggle" aria-controls="navigation" hidden=""> Menu </button>
                <ul class="govuk-service-navigation__list" id="navigation">
                    <li class="govuk-service-navigation__item govuk-service-navigation__item--active">
                        <a class="govuk-service-navigation__link" href="#" aria-current="true" id="ects">
                            <strong class="govuk-service-navigation__active-fallback">ECTs</strong>
                        </a>
                    </li>
                    <li class="govuk-service-navigation__item">
                        <a class="govuk-service-navigation__link" href="#" id="mentors">Mentors</a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</section>
{% endblock %}


{% block footer %}
{% from "govuk/components/footer/macro.njk" import govukFooter %}

{{ govukFooter({
  meta: {
    html: '<h2 class="govuk-heading-m">Help and support</h2>
    <p>If you have a question or a problem using this service, <a class="govuk-link" href="#">contact support</a>.</p>',
    items: [
      {
        href: "/manage-prototype ",
        text: "Manage your prototype"
      },
      {
        href: "/manage-prototype/clear-data",
        text: "Clear data"
      }
    ]
    
  }
}) }}
{% endblock %}

{% block scripts %}
{{ super() }}
<script src="/public/javascripts/dfe-frontend.js"></script>

<script>
    // Ensure DOM is fully loaded before manipulating
    document.addEventListener("DOMContentLoaded", function() {
        // Get the current URL
        const url = window.location.href;

        // Use the match() method to find the value in the URL
        const currentV = url.match(/v\d+/);

        // Set the value as the href attribute of the link
        const homeLink = document.querySelector(".govuk-service-navigation__service-name a");
        if (homeLink) homeLink.href = "/" + currentV + "/school/home/ects"
        document.getElementById("ects").href = "/" + currentV + "/school/home/ects"
        document.getElementById("mentors").href = "/" + currentV + "/school/home/mentors"
    });
</script>
{% endblock %}