{#
For guidance on how to use layouts see:
https://prototype-kit.service.gov.uk/docs/how-to-use-layouts
#}

{% extends "govuk-prototype-kit/layouts/govuk-branded.njk" %}

{% if data['schoolName'] %}
{% set schoolName = data['schoolName'] %}
{% else %}
{% set schoolName = 'School name' %}
{% endif %}

{% block header %}
<style>
    /* .govuk-width-container {
        max-width: 1200px;
    } */
</style>
{% from "layouts/macros/signed-in-header.njk" import signedInHeader %}
{{ signedInHeader({
  organisationName: "Department for Education"
}) }}
<section aria-label="Service information" class="govuk-service-navigation" data-module="govuk-service-navigation">
    <div class="govuk-width-container">
        <div class="govuk-service-navigation__container">
      <span class="govuk-service-navigation__service-name">
        <a href="#" id="home" class="govuk-service-navigation__link"> Register early career teachers </a>
      </span>
            <nav aria-label="Menu" class="govuk-service-navigation__wrapper">
                <button type="button" class="govuk-service-navigation__toggle govuk-js-service-navigation-toggle" aria-controls="navigation" hidden=""> Menu </button>
                <ul class="govuk-service-navigation__list" id="navigation">
                    <li class="govuk-service-navigation__item">
                        <a class="govuk-service-navigation__link" href="#" id="teachers">Teachers</a>
                    </li>
                    <li class="govuk-service-navigation__item">
                        <a class="govuk-service-navigation__link" href="#" id="organisations">Organisations</a>
                    </li>
                    <li class="govuk-service-navigation__item govuk-service-navigation__item--active">
                        <a class="govuk-service-navigation__link" href="#" aria-current="true" id="finance">
                            <strong class="active govuk-service-navigation__active-fallback">Finance</strong>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</section>
{% endblock %}

{% block scripts %}
{{ super() }}
<script src="/public/javascripts/dfe-frontend.js"></script>

<script>
    // Ensure DOM is fully loaded before manipulating
    document.addEventListener("DOMContentLoaded", function() {
        // Get the current URL
        const url = window.location.href;

        // Use the match() method to find the value in the URL
        const currentV = url.match(/v\d+/);

        // Set the value as the href attribute of the link
        const homeLink = document.querySelector(".govuk-service-navigation__service-name a");
        if (homeLink) homeLink.href = "/" + currentV + "/admin/teachers"
        document.getElementById("teachers").href = "/" + currentV + "/admin/teachers"
        document.getElementById("organisations").href = "/" + currentV + "/admin/organisations"
        document.getElementById("finance").href = "/" + currentV + "/admin/finance/index"
    });
</script>
{% endblock %}