{#
    For guidance on how to use layouts see:
    https://prototype-kit.service.gov.uk/docs/how-to-use-layouts
    #}
    
    {% extends "govuk-prototype-kit/layouts/govuk-branded.njk" %}
    
    {% if data['schoolName'] %}
    {% set schoolName = data['schoolName'] %}
    {% else %}
    {% set schoolName = 'St John\'s C of E Primary School' %}
    {% endif %}
    
    {% from "layouts/macros/signed-in-header.njk" import signedInHeader %}

{% block header %}
{{ signedInHeader({
  schoolName: schoolName
}) }}
{{ govukServiceNavigation({
  serviceName: "Register early career teachers",
  serviceUrl: "#",
  navigationId: "service-navigation-list",
  navigation: [
    {
      href: "#",
      text: "ECTs",
      attributes: {
        id: "ects"
      }
    },
    {
      href: "#",
      text: "Mentors",
      attributes: {
        id: "mentors"
      }
    },
    {
      href: "#",
      text: "Induction tutor",
      attributes: {
        id: "school"
      }
    }
  ]
}) }}
{% endblock %}
    
    {% block scripts %}
    {{ super() }}
    <script src="/public/javascripts/dfe-frontend.js"></script>
    
    <script>
        // Ensure DOM is fully loaded before manipulating
        document.addEventListener("DOMContentLoaded", function() {
            // Get the current URL
            const url = window.location.href;
    
            // Use the match() method to find the value in the URL
            const currentV = url.match(/v\d+/);
    
            // Set the value as the href attribute of the link
            const homeLink = document.querySelector(".govuk-service-navigation__service-name a");
        if (homeLink) homeLink.href = "/" + currentV + "/school/home/ects"
            document.getElementById("ects").href = "/" + currentV + "/school/home/ects"
            document.getElementById("mentors").href = "/" + currentV + "/school/home/mentors"
            document.getElementById("school").href = "/" + currentV + "/school/home/induction-tutor"        
        });
    </script>
    {% endblock %}