{#
For guidance on how to use layouts see:
https://prototype-kit.service.gov.uk/docs/how-to-use-layouts
#}

{% extends "govuk-prototype-kit/layouts/govuk-branded.njk" %}

{% block header %}
{{ govukHeader({
homepageUrl: "/",
classes: "govuk-header--full-width-border"
}) }}

<section aria-label="Service information" class="govuk-service-navigation" data-module="govuk-service-navigation">
    <div class="govuk-width-container">
        <div class="govuk-service-navigation__container">
      <span class="govuk-service-navigation__service-name">
        <a href="#" class="govuk-service-navigation__link"> Register early career teachers </a>
      </span>
            <nav aria-label="Menu" class="govuk-service-navigation__wrapper">
                <button type="button" class="govuk-service-navigation__toggle govuk-js-service-navigation-toggle" aria-controls="navigation" hidden=""> Menu </button>
                <ul class="govuk-service-navigation__list" id="navigation">
                    <li class="govuk-service-navigation__item">
                        <a class="govuk-service-navigation__link" href="#" id="ects">Your ECTs</a>
                    </li>
                    <li class="govuk-service-navigation__item govuk-service-navigation__item--active">
                        <a class="govuk-service-navigation__link" href="#" aria-current="true" id="mentors">
                            <strong class="govuk-service-navigation__active-fallback">Your mentors</strong>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</section>
{% endblock %}

{% block scripts %}
{{ super() }}
<script src="/node_modules/dfe-frontend/dist/dfefrontend.min.js"></script>

<script>
    // Ensure DOM is fully loaded before manipulating
    document.addEventListener("DOMContentLoaded", function() {
        // Get the current URL
        const url = window.location.href;

        // Use the match() method to find the value in the URL
        const currentV = url.match(/v\d+/);

        // Set the value as the href attribute of the link
        document.getElementById("ects").href = "/" + currentV + "/school/home/ects"
        document.getElementById("mentors").href = "/" + currentV + "/school/home/mentors"
    });
</script>
{% endblock %}