{#
For guidance on how to use layouts see:
https://prototype-kit.service.gov.uk/docs/how-to-use-layouts
#}

{% extends "govuk-prototype-kit/layouts/govuk-branded.njk" %}

{% set bodyClasses = "use-dfe-brand" %}

{% from "layouts/macros/dfe-header-logo.njk" import dfeHeaderLogo %}

{% block header %}
<style>
    .govuk-width-container {
        max-width: 1020px;
    }
</style>
<div class="govuk-header govuk-header--full-width-border">
  <div class="govuk-header__container govuk-width-container">
    <div class="govuk-header__logo">
      {{ dfeHeaderLogo() }}
    </div>
  </div>
</div>
{% endblock %}

{% block scripts %}
{{ super() }}
<script src="/public/javascripts/dfe-frontend.js"></script>
{% endblock %}